[2016-10-02 23:51] codedoll commented on #521
👍 just saw this version of the issue. opened link too fast. i see your examples now.

[2016-10-03 14:31] #494 closed

[2016-10-03 14:45] rickr commented on #511
Going to track this in a project: https://github.com/OperationCode/operationcode/projects/2

[2016-10-03 14:45] #511 closed

[2016-10-03 14:54] rickr commented on #514
Fixed in #515

[2016-10-03 14:54] #514 closed

[2016-10-03 16:18] aaron-suarez opened #522 "Fix bullet points in FAQ"
In the FAQ question "Why doesn't Operation Code offer services to non-military/veterans?" There is supposed to be a bulleted list but there are no bullet points. Firefox version 49.0/Ubuntu 16.04.1.

![faq bullets issue](https://cloud.githubusercontent.com/assets/2008701/19044717/1ba3bc12-895b-11e6-9a33-2c17c27c28c2.png)

[2016-10-03 16:26] codedoll opened #523 "Slack link broken on FAQ > "What are the hours of operation for Operation Code?""
![screen shot 2016-10-03 at 12 25 02 pm](https://cloud.githubusercontent.com/assets/17578236/19044951/73d618ea-8964-11e6-980b-e97007699bf7.png)

External link to Slack is broken.

[2016-10-03 17:02] aaron-suarez opened #524 "Add instructions to Contributing.MD for installing Node"
On a fresh install of Ubuntu 16.04.1, following the CONTRIBUTING.md instructions results in the following error:
[code]
Node install instructions need to be added to CONTRIBUTING.md

[2016-10-03 17:02] rickr commented on #522
@jeremysb1 - are we retaining the FAQ in your redesign?

[2016-10-03 21:02] codedoll opened #526 "Index hero slider is not responsive"
![screen shot 2016-10-03 at 5 01 17 pm](https://cloud.githubusercontent.com/assets/17578236/19053936/1d0ba436-898b-11e6-8dd3-017f4a5c7d60.png)

The text is cut off because the hero slider text is not responsive.

[2016-10-03 21:19] codedoll commented on #523
@hollomancer what didn't this close automatically with the merge?

[2016-10-03 21:20] hollomancer commented on #523
No idea. Closing

[2016-10-03 21:20] #523 closed

[2016-10-03 21:25] rickr commented on #523
I think `This closes issue #523` needs to be `This closes #523`.

[2016-10-03 21:26] codedoll commented on #523
Oh, thanks @rickr

[2016-10-04 04:39] jdspringr07 opened #527 "Logo In Mobile Layout Is Offcenter"
As a mobile user when I visit the page the logo is offcenter and not fully displayed

[2016-10-04 16:38] aaron-suarez commented on #522
I used some inline CSS to make it display like this:

![first-attempt-bullets](https://cloud.githubusercontent.com/assets/2008701/19083172/c10f0258-8a26-11e6-86c3-d6fdfa3dfa16.png)

Based on the fact that inline CSS worked, I don't think it's a problem with the HTML. I think perhaps we need to add a CSS class for this `<ul>` and that will override whatever CSS rule is causing the bullets to disapp

[2016-10-04 20:30] jotasprout commented on #376
Any direction would be awesome.

[2016-10-04 21:50] jdspringr07 commented on #527
![screenshot_2016-10-04-00-36-35](https://cloud.githubusercontent.com/assets/9255710/19093816/d403fcf4-8a5a-11e6-8d54-a3c6a6668459.jpg)
![screenshot_2016-10-04-00-36-59](https://cloud.githubusercontent.com/assets/9255710/19093815/d402582c-8a5a-11e6-8125-e4315193133d.jpg)
![screenshot_2016-10-04-00-37-40](https://cloud.githubusercontent.com/assets/9255710/19093817/d4042620-8a5a-11e6-9d2f-264e847334

[2016-10-05 14:33] rickr commented on #376
Hi @jotasprout thanks so much for pinging again. Really sorry I dropped the ball in your first replies.

Code Schools are managed through [https://github.com/OperationCode/operationcode/blob/master/config/code_schools.yml](config/code_schools.yml).

You should just be able to add this school there and see it show up on code_schools

[2016-10-05 15:14] rickr commented on #375
Fixed in #516

[2016-10-05 15:14] #375 closed

[2016-10-05 15:15] rickr commented on #526
Fixed in #528

[2016-10-05 15:16] #526 closed

[2016-10-05 15:18] rickr commented on #527
First issue is fixed in #526.

Did you try clicking outside of menu to collapse?

[2016-10-05 16:16] jotasprout commented on #376
That gives me a 404. While I found a "blog" folder, there's no "master" folder inside it.

[2016-10-05 16:44] rickr commented on #376
Ah - I think I mixed up my URL markdown. This is the link:
https://github.com/OperationCode/operationcode/blob/master/config/code_schools.yml

[2016-10-05 17:06] rickr commented on #524
Fixed in #529

[2016-10-05 17:06] #524 closed

[2016-10-05 17:19] jotasprout commented on #376
What is this witchcraft? How does that work? It's the same URL.

[2016-10-05 18:22] rickr commented on #376
Haha - I used the following markdown: `[https://github.com/OperationCode/operationcode/blob/master/config/code_schools.yml](config/code_schools.yml)` which has the URL and the link text backwards relatively linking to `config/code_schools.yml`.

[2016-10-05 19:51] jotasprout commented on #376
Just submitted the pull request. Newbie question re: the markdown--why would you do that? Also, should I really finish a Ruby course or two before seeking out further operationcode issues to help with?

[2016-10-05 20:38] codedoll commented on #527
@rickr it is not fixed still.

[2016-10-05 20:39] codedoll commented on #527
<img width="395" alt="screen shot 2016-10-05 at 4 38 24 pm" src="https://cloud.githubusercontent.com/assets/17578236/19130672/3404bcbe-8b1a-11e6-9e26-24b8d20412dc.png">
<img width="892" alt="screen shot 2016-10-05 at 4 38 42 pm" src="https://cloud.githubusercontent.com/assets/17578236/19130674/35405372-8b1a-11e6-9822-9799a0b6e528.png">

[2016-10-05 20:44] rickr commented on #527
There were 3 issues in this ticket. The first one was resolved (text to big in the header) in #526 and I don't think the 3rd issue is actually an issue so I renamed the ticket to deal only with the offcenter logo. Perhaps I should have closed this one and opened 3 more to avoid confusion.

[2016-10-05 20:45] rickr commented on #313
Fixed in #526

[2016-10-05 20:45] #313 closed

[2016-10-05 20:45] codedoll commented on #527
good call I agree.

[2016-10-05 21:56] #522 closed

[2016-10-05 22:22] codedoll commented on #362
@rickr this was fixed, not sure when. It wasn't me who made the PR.

<img width="1324" alt="screen shot 2016-10-05 at 6 21 05 pm" src="https://cloud.githubusercontent.com/assets/17578236/19133860/982fedf4-8b28-11e6-8de2-e79ca5d60b3b.png">
<img width="854" alt="screen shot 2016-10-05 at 6 21 31 pm" src="https://cloud.githubusercontent.com/assets/17578236/19133864/9e3b36cc-8b28-11e6-9abc-2e8922af8aa

[2016-10-06 14:27] rickr commented on #362
👍 @codedoll - closing.

[2016-10-06 14:27] #362 closed

[2016-10-06 14:39] rickr commented on #376
I was just trying to make the message read a bit easier. If I had done it correctly it would look like this: [config/code_schools.yml](https://github.com/OperationCode/operationcode/blob/master/config/code_schools.yml)

A lot of our beginner friendly issues are small HTML or CSS fixes so I'm sure you can still contribute, although learning rails would not be a bad thing!

[2016-10-06 14:41] jotasprout commented on #376
The courses I've chosen (based on research using the infallible Internet) to start just focus on Ruby. Your thoughts?

[2016-10-07 17:41] rickr commented on #376
If you're interested in webdev and rails having a good background in ruby won't hurt =)

This issue was fixed in #530. Thanks @jotasprout

[2016-10-07 17:41] #376 closed

[2016-10-14 03:25] ErnestoD opened #534 "All-in-one source for veteran benefits. (Not GI Bill or Health Care but non-government related)"
As a visitor,
I would like an all-in-one benefits to links.
It could include education/non-educational (non-GI related such as lydia.com with linkedin.com [free year membership] and https://niccs.us-cert.gov/training/federal-virtual-training-environment-fedvte for example.)

[2016-10-15 17:18] davidmolina opened #535 "Remove board members from /board"

[2016-10-15 17:22] davidmolina commented on #535
This [commit](https://github.com/OperationCode/operationcode/commit/2f56b01ac59c259466af21cf85071ac22e086817) fixes this.

[2016-10-15 17:22] #535 closed

[2016-10-16 03:45] bisho1995 commented on #527
![ice_screenshot_20161016-091359](https://cloud.githubusercontent.com/assets/12195877/19415063/020e1146-9381-11e6-96c7-7a6e2ac939e5.jpeg)

[2016-10-16 03:47] bisho1995 commented on #527
Guys I made some changes in the css and after those changes its looking like this .. but I am not used to the ways and means of github so I cannot post the solution. I will try to post it, but this is the expected result right ?

[2016-10-16 03:51] bisho1995 commented on #527
![ice_screenshot_20161016-092011](https://cloud.githubusercontent.com/assets/12195877/19415086/cdf3f226-9381-11e6-9e5c-418301dbeb36.jpeg)

Just do these two changes and you would be good

[2016-10-18 16:20] Wimsy113 opened #536 "Minimize the Logo Size (no rhyme intended)"
Please use one of the following templates to create new issues:

For a new feature:
As a visitor, when on the mobile site, the logo should be more compact

(https://cloud.githubusercontent.com/assets/7386887/19486630/2ae7037c-952d-11e6-887b-4e21d0a50268.png)

[2016-10-18 16:20] Wimsy113 opened #537 "Minimize the Logo Size (no rhyme intended)"
As a visitor, when on the mobile site, the logo should be more compact

![screen shot 2016-10-18 at 12 19 35 pm](https://cloud.githubusercontent.com/assets/7386887/19486685/59e10ef2-952d-11e6-823a-f5b285af1cdf.png)

[2016-10-18 16:24] Wimsy113 opened #538 "Mobile Interface Improvements"
As a visitor, on the mobile site, the hamburger menu should open to a neater, more user friendly overlay instead of a side bar menu to cut down on the amount of scrolling one has to do on mobile.

![screen shot 2016-10-18 at 12 21 45 pm](https://cloud.githubusercontent.com/assets/7386887/19486813/da2edcba-952d-11e6-9d10-ed74bfd65ebb.png)

[2016-10-18 21:23] hollomancer opened #539 "Guidestar image requested insecurely"
security warning https://www.operationcode.org/
470 Mixed Content: The page at 'https://www.operationcode.org/' was loaded over HTTPS, but requested an insecure image 'http://widgets.guidestar.org/gximage2?o=9522101&l=v3'. This content should also be served over HTTPS.

[2016-10-18 21:24] hollomancer opened #540 "Shorten meta description to under 160 chars for SEO"
Too long. 187 chars: 'Veteran-founded and led, Operation Code is a national 501(c)(3) non-profit organization on a mission to support military, veterans and military families coding and learn web technologies.'

[2016-10-18 21:24] hollomancer opened #541 "Shorten page title to under 55 characters for SEO"
Too long. 87 chars: 'Operation Code | Coding Veterans Service Organization | Open Source Veterans Non-Profit'

[2016-10-18 21:39] ryanwake commented on #541
I got this one. Pull request coming soon.

[2016-10-18 22:25] braxtonfair commented on #540
I got this, give me a few mins for a pull.

[2016-10-18 22:29] braxtonfair commented on #540
Could you mind telling me where this is? I can't seem to find where.

[2016-10-18 22:48] benhastings commented on #540
sorry, @braxtonfair, I didn't refresh to see your desire to take this one.

[2016-10-18 23:45] benhastings commented on #536
My day job is front-end performance optimization, so I absolutely appreciate that you care about optimizing a logo for speed.

After typing that and looking again... are you talking about changing the dimensions or payload size?  I've completed the latter and will be pushing that momentarily.  If that's not what you intended, I can take a stab and reducing the dimensions, too.

[2016-10-18 23:57] benhastings commented on #536
is this a duplicate/related to #470 & #510 or is it actually looking at the payload size?

If it is, I've scoured the site but can't seem to locate the image to replace with the payload optimized version.  I'll be happy to share it if needed/desired.

[2016-10-19 00:58] Wimsy113 commented on #536
Nope it's not related to #470 . It is related to #510. It was decided that in mobile, displaying the words "Operation Code" is not necessary, we can just use the medal in mobile. That's pretty much it.

[2016-10-19 01:00] Wimsy113 commented on #536
This is part of a redesign of the site in mobile. It's a revamp so that everything flows better and looks better and so we don't run into issues with the other elements in the header while in mobile.

[2016-10-19 01:11] braxtonfair commented on #540
@benhastings It's no problem.

[2016-10-19 16:47] ErnestoD commented on #512
I was looking into it but with Windows 10/IE 11, the text is gone but the actual arrows are below text.
![untitled](https://cloud.githubusercontent.com/assets/21998106/19528483/309324f4-95fa-11e6-8d36-aecba60b346b.png)

[2016-10-19 22:24] novohispano opened #546 "Updates Turing School VA status"

[2016-10-19 23:46] #546 closed

[2016-10-20 14:06] hollomancer opened #548 "Add GI bill approved schools to home page"
As a visitor,
When I visit the home page,
I should see what code schools are validated for the GI bill.

Sabio, Code Fellows, Turing

[2016-10-21 00:19] IndiraShrestha opened #551 "Carousel image opacity for the landing page"
As a visitor,
When I go to the landing page image,
If the opacity of images could increased a little bit so that the text pop's out it might be easier to read the text.

[2016-10-21 03:22] hollomancer commented on #539
Resolved by #544

[2016-10-21 03:22] #539 closed

[2016-10-21 03:23] hollomancer commented on #541
Fixed by #542

[2016-10-21 03:23] #541 closed

[2016-10-21 03:25] hollomancer commented on #513
See https://github.com/OperationCode/mentorship for this stuff.

[2016-10-21 03:25] #513 closed

[2016-10-21 03:26] hollomancer commented on #415
https://github.com/OperationCode/mentorship is where this stuff lives now.

[2016-10-21 03:26] #415 closed

[2016-10-21 03:29] hollomancer commented on #540
Resolved by #543

[2016-10-21 03:29] #540 closed

[2016-10-21 09:32] Dark-reaper commented on #538
@Wimsy113

Would it be possible for me to take ownership of this issue ?

I also noticed that the menu breaks when on mobile
![image](https://cloud.githubusercontent.com/assets/2376414/19593658/f54d2dd4-9781-11e6-89e6-7971f7638f68.png)

I propose something more similar to the mockup where to menu toggle is on right and the logo on the or centered, but the current logo will look bad if it's centere

[2016-10-21 09:48] sandmanx commented on #551
Can I do this?

[2016-10-21 09:55] Wimsy113 commented on #538
I was going to Livecode this on Saturday but something came up and now I can't do it, if you want you can take a whack at it @Dark-reaper but you'll need to complete issue #536 so you can incorporate the changes for the header first. I've got medal asset if you need it, just DM me in the slack and I'll get it to you

[2016-10-21 13:49] davidmolina opened #553 "Add VetBot for programming"
As a new member, when I join VetBot should ask what programming languages am I interested in. It should auto-respond with books, links to get started. For example:

VetBot: Hi, I'm VetBot of Operation Code here to assist and guide you towards some resources to get coding. What programming languages are you interested in learning so that I can tailor some solutions for you?
Me: Hi! I'm interested i

[2016-10-21 16:00] jonodonovan commented on #548
So taking the same information from https://operationcode.org/code_schools and adding it the home page?

[2016-10-22 02:00] ryanwake opened #555 "LetsEncrypt SSL cert expired"
I'm not sure how often you have certbot set to run to redo the certificate.  But was just letting you know that the certificate expired today and is not giving an unsecured site warning.

[2016-10-22 16:48] jjhampton commented on #555
Yeah, some others reported that in the Slack channel as well.  Tried fixing it this morning w. @davidmolina , still looking at it. Guess the certbot steps need to be repeated every time you want a new certificate?

[2016-10-22 17:06] rickr commented on #555
There should be a pinned item in #operationcode_dot_org explaining how to update the key. LMK if it's not there or you're having trouble and I can try to jump on.

[2016-10-22 17:25] rickr commented on #555
Disregard. I was able to update the cert.

[2016-10-22 17:38] ryanwake commented on #555
You should be able to set up a cron job that runs twice a day or so that automatically checks if the cert is expired and if so it renews. Let's encrypt certs only last 90 days.

[2016-10-22 18:08] jjhampton commented on #555
Thanks @rickr, great work on short notice.  There were some commits that @davidmolina and I pushed to master trying to manually add a new cert (in the `pages_controller` and `routes.rb`) that may not be necessary anymore (commits ba536e7b515772601b3356b0b04c4ff6714e198c and newer).

Think we can revert the master branch back to 7af811c041212a14c4f874fba49d9e8d22fdd409?

[2016-10-23 22:15] hollomancer commented on #283
The idea here is that they're automatically added to the 'contributors' team in Github. That means they can be assigned issues.

[2016-10-24 13:19] benhastings commented on #496
Desiring of keeping users in the operationcode application, the fact that the blog currently resides on the medium platform makes the best UX choice to have that link open a new tab/window. Blank target lets the user's browser make that choice.

This is the change included in the pull request (#545) referenced above.

[2016-10-25 18:14] davidmolina commented on #555
Definitely.,

[2016-10-25 18:26] davidmolina commented on #555
Thanks Ryan. We're conversing this over in Slack. I setup Comodore last
summer, and this summer we migrated over to Let's Encrypt. Waiting for Rick
to jump in the conversation.

On Fri, Oct 21, 2016 at 7:00 PM, Ryan Wake <notifications@github.com> wrote:

--
---
David Molina
http://davidmolina.github.io

[2016-10-26 02:49] DickinsonMark commented on #548
you can use GI bill at Galvanize as well!

[2016-10-26 14:27] #555 closed

[2016-10-31 04:14] BratCat commented on #468
Can I take this?

[2016-10-31 08:11] MADPT commented on #551
#557 opacity updated

[2016-11-01 00:01] aaron-suarez commented on #387
So, it looks like this is still open. Can I take it?

[2016-11-01 00:53] aaron-suarez commented on #387
So this was my interpretation of what we were trying to add here. Obviously, the next step is to add all of them, but this shows the first logo.

![with-sabio-logo](https://cloud.githubusercontent.com/assets/2008701/19876396/b92686b4-9fa3-11e6-89fe-3d5bc44d13ed.png)

[2016-11-01 02:18] rickr commented on #387
I think this requires a bit more thought.

My initial questions:
* What's the source of these logos?
* What if they can't be reduced down to fit in this table?
* Where are they going to be hosted?

[2016-11-01 02:22] aaron-suarez commented on #387
In my current implementation, the pictures are stored in operationcode/public and the original source is the website. I haven't ran into any size reduction problems thus far. This is where I'm at:

![with-three-logos](https://cloud.githubusercontent.com/assets/2008701/19877773/1f5b811c-9fb0-11e6-8afa-9b90d13a3994.png)

[2016-11-01 14:00] rickr commented on #387
That doesn't look too bad. What does it look like if the logos are on the left side and you align all the text on to the right of them?

[2016-11-01 14:15] rickr commented on #551
This was fixed in #554

[2016-11-01 14:15] #551 closed

[2016-11-02 01:57] aaron-suarez commented on #387
Here's how it looks with the logos on the left. What do you think?

![logos-on-left](https://cloud.githubusercontent.com/assets/2008701/19914077/bc51964e-a075-11e6-9607-725a7729c14c.png)

[2016-11-02 22:26] aaron-suarez commented on #387
So.. the only logos added in PR #561 were for the section "VA Approved Schools". Were we also trying to add logos for the section "Code School Scholarships" and "Code Schools by State"?

[2016-11-03 14:10] rickr commented on #387
Can you try centering the logos?

Yea - I think if we are going to add logos we should add logos to every school.

[2016-11-03 14:57] hollomancer commented on #387
For the front page, we definitely need logos. @rickr @davidmolina - what do you think of having a separate PR for the front page and the code schools page? Reason being, the front page has a bit more urgency re. how we present these schools

[2016-11-03 15:04] rickr commented on #387
#548 covers adding schools to the front page. It should be reusing the code from this PR unless we just want to stuff logos onto the main page.

[2016-11-11 18:48] awayken opened #562 "Vimeo video embedded on the homepage is not responsive"
As a visitor,
When I view the homepage
The Vimeo embed code does not respond to the viewport width, potentially forcing a lot of whitespace to the right side of the page.
It should scale the video to fit the screen.

Additional Information (eg browser version, screenshots etc):

This can probably be handled by using (and adjusting) the [embedresponsibly](http://embedresponsively.com/) version of V

[2016-11-11 19:09] awayken commented on #562
I dug more into this. It looks like Materialize offers a "video-container" class that does this same thing. It also looks like an attempt was made to use it previously that had layout issues. I investigated the layout issues and fixed them. Submitting a pull request shortly.

[2016-11-13 04:23] mwagz commented on #296
I'd like to tackle this one.

[2016-11-13 05:01] mwagz opened #565 "No Sign In Option after Signing Out"
As a visitor, when I sign out, there is no obvious way to sign back in. There is only an option to "Join", which throws an "account exists" error if you try to re-enter your information. It should provide a sign in option.

[2016-11-16 14:07] CdiegoBB commented on #537
What cellphone you use, tell me the model. I am new here and i want to help

[2016-11-19 13:56] hollomancer opened #568 "Signup Flow: Add Slack desktop app link to post-signup flow"
In order to reinforce Slack as a part of our community and onboarding experience, we should include a link to Slack on the post-signup page, after a user signs up.

[2016-11-19 14:12] hollomancer opened #569 "Signup Flow: Post-signup flow has fields to gather additional user information"
After we receive a user's email, we should immediately send an invite, but also request additional information from them on the post-signup flow.

Fields we should ask for;
Zipcode
Branch of Service
Military / Civilian
(other demographic information?)

Other examples of such information in #454.

[2016-11-22 00:42] hollomancer opened #570 "Signup Flow: Remove zipcode from signup flow"
In order to make the signup process as seamless as possible, let's take the zipcode out. We'll design a post-signup greeting to acquire additional information!

**Before this is worked on the above mentioned post signup greeting must be completed.**

[2016-11-22 16:11] #468 closed

[2016-11-22 16:11] #470 closed

[2016-11-22 16:11] #479 closed

[2016-11-22 16:11] #490 closed

[2016-11-22 16:11] #491 closed

[2016-11-22 16:11] #492 closed

[2016-11-22 16:11] #496 closed

[2016-11-22 16:11] #512 closed

[2016-11-22 16:11] #517 closed

[2016-11-22 16:11] #518 closed

[2016-11-22 16:11] #519 closed

[2016-11-22 16:11] #520 closed

[2016-11-22 16:11] #521 closed

[2016-11-22 16:11] #527 closed

[2016-11-22 16:23] rickr opened #571 "Donate flow uses Donorbox modal"
This interacts with stripe and allows users to donate from our website.

[2016-11-22 16:25] rickr opened #572 "Create slack service object"
We can probably reuse the old one.

It should be able to
[] Send messages to slack (chatops)
[] Send the slack invite out

[2016-11-22 18:07] rickr opened #573 "Create airtables service object"
Using https://github.com/Airtable/airtable-ruby

This object should be able to store user sign up information in an airtable base.

[2016-11-23 13:46] hollomancer commented on #571
What do we get with Stripe in terms of being able to save credit card information, donate with Paypal, Amazon Payments, etc?

Was looking at this donation system using Stripe; https://donorbox.org/

[2016-11-23 15:02] rickr commented on #571
I'm using these tickets to track what we need to bring over but this is something I wanted to bring up. Right now we have about 5 options - do we want to keep all of them? Do want to find something like donorbox?

[2016-11-23 15:56] hollomancer commented on #571
I think we should commit to a single option. Amazon Smile and purchasing stickers, etc. should not be under Donate.

Will take a quick look at how donorbox integrates...

[2016-11-25 23:32] hollomancer commented on #448
We'll use Donorbox for this.

[2016-11-25 23:32] #448 closed

[2016-11-25 23:33] hollomancer commented on #454
Captured in #569.

[2016-11-25 23:33] #454 closed

[2016-11-25 23:34] hollomancer commented on #456
We need more details on what this means.

[2016-11-25 23:34] #456 closed

[2016-11-25 23:37] hollomancer opened #576 "Markdown Blog at blog.operationcode.org"
We host our own blog in Markdown and republish to Medium and other sites for SEO.

Functional requirements:
- New blog entries can be created in Markdown.
- New blog entries create a new index entry.
- blog.operationcode.org redirects to the blog index, which may have its own design (not in the scope of this story)

This issue replaces #463.

[2016-11-25 23:37] hollomancer commented on #463
Change in scope. We host our own blog in Markdown and republish to Medium and other sites for SEO (see #576)

[2016-11-25 23:37] #463 closed

[2016-11-25 23:39] #435 closed

[2016-11-25 23:41] hollomancer commented on #237
I think we would want to just add people to Mailchimp for this.

[2016-11-25 23:41] #237 closed

[2016-11-25 23:41] hollomancer commented on #203
Donorbox handles this for us.

[2016-11-25 23:41] #203 closed

[2016-11-25 23:48] hollomancer commented on #282
This is no longer a part of our signup flow.

[2016-11-25 23:48] #282 closed

[2016-11-25 23:49] hollomancer opened #577 "Design: Military Families Landing"
Please use one of the following templates to create new issues:

For a new feature:
As a [VISITOR, ADMIN, ETC],
When I [CONTEXT/LOCATION FOR FEATURE],
It should [DESCRIBE FEATURE]

For a bug:
As a [VISITOR, ADMIN, ETC],
When I [CONTEXT OF BUG]
It [DESCRIBE BUG]
It should [EXPECTED OUTCOME]

Additional Information (eg browser version, screenshots etc):

[2016-11-25 23:51] hollomancer commented on #390
Donorbox will be our single method of payment.

[2016-11-25 23:51] #390 closed

[2016-11-25 23:51] hollomancer commented on #416
This will need to happen in a different way.

[2016-11-25 23:51] #416 closed

[2016-11-25 23:52] #398 closed

[2016-11-25 23:55] hollomancer opened #578 "Design: Partners Landing"
Please use one of the following templates to create new issues:

For a new feature:
As a [VISITOR, ADMIN, ETC],
When I [CONTEXT/LOCATION FOR FEATURE],
It should [DESCRIBE FEATURE]

For a bug:
As a [VISITOR, ADMIN, ETC],
When I [CONTEXT OF BUG]
It [DESCRIBE BUG]
It should [EXPECTED OUTCOME]

See #361 for additional information.

[2016-11-25 23:55] hollomancer commented on #361
Capture information for this in #578.

[2016-11-25 23:55] #361 closed

[2016-11-25 23:58] hollomancer commented on #536
This is captured in #537.

[2016-11-25 23:58] #536 closed

[2016-11-26 00:00] hollomancer commented on #571
`<script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
<a class="dbox-donation-button" href="https://donorbox.org/operationcode" style="background:#2d81c5 url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 37px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 15px 38px

[2016-11-26 00:03] hollomancer commented on #332
This is out of scope.

[2016-11-26 00:03] #332 closed

[2016-11-26 00:04] hollomancer opened #579 "Design: Scholarships"
Please use one of the following templates to create new issues:

For a new feature:
As a [VISITOR, ADMIN, ETC],
When I [CONTEXT/LOCATION FOR FEATURE],
It should [DESCRIBE FEATURE]

Some UX notes are captured by @jeremysb1 in #467.

[2016-11-26 00:22] hollomancer commented on #466
Capturing in #355.

[2016-11-26 00:22] #466 closed

[2016-11-26 00:25] hollomancer commented on #548
Consolidating into #355.

[2016-11-26 00:25] #548 closed

[2016-11-26 00:28] hollomancer commented on #352
Github should be here, at a minimum.

[2016-11-26 00:32] hollomancer opened #580 "Design: About Us Page"
_As a visitor, I want to be able to visit an About Us page on the site, so that I can learn more about who and what's behind Operation Code. This will help me build confidence in Operation Code as an organization._

Product requirements;
* Purpose, vision, mission statements.
* Link to the history timeline of our organization.
* Portraits of board and staff.
* Short bio of board and staff (no more

[2016-11-26 16:57] hollomancer commented on #267
@RobKriner, let me know when we can move on this.

[2016-11-29 03:05] #573 closed

[2016-11-29 03:07] rickr commented on #565
This is correct but going to mark this as wontfix as we're going through a redesign and this will be applicable anymore.

[2016-11-29 03:07] #565 closed

[2016-11-29 03:08] #562 closed

[2016-11-29 03:11] #436 closed

[2016-11-29 03:11] #437 closed

[2016-11-29 03:11] #438 closed

[2016-11-29 03:11] #439 closed

[2016-11-29 03:11] #440 closed

[2016-12-04 03:14] hollomancer opened #586 "Invitation to Operation Code also invites to LinkedIn group"
The API for this is only accessible by members of LinkedIn's developer program. Currently blocked on me.

[2016-12-05 03:08] ty-shaikh commented on #396
Hey @rickr - We had to pivot our business model to a self-paced program. Instead of live streaming classes at night, everything is pre-recorded. We also dropped our price significantly, so we have no availability for scholarships at this time. Hopefully soon, we can restart them. Feel free to close and delete this issue.

[2016-12-05 18:21] rickr commented on #396
Will do - thanks for the update!

[2016-12-05 18:21] #396 closed

[2016-12-12 17:18] Aniket965 commented on #580
can i design or can give suggestions on this?(i am new to github)?

[2016-12-12 18:39] rickr commented on #580
Hi @Aniket965 We have a few people currently working on designs for these pages.

If you're interested in helping out feel free to sign up at http://operationcode.org/join. This will give you access to our slack team where you can join the #design channel. They should be able to get you pointed in the right direction.

[2016-12-13 22:57] Kornil opened #588 "Favicon.ico not compatible with all devices"
As a visitor on my IOS(Safari) or Android(Chrome) device the website icon is absent for both retina and non retina devices.
The metro tile icon for WIN8/WIN10 and the mask-icon for OS X Safari is also absent/not configured.
The favicon.ico file does not have the recommended sizes required by desktop browsers(16x16, 24x24, 32x32, 48x48, 64x64)

I'd like to fix this issue for your website: to do thi

[2016-12-14 23:10] rickr commented on #588
![operationcode_transparent_icon](https://cloud.githubusercontent.com/assets/334550/21205103/6cd830f8-c228-11e6-9087-221ca470f503.png)

This should be 400x400.

[2016-12-19 16:42] CdiegoBB commented on #153
Hey rickr, I am new with this and I have a question, when one found a bug is the same who repair it or anyone can do it.

[2016-12-19 18:53] rickr commented on #153
Hi @CdiegoBB

If no one has claimed a ticket (in the comments or via one of the Status labels) it's open for anyone to work on! If you'd like to claim this one let me know.

[2016-12-27 00:03] binarymason commented on #576
Why not use Github Pages for this?  That would meet all of the functional requirements.

Move the jekyll code in`/blog` to its own repo and make a project page https://help.github.com/articles/user-organization-and-project-pages/#project-pages and add a CNAME in your DNS settings that points `blog.operationcode.org` to `operationcode.github.io/blog`

Moving `/blog` to its own repo would also avoid

[2016-12-27 00:22] binarymason commented on #570
Is this blocked until #569 gets designs and details sorted out?  Or in the meantime, is editing a user's profile to add zip codes acceptable?

Happy to help out.

[2016-12-27 03:30] rickr commented on #570
Hi @binarymason. I think we can hold most of this work until our redesign is completed. We targeting right around after the new year.

[2016-12-27 07:33] Aniket965 commented on #578
as visitor
in partners landing page
do we have to  make animation for when landing on partners page?

[2016-12-27 15:57] rickr commented on #576
One requirement to move this back to our site vs the current place it's hosted (medium) was for SEO. I think moving it to a subdomain would undermine that effort.

[2016-12-27 16:02] rickr commented on #576
Ah - looking at the ticket I see it mentions blog.operationcode.org specifically. @hollomancer do you mind if I update it so it's hosted at /blog? Unless we actually do want to move it to blog.operationcode.org.

[2016-12-27 17:28] hollomancer commented on #576
Yeah, that's not a requirement - /blog is fine.

[2016-12-28 00:43] jjhampton commented on #576
The route @binarymason suggested sounds like it should work- we already have an old `blog` repo (https://github.com/OperationCode/blog) that could be revived to serve as a GitHub Project Page (as long as DNS redirects are also available).

Here's some other useful info on custom domains / redirects/ Project Pages https://help.github.com/articles/custom-domain-redirects-for-github-pages-sites/

[2016-12-28 20:05] binarymason commented on #576
Note that the `blog` repo that @jjhampton is mentioning is already up, live and running as a Project Page at https://operationcode.github.io/blog/.

If you're fine with that theme, etc. all you have to do is create the CNAME record in your DNS settings that points `blog.operationcode.org` to `operationcode.github.io/blog`.

[2016-12-29 23:57] binarymason commented on #553
Hi @davidmolina

Rough draft on laying the framework for this is here: https://github.com/binarymason/vetbot.  Thought I'd go ahead and put this in front of you guys.  Feedback welcome.  At any time, please feel free to copy, fork or cherry pick.

Deployment instructions are here: https://github.com/binarymason/vetbot/blob/master/README.md.

![vetbot](https://cloud.githubusercontent.com/assets/121

[2017-01-04 01:13] ver2point0 commented on #571
@rickr @hollomancer I'd like to take this issue. What exactly do I need to do?

[2017-01-04 18:07] rickr commented on #571
I think that should do the trick. You'll be replacing the existing donate dropdown with this.

[2017-01-04 18:37] ver2point0 commented on #571
@rickr That's good to know. I'm still having difficulty getting Op code to run on C9. I've posted another screenshot in the slack channel.

[2017-01-04 20:41] ver2point0 commented on #571
@rickr @hollomancer I've got OpCode running on C9 now. Can I have this issued assigned to me now?

[2017-01-05 18:56] rickr commented on #571
She's all yours!

[2017-01-05 19:20] ver2point0 commented on #571
Thanks @rickr!

[2017-01-10 06:02] wcriss44 opened #596 "Video on scholarships page is not responsive"
As a visitor,
When I visit the scholarships page, located at https://operationcode.org/scholarships , the video
is not responsive. The video should change in size depending on the size of my browser.

Additional Information (eg browser version, screenshots etc):

I am using Google Chrome to view the website. I opened DevTools to try and get it working properly
so that I can add some suggested styl

[2017-01-10 06:36] wcriss44 opened #597 "Possible bug on about page"
As a visitor,

When I visit the about page, located at https://operationcode.org/about

It seems to have a website embedded for the video. I do mean a website, as in the entire HTML source code of a website. I am not sure if this is intended or not. Worth noting, the video player does work fine. If this is unintended it might improve performance to clean this up.

Additional Information (eg browse

[2017-01-10 07:23] wcriss44 opened #598 "Signup email sent with wrong subject and minor typos in body"
As a visitor,
When I signed up for Operation Code, using the website, I received a two emails. One email inviting me to Slack and the other welcoming me to Operation Code.

The email for Operation Code was sent with the following subject: "Reset password instructions"

It should have a subject that welcomes me to the site.

Additional Information (eg browser version, screenshots etc):

The content

[2017-01-11 00:20] wcriss44 commented on #597
Additional information:

I cloned the repository and tested it on my computer. This still happens on my local computer but with a bit of variation. Sometimes it shows a new HTML page relating to Viemo, like the picture above. However, sometimes it shows a page that has to do with https://js.stripe.com/v2/ . I don't know enough about Ruby on Rails yet to really track this down. I hope that this inf

[2017-01-12 02:52] ver2point0 commented on #571
![inspectandadd](https://cloud.githubusercontent.com/assets/12492121/21875164/f5575028-d847-11e6-8a2c-1652cb21a5f4.JPG)

@rickr @hollomancer I tested out the donorbox changes in Chrome's dev tools first before making any changes in the actual code base. How does it look? I still have to change the mobile nav part too.

[2017-01-14 02:53] yeli-buonya commented on #444
Can you review my PR?

[2017-01-14 04:40] DanielKim1 commented on #598
Haven't contributed to Operation Code before, but I think I can fix this. I'll start working on this issue

[2017-01-18 17:22] rickr commented on #296
Closed in #566

[2017-01-18 17:22] #296 closed

[2017-01-20 22:54] kjaymiller opened #601 "Make a downloadable package for branding"
Please use one of the following templates to create new issues:

As a VISITOR. when I go to operationcode.org/press-kit all of the press media should be available as a downloadable file.

There should also be branding guidelines and individual downloads of content.

Additional Information (eg browser version, screenshots etc):
This would be a downloadable .zip file

To complete this ticket please:

[2017-01-20 22:55] kjaymiller opened #602 "Press Kit Materials are no longer up to date."
As a visitor, the downloadable branding media should reflect our brand changes.

[2017-01-20 23:52] hollomancer commented on #602
We need to port https://ocbranding.squarespace.com/ to our site.

[2017-01-21 00:24] kboygit commented on #596
I am so sorry for the inconvenience , and thank you for bringing this up to us :+1:

[2017-01-21 00:26] kboygit commented on #597
thank you again for bringing this up to us :+1:

[2017-01-21 13:40] Shruti9520 commented on #324
@rickr I would like to work on this issue.

[2017-01-22 03:00] davidmolina commented on #602
We can host on AWS?

[2017-01-23 20:46] rickr commented on #324
@Shruti9520 - thanks for wanting to work this issue. It looks like vendor/bundle may not exist anymore. Could you confirm that for me?

[2017-01-24 14:28] davidmolina commented on #601
@kjaymiller, good call. I can put these in AWS and share in the links this week.

[2017-01-24 20:27] rickr commented on #230
Closing out due to redesign

[2017-01-24 20:27] #230 closed

[2017-01-24 20:28] rickr commented on #161
Closing out due to redesign

[2017-01-24 20:28] #161 closed

[2017-01-24 20:29] rickr commented on #201
Donations are now handled via donarbox.

[2017-01-24 20:29] #201 closed

[2017-01-24 20:30] rickr commented on #246
Closing due to redesign

[2017-01-24 20:30] #246 closed

[2017-01-24 20:31] rickr commented on #251
Closing due to redesign

[2017-01-24 20:31] #251 closed

[2017-01-24 20:34] rickr commented on #274
Closing due to redesign

[2017-01-24 20:34] #274 closed

[2017-01-24 20:34] rickr commented on #277
Closing due to redesign

[2017-01-24 20:34] #277 closed

[2017-01-24 20:35] rickr commented on #276
Closing due to redesign/airtables

[2017-01-24 20:35] #276 closed

[2017-01-24 20:35] rickr commented on #281
Closing due to redesign

[2017-01-24 20:35] #281 closed

[2017-01-24 20:43] rickr commented on #602
Lets cover this in #601. Closing this issue and tracking via task list there.

[2017-01-24 20:43] #602 closed

[2017-01-24 20:50] rickr commented on #597
#605 fixed this. Thanks for the heads up!

[2017-01-24 20:50] #597 closed

[2017-01-24 20:53] rickr commented on #572
Closing due to redesign

[2017-01-24 20:53] #572 closed

[2017-01-24 20:54] rickr commented on #287
Closing due to redesign

[2017-01-24 20:54] #287 closed

[2017-01-24 20:55] #450 closed

[2017-01-24 20:57] rickr commented on #406
Closing due to redesign

[2017-01-24 20:57] #406 closed

[2017-01-24 20:58] rickr commented on #571
Merged in #600

[2017-01-24 20:58] #571 closed

[2017-01-24 20:58] rickr commented on #380
Closing due to redesign

[2017-01-24 20:58] #380 closed

[2017-01-24 20:59] rickr commented on #408
Closing due to redesign

[2017-01-24 20:59] #408 closed

[2017-01-24 20:59] rickr commented on #383
Closing due to redesign

[2017-01-24 20:59] #383 closed

[2017-01-24 20:59] rickr commented on #414
Closing due to redesign

[2017-01-24 20:59] #414 closed

[2017-01-24 21:00] rickr commented on #364
Closing due to airtables

[2017-01-24 21:00] #364 closed

[2017-01-24 21:00] rickr commented on #407
Closing due to redesign

[2017-01-24 21:00] #407 closed

[2017-01-24 21:01] rickr commented on #467
Closing due to redesign

[2017-01-24 21:01] #467 closed

[2017-01-24 21:02] rickr commented on #457
Since we landed on putting this on its own subdomain I'm going to stop tracking it in this repo.
Please let me know if you need an additional git repo created to support this effort.

[2017-01-24 21:02] #457 closed

[2017-01-24 21:03] rickr commented on #358
This page is no longer used and won't be carried over in the redesign

[2017-01-24 21:03] #358 closed

[2017-01-24 21:03] rickr commented on #333
Closing due to redesign

[2017-01-24 21:03] #333 closed

[2017-01-24 21:04] rickr commented on #331
Closing due to redesign

[2017-01-24 21:04] #331 closed

[2017-01-24 21:04] rickr commented on #319
Closing due to redesign

[2017-01-24 21:04] #319 closed

[2017-01-24 21:05] sfillm07 commented on #598
I will make an attempt to work on this issue, first time

[2017-01-24 21:05] rickr commented on #154
Closing due to redesign

[2017-01-24 21:05] #154 closed

[2017-01-24 21:06] rickr commented on #293
Closing due to redesign

[2017-01-24 21:06] #293 closed

[2017-01-24 21:07] rickr commented on #312
Fixed in #509

[2017-01-24 21:07] #312 closed

[2017-01-24 21:11] rickr commented on #598
All yours! Please let me know if you have any questions.

[2017-01-24 21:25] sfillm07 commented on #598
Someone already completed this...The subject line in the user_mailer.rb has already been changed and the grammatical errors in the welcome.html.ert are all taken care of.

[2017-01-24 21:43] rickr commented on #598
That's not the correct location. This is a remnant of the profile system we had that didn't see a lot of traction. See the [registrations controller](https://github.com/OperationCode/operationcode/blob/master/app/controllers/veterans/registrations_controller.rb#L27) which is calling a (devise)[http://www.rubydoc.info/github/plataformatec/devise/Devise/Models/Recoverable/ClassMethods) method). That

[2017-01-25 19:00] rickr commented on #598
Fixed in #612

[2017-01-25 19:00] #598 closed

[2017-01-26 05:22] sfillm07 commented on #267
Is this issue available?

[2017-01-26 15:43] rickr commented on #267
@RobKriner @hollomancer Are we still OK with threadless?

[2017-01-26 18:03] sfillm07 commented on #372
I added the og: image code to the application.html.erb like the docs stated.  I tried to create a new pull request but it looks like it added it to the request I posted yesterday.  I used the largest logo we had on the squarespace page, need to test to see how it looks.

[2017-01-26 18:05] sfillm07 commented on #324
It does not look like this file exists.

[2017-01-29 07:21] CdiegoBB opened #616 "ECONNREFUSED"
Please use one of the following templates to create new issues:

For a new feature:
As a DEVELOPER,
When I START SERVICE THIN START --SSL
It should I HAVE THE MESSAGE IN MY BROWSER ECONNREFUSED, MAYBE IS FOR DE REDIS

Hi rickr i try to deploy the website in my pc, i want to be a colaborator, thefore when i start the service with Thin start --ssl i have a message "ECONNREFUSED" with the Redis and i

[2017-01-29 14:21] rickr commented on #616
What's the URL you're going to?

[2017-01-30 22:12] CdiegoBB commented on #616
Hi rickr i try to deploy the website in my pc, i want to be a colaborator, thefore when i start the service with Thin start --ssl i have a message "ECONNREFUSED" with the Redis and i do not know why, i have all the software that you write in the contribute.

[2017-01-31 05:18] hollomancer opened #617 "Add user database to CRM"
As an admin, I would like the CRM to hold our user database, so that we can begin linking our user database to other automated actions.

At the moment, we have users lists in partial, and in a number of different areas. We need to get our whole user list in Airtable under a single base and table, and then begin building systems off of that. Since we can't refer to multiple bases, this is going to

[2017-02-01 03:13] rickr commented on #616
Could you please attach a screenshot or some logs?

[2017-02-01 03:51] rickr commented on #617
This gem will help get this going: https://github.com/OperationCode/operationcode-airtable

[2017-02-02 23:19] rickr commented on #324
Ok then, closing this issue.

[2017-02-02 23:19] #324 closed

[2017-02-03 07:24] CdiegoBB commented on #616
Nevermind is working right now, hahaha I do not know if was the internet conection or what. Therefore i will begin to contribute with this cute project.

[2017-02-04 20:16] #616 closed

[2017-02-08 13:03] Scrub10000 commented on #534
I think this would be a fantastic addition. Maybe another drop down menu for "Veteran's non Government Benefits" or a link to it from the 'What We Do' drop down menu.

[2017-02-08 19:32] hollomancer commented on #534
@aaron-suarez, maybe we can have this as a sub-page?

[2017-02-08 19:34] aaron-suarez commented on #534
Yeah @hollomancer, that's a great idea. You think that the Learning Resources page would be the kind of information they're suggesting?

[2017-02-08 21:17] hollomancer commented on #534
Yeah, we can just have it as a markdown directory in the same page for now.

[2017-02-08 23:45] juanchaves commented on #534
@aaron-suarez I have a long list of links too (free resources), I can send you a file. Also, there are a lot of NGO's that offer help for veterans like the following list that help vets:

[The Soldier Project](https://www.thesoldiersproject.org/)

[National Alliance on Mental Illness](http://www.nami-greaterseattle.org/)

[Vets Go](http://www.vets-go.com/resources)

[Heroes to Hometowns Washington

[2017-02-08 23:46] aaron-suarez commented on #534
Ok you want me to do a PR to add "Veteran's non-Government benefits" to the dropdown and then embed Veterans.md from the Learning Resources repo into the page?

[2017-02-08 23:49] aaron-suarez commented on #534
Yeah send me your file over the operation code slack. @ aaron-s is my username on there

[2017-02-09 08:05] sethbergman opened #619 "pg-config-executable-not-found - linux"
As an ADMIN:
When I try to build the application with `bundle`, the build fails to locate `pg_config`, even though it's there and already added to my $PATH.

It should recommend installing the appropriate libraries, but it recommends installing postgresql-server-dev-X.Y, which is not an actual package.

I did some research, and found a [StackOverflow article](http://stackoverflow.com/questions/116

[2017-02-09 08:32] kboygit commented on #619
@sethbergman spot on , thank you

[2017-02-10 02:19] hollomancer commented on #553
Let's figure out how to combine this with what @rickr has done on https://github.com/OperationCode/operationcode_bot

[2017-02-10 02:20] hollomancer commented on #318
Let's hold off on this for now.

[2017-02-10 02:20] #318 closed

[2017-02-10 02:34] jjhampton commented on #576
Closing issue after discussion w/ @hollomancer.  Moving forward with a plan for a GitHub pages-hosted static blog, which will be tracked in multiple new issues.

[2017-02-10 02:34] #576 closed

[2017-02-10 02:34] jjhampton opened #620 "Blog: Convert Medium blog post content to Markdown"
As a VISITOR,
When I visit the self-hosted blog at https://www.operationcode.org/blog,
I can read the same blog posts that have already been published to the Medium blog at https://medium.com/operation-code.

Additional Information:
* Throughout 2016, there's been blog content posted to the Medium blog.  These long-form blog posts will need to be converted to Markdown so we can include them in the

[2017-02-10 02:35] hollomancer commented on #455
@kjaymiller has #oc-west, #oc-northeast and other channels created. These need to be appropriately mapped.

[2017-02-10 02:40] jjhampton opened #621 "Blog: Style static blog posts to match the OperationCode.org site redesign"
As a VISITOR,
When I visit the self-hosted static blog at https://www.operationcode.org/blog,
I experience a UI that is styled consistently with the upcoming OperationCode.org redesign.

Additional Information:
- Need to wait until redesign is finalized.  Static blog posts should be styled in a similar manner to the OperationCode.org design.

Potential Tools:
 - Jasper theme: http://jekyllthemes.o

[2017-02-10 02:42] jjhampton opened #622 "Blog: Automate cross-posting of new blog posts to Medium"
As an ADMIN,
When I publish a blog post on Operation Code's self-hosted blog,
It will automatically cross-post to Medium at https://medium.com/operation-code.

Potential Tools:
* Travis CI
* Medium API

See #576 (now closed)

[2017-02-10 02:43] jjhampton opened #623 "Blog: Automate cross-posting of new blog posts to LinkedIn"
As an ADMIN,
When I publish a blog post on Operation Code's self-hosted blog,
It will automatically cross-post to LinkedIn.

Potential Tools:
* Travis CI
* LinkedIn API

See #576 (now closed)

[2017-02-10 02:50] jjhampton opened #624 "Blog: Self-host static-site blog at operationcode.org/blog"
As a VISITOR,
When I visit https://www.operationcode.org/blog,
I can read Operation Code's self-hosted blog.

Additional Information:
* Prefer to use https://www.operationcode.org/blog URL instead of using a subdomain, to optimize SEO - see discussion in #576

Potential tools:
* Jekyll - Easy to build, use, and maintain.  Members of the OC community can help to build from scratch.
* ~Federalist (o

[2017-02-10 14:41] hollomancer commented on #624
I don't know if Federalist will work with GitHub Pages. If we decide to use it, we can get away with not using Github Pages - may also avoid CNAME/DNS issues?

[2017-02-10 14:55] hollomancer commented on #622
https://github.com/Medium/medium-api-docs#33-posts

[2017-02-10 14:56] hollomancer commented on #623
https://developer.linkedin.com/docs/share-on-linkedin

[2017-02-10 15:44] rickr commented on #624
I'm ok removing the old blog with this ticket.

If we want the URL to be /blog the blog will have to live in the main code base somewhere as CNAMEs work on a host level.

[2017-02-10 17:06] jjhampton commented on #624
@rickr re: URL at /blog - Yeah, I thought that might be tricky.  Wasn't sure if it was possible.  After reading thru https://help.github.com/articles/custom-domain-redirects-for-github-pages-sites/ with the part that says "Automatically redirected to a subdirectory of an Organization Pages site custom domain (org.example.com/projectname)" I thought it might be possible for it -not- to be in the ma

[2017-02-14 00:30] hollomancer commented on #267
@rickr Threadless creds in 1password. Let's move forward on this

[2017-02-15 01:58] rickr commented on #280
This is now done via operationcode_bot's Operation Code Challenge.

[2017-02-15 01:58] #280 closed

[2017-02-15 02:02] rickr commented on #553
Going to close this out. Any further discussion we can have over in https://github.com/OperationCode/operationcode_bot

[2017-02-15 02:02] #553 closed

[2017-02-15 12:34] divayprakash commented on #285
@hollomancer I'd be willing to take a crack at this. Let me know what you're looking for!

[2017-02-15 16:01] hollomancer commented on #285
@divayprakash, short version - we want to get the content from https://github.com/OperationCode/mentorship into the page at https://operationcode.org/mentorship, so that we can better describe the current offerings our mentorship program has.

[2017-02-17 03:48] rickr opened #628 "Bring Software Mentorship CTA above the fold"
As a visitor
When I view https://operationcode.org/mentorship
It should show the 'Join Now' button between the second paragraph under `Program Overview` and the video.

[2017-02-17 03:52] rickr opened #629 "Create page for mentor sign up"
As a mentor
When I attempt to sign up
It should display a form with a call to action of something other than 'Teach me to code'.

Maybe something like 'I want to mentor', or 'I want to help Operation Code'.

[2017-02-17 03:54] rickr opened #630 "Allow mentors to sign up without emailing staff@operationcode.org"
As a visitor
When I click the footer 'Get Involved' Software Mentorship link
It should send me to a page to sign up.

This can either be /sign_up or whatever page is created in #629

[2017-02-17 08:15] sethbergman commented on #267
Did you guys have a chance to take a look at the admin dashboard here:
[Operation Code Store](http://operation-code.mybigcommerce.com)
@rickr @hollomancer

[2017-02-17 13:24] C-Lion commented on #628
I'd like to work on this issue.

[2017-02-17 13:25] C-Lion commented on #629
I'd like to be assigned this issue.

[2017-02-17 13:26] C-Lion commented on #630
I like to be assigned this issue.

[2017-02-17 13:57] rickr commented on #629
It's all yours

[2017-02-17 13:57] rickr commented on #630
It's all yours

[2017-02-17 13:58] rickr commented on #628
It's all yours

[2017-02-17 16:49] rickr commented on #267
I don't think we have the bandwidth to manage inventory and shipping right now but I do want to keep this in our pocket for when we do.

@sfillm07 - lets go ahead and move forward with threadless.

Our store URL is https://operationcode.threadless.com/

I don't see a place to stick a new menu item so unless anyone objects lets just add a link to the footer under the 'Get Involved' section with a t

[2017-02-17 16:56] sethbergman commented on #267
You don't have to manage inventory. It's optional. Also, go through the checkout process and abandon your cart. There is a great feature built in to recover abandoned carts. You can customize the emails that go out and offer coupon codes to get the lost sale. Spend a little time in the backend and look at the features. I'm almost certain that I can get you a great deal because of my relationships

[2017-02-17 16:58] sethbergman commented on #267
There's also an automated shipping manager for any orders. Just print the label and ship it!

[2017-02-17 17:00] sethbergman commented on #267
If you need the shirts made then I have a great resource for this also. What are you going to be paying for the Threadless service?

[2017-02-17 17:03] sethbergman commented on #267
Is the issue that you need a system that will handle shipping your orders?

[2017-02-17 17:07] rickr opened #631 "Investigate using BigCommerce for our store page"
Continuing discussion from #267

[2017-02-17 17:08] rickr commented on #267
Lets move discussion to https://github.com/OperationCode/operationcode/issues/631.

[2017-02-17 17:09] sethbergman commented on #631
Let me get ahold of BC today and see what I can do for an awesome non-profit like yours. 😆

[2017-02-17 17:12] rickr commented on #631
Maybe I'm not understanding when you say we don't have to manage inventory.

With Big Commerce we will need to design and print merchandise with another service. We'll then have to store that merchandise, track when we need to order more, and ship it manually.

Is all that correct?

[2017-02-17 17:25] sethbergman commented on #631
There is a service that integrates with Bigommerce that handles shipping automatically, and another one that enables you to design and customize the shirts, gear, swag etc. I can get the manufacturer to integrate with the bc APIs to automate the entire process.

I know that this sounds like a lot of work, but it is what I used to do every day while working there.

[2017-02-17 17:58] sethbergman commented on #631
Let's see about getting a list of pros and cons comparing the two. Then we'll be in a better position to make the right decision.

[2017-02-17 18:36] sfillm07 commented on #267
What is the username for the account?

I tried operationcode, operation_code, oc

[2017-02-17 18:44] rickr commented on #631
That does seem like a lot of work, complexity and overhead.
What do these additional services cost?

[2017-02-17 19:06] sethbergman commented on #631
[Printful BC API App](https://www.bigcommerce.com/apps/printful-dropship-t-shirts-posters-leggings-and-more-print-products/)

The store would cost $29.95 / month and the app for printing and dropshipping the shirts is a free service.

Keep in mind that I haven't tried to get you a discount on the store price yet.

[2017-02-17 19:13] sethbergman commented on #631
The only overhead would be to put your product list on your store. I've already got a nice clean design and the e-commerce features are the best in the industry. The possibilities are endless. What's the cost of teespring?

[2017-02-17 21:40] rickr commented on #631
We're going to use Threadless for now. The cost is free they just take a cut per shirt.

It looks like they offer other items (coffee cups, notebooks etc). What's BigCommerces story there?

[2017-02-17 21:44] rickr commented on #631
We're going to use Threadless for now. The cost is free they just take a cut per shirt.

It looks like they offer other items (coffee cups, notebooks etc). What's BigCommerces story there?
How does Printful make money?

Also please keep in mind I have a $0 budget. Any amount of money per month is going to be too much.

[2017-02-18 16:53] hollomancer opened #632 "Add log of our livecoding.tv broadcasts"
So far, our livecoding.tv broadcasts stay on livecoding.tv. We should archive links to them on our site for later reference, maybe just a markdown file as an MVP.

Should be an easy one for someone to grab.

[2017-02-18 22:53] jjhampton commented on #624
I'm looking at following this strategy to allow a Jekyll blog to live inside the same codebase as the Rails app, but remain more or less decoupled from the Rails app:

http://www.nickhammond.com/the-super-simple-way-to-add-a-jekyll-based-blog-in-your-rails-application/

@rickr I'm not very familiar w/ OC's deployment process - when you get a chance, could you let me know if this plan looks feasibl

[2017-02-19 15:36] rickr commented on #267
I don't think you'll need the username for the account. This should just be adding a link to https://operationcode.threadless.com/ to the footer.

[2017-02-19 15:45] rickr commented on #624
Can you configure jekyll to tell it where to send it's built files? I think what we would want to do is have Travis run our jekyll build and store the output in our public dir. We would then configure rails to serve that public directory.

Travis has all sorts of lifecycle hooks we might be able to use: https://docs.travis-ci.com/user/customizing-the-build#The-Build-Lifecycle

[2017-02-19 16:11] sfillm07 commented on #267
Copy

Sean

[2017-02-19 17:03] jjhampton commented on #624
That should work -  there's a `--destination` flag that can be applied to the `jekyll build` command to generate a build into a custom path.  I'll test it out on my dev machine later today.

[2017-02-20 00:33] hollomancer opened #635 "As a new member, I want to land on a page that tells me what to do next, after I supply my email."
Right now, after a new member signs up, they receive an email telling them to join Slack.

We need to better communicate to new users what they've signed up for, and what to do next. i.e.

1. User provides email.
2. User lands on a page with information telling them what they now have access to, as a member of Operation Code.
3. User learns that this information is provided via Slack.
4. User is p

[2017-02-20 01:32] kylemh opened #636 "Add Placeholder Text For Forms"
As a visitor, when I'd like to register to learn more about OC, I should be able to easily understand what type of info you'd like in the form inputs to the left of the TEACH ME HOW TO CODE button.

I believe it is necessary to have placeholder text to identify what information the form seeks to have entered.

Screenshot:
![screen shot 2017-02-19 at 5 31 48 pm](https://cloud.githubusercontent.com/

[2017-02-20 01:37] rickr commented on #636
There's an email and zip code placeholder already there. Do you think they aren't visible enough?

[2017-02-20 01:40] kylemh commented on #636
Holy crap. I'm gonna say yes, since I didn't even see them. I know I wear glasses, but I promise I'm near-sighted.

[2017-02-20 01:41] rickr commented on #635
After a user submits the form lets do the following:
- [ ] Add a new page that thanks the user for signing up, tells them to expect an email and an invitation to slack, and displays the slack download button.
- [ ] Update the sign up action to point to this new page

[2017-02-20 10:08] sethbergman commented on #635
Would this be of any help?
[auto-join-slack](https://devslack.herokuapp.com)
Additional configuration is possible.

[2017-02-20 14:05] rickr commented on #635
If that's the app I'm thinking of not really. It's just doing what we're doing in https://github.com/OperationCode/operationcode/blob/master/app/jobs/slack_inviter_job.rb

[2017-02-20 14:06] sethbergman commented on #635
Ohh by the way, the reason this form doesn't work is because I'll need an admin API key.
https://api.slack.com/tokens
https://api.slack.com/docs/oauth-test-tokens

[2017-02-20 14:06] sethbergman commented on #635
Ahh ok gotcha

[2017-02-20 15:34] hollomancer commented on #636
Maybe we can make the placeholder text darker, or a bit larger?

[2017-02-20 15:36] hollomancer opened #637 "Join link in header is hard to read with current color scheme."
![pasted image at 2017_02_20 00_07](https://cloud.githubusercontent.com/assets/9288648/23131590/8f475d66-f758-11e6-8b29-87ea217eaf1b.png)

I think the issue is in the footer, at;
`<% ab_test(:signup_button_size, 'btn btn-large', '') do |button_size| %>
<%= link_to 'Join', new_veteran_registration_path, class: button_size, style: 'background-color: #B23900;' %>
<% end %>`

![pasted image at 2017_02

[2017-02-20 15:46] rickr commented on #637
This has been reported before and it was due to caching. If you clear your cache does the button go back to normal? After you clear the cache and reload the page does it bug out again?

[2017-02-20 15:53] hollomancer commented on #637
I think the A/B test might be the culprit here. I refreshed five times, and it looks different 3/5 times.

[2017-02-20 15:53] hollomancer commented on #586
Contacted LinkedIn for support.

[2017-02-20 15:53] hollomancer commented on #623
Contacted LinkedIn for support.

[2017-02-20 15:55] hollomancer commented on #283
https://developer.github.com/v3/orgs/teams/#add-or-update-team-membership looks like it'll do the trick.

[2017-02-20 16:04] rickr commented on #637
Ah yea - that's exactly it.

[2017-02-20 16:45] sethbergman commented on #636
![operation code open source veterans non profit](https://cloud.githubusercontent.com/assets/8031689/23134230/a05c0c2c-f759-11e6-9853-cc259e6a46f9.png)

How about that? I can get right on this if you think it's the right move.

[2017-02-20 17:01] rickr commented on #636
I don't think you captured the change?

Regardless yea, we can make the text a tiny bit darker and bigger. Just be careful to make sure it still looks like a form. Maybe we update the placeholder text as well. 'enter your email' or something like that.

[2017-02-20 17:34] sethbergman commented on #636
Yeah I'm looking at that right now. I was referring to @hollomancer
![pic in slack](https://files.slack.com/files-pri/T03GSNF5H-F48ACAPFZ/pasted_image_at_2017_02_20_00_07.png)

Working on the form elements now. The CSS classes are all in materialize.min.css. Is this a file that gets bundled during the build? I'm not able to find that file name in the repo. At any rate this should fix it:
[code]
Wh

[2017-02-20 17:45] sethbergman commented on #636
Ok I found it. It's in one of the cloudflare scripts. I can either:

1. Change that class over to a custom css class and copy the styles
2. Bring over materialize.min.css in an un-minified version and make the change there. I'd also have to change the reference from the script to the new css file.

[2017-02-20 17:48] rickr commented on #636
Oh...that's being tracked in #637

What do you mean by cloudflare scripts?

[2017-02-20 17:52] sethbergman commented on #636
In application.html.erb:
 ``` <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"></link>```

[2017-02-20 18:28] rickr commented on #636
Ah I see. That's actually how we're loading materialize (the CSS framework we're using). It's just plain CSS and the only thing Cloud Flare is doing is hosting it for us.

You should be able to override this at https://github.com/OperationCode/operationcode/blob/master/app/assets/stylesheets/application.css.scss

[2017-02-20 22:39] sethbergman commented on #637
This is what the button looks like with `btn btn-large`:
![operation code-btn-btn-large](https://cloud.githubusercontent.com/assets/8031689/23144074/c12eeede-f78a-11e6-8aef-9647be846e94.png)

This is what it looks like with `btn`:
![operation code-btn](https://cloud.githubusercontent.com/assets/8031689/23144101/ff2e0d1e-f78a-11e6-8842-931a08863c40.png)

I think that `btn` looks much better. Please

[2017-02-21 17:12] divayprakash commented on #285
@hollomancer Working on it!

[2017-02-21 17:26] rickr opened #643 "Donate button on home page takes us to the old donation page"
As a VISITOR
When I visit https://operationcode.org and scroll to the bottom of the page to the DONATE NOW button
It takes me to https://operationcode.org/square.
It should take me to https://donorbox.org/operationcode

We should check for any other donation related links and fix those as well.

[2017-02-21 19:13] rickr commented on #637
Merged via #639

[2017-02-21 19:13] #637 closed

[2017-02-21 19:14] rickr commented on #636
Merged via #640

[2017-02-21 19:14] #636 closed

[2017-02-21 20:06] rickr commented on #643
@codejordancode is going to be working this.

[2017-02-21 20:43] sethbergman commented on #643
@rickr I got this.
import assignment from './issues';
import service from 'seth';
let this.assignment = (seth) => {
   return true;
}

[2017-02-21 20:45] sethbergman commented on #643
Ahh I must have not seen this. Give me something else then @rickr

[2017-02-21 22:24] sethbergman opened #644 "CONTRIBUTING.md lacks appropriate setup instructions"
As a new contributor / member,
When I go through all of the setup instructions:
- I get errors in my terminal relating to setting up the database.
- I also have problems with file permissions and the pg gem.

The setup instructions should have sufficient, easy to follow instructions for getting the site running locally.

I'm running Linux Mint 18, a hybrid of Ubuntu 16.04 and Debian.
- Kernel vers

[2017-02-21 22:38] rickr commented on #644
Can you please paste the errors you receive?

[2017-02-21 23:03] sethbergman commented on #644
@rickr I'll take this one. I'll write it up today and knock it out.

[2017-02-21 23:05] sethbergman commented on #644
running “bundle install” yields:

[4:55]
Fetching source index from https://rubygems.org/
Fetching https://github.com/stripe/stripe-ruby
Could not verify the SSL certificate for
https://rubygems.org/quick/Marshal.4.8/actionmailer-4.2.5.2.gemspec.rz.
There is a chance you are experiencing a man-in-the-middle attack, but most likely your system
doesn't have the CA certificates needed for verificatio

[2017-02-21 23:06] sethbergman commented on #644
Could not verify the SSL certificate for
https://rubygems.org/quick/Marshal.4.8/actionmailer-4.2.5.2.gemspec.rz.
There is a chance you are experiencing a man-in-the-middle attack, but most likely your system
doesn't have the CA certificates needed for verification. For information about OpenSSL
certificates, see http://bit.ly/ruby-ssl. To connect without using SSL, edit your Gemfile
sources and ch

[2017-02-21 23:11] sethbergman commented on #644
[Archive of Slack messages](https://operation-code.slack.com/archives/operationcode-dot-org/p1487716126001603)
@codejordancode is on Mac OSX

[2017-02-23 19:33] mcolyer commented on #632
I'm interested in taking this on, do you mean just creating a page with links to all of the videos on: https://www.liveedu.tv/rickr/RLJY2-ruby-on-rails-operation-code/gQnLn-operation-code-9/.

Also did you have a specific url in mind for the page to live at?

[2017-02-23 20:49] hollomancer commented on #632
@mcolyer, there are also some videos by @davidmolina there too.

You've got the idea, though. MVP is a markdown page under /docs, https://operationcode.org/livecoding would be the ideal location if it becomes a webpage.

[2017-02-24 16:03] technicalpickles opened #646 ""Thanks for signing up" not visible after signing up"
For a bug:
As a visitor,
When I go to the home page and sign up
It shows a notice thanking me for joining, but it's hidden under the navbar
It should be visible

In Chrome:

![](https://cl.ly/17220G0O3j1G/Image%202017-02-24%20at%2010.59.37%20AM.png)

In Safari:

![](https://cl.ly/0j2m2j343U2a/Image%202017-02-24%20at%2011.01.44%20AM.png)

In Firefox:

![](https://cl.ly/3m3u3o0J1u2n/Image%202017-02-

[2017-02-24 16:06] divayprakash commented on #285
@hollomancer Sorry but I'm unable to understand how to do that. The structure of this repository is a bit confusing for me since I'm a beginner so could you be a bit more descriptive as to how I should go about the same?

[2017-02-24 19:48] technicalpickles commented on #568
Do you mean the home page? It seems like signing up from the home page redirects you back to the home page with a notice.

Also, there's a welcome email that says like:

It might make sense to add a link there too.

[2017-02-25 05:18] #632 closed

[2017-02-25 15:07] lsaville commented on #635
@rickr Does this still need doing? I'm looking to contribute to your project and would love to work on it if it hasn't been started by anyone else. Would the download slack button be an automatic download start or a redirect to Slack's [download page](https://slack.com/downloads/osx)?

[2017-02-25 15:10] hollomancer commented on #635
It does! I think the button should be an automatic download, if possible.

We also need to consider the mobile-user case, for later.

[2017-02-25 15:22] lsaville commented on #635
@hollomancer perhaps the mobile-user could be split into another issue/feature request? I don't have experience with mobile-specific development. I can still do the basic case if that sounds good to you. As far as specifics I'll plan on doing the general steps outlined by @rickr above.

[2017-02-25 15:56] hollomancer commented on #635
Agreed, was 'thinking out loud' a bit there - mobile is out of scope for this story.

[2017-02-25 16:44] technicalpickles commented on #635
It looks like there's a few other issues around this topic:

- add instructions to download slack desktop https://github.com/OperationCode/operationcode/issues/568
- remove zip code from flow https://github.com/OperationCode/operationcode/issues/570
- gather additional user information after sign up https://github.com/OperationCode/operationcode/issues/569

[2017-02-25 17:53] technicalpickles opened #650 "Did not receive email with password reset instructions"
As a visitor
When I register
It does not send me an email with password reset instructions
It should send me an email with password reset instructions

I registered yesterday, and I received a "Welcome to Operation Code" email with information about Slack, and an invite to the Slack.

Reading over `Veterans::RegistrationController`, it seems like it should be sending an email with reset: https://g

[2017-02-25 17:53] technicalpickles commented on #650
Forgot to mention I checked my spam folder, and didn't see anything there either.

[2017-02-25 17:58] technicalpickles commented on #650
With a tip from @sfillm07 in slack, the welcome email *is* the password reset: https://github.com/OperationCode/operationcode/blob/0bc01628d09415ed520df45a9a5b75dcb9d372fb/app/views/devise/mailer/reset_password_instructions.html.erb

[2017-02-25 18:04] lsaville commented on #635
@hollomancer @technicalpickles, I've begun work on this. Would the zip code then belong in the additional information gathering? Just for clarification, currently there is no 'inside' of the app for a veteran?

[2017-02-25 18:10] technicalpickles commented on #635
@lsaville I only started looking at this app, but that is my understanding. I never got an password reset, so filed https://github.com/OperationCode/operationcode/issues/650 . It seems there the password reset is just a welcome email, but doesn't include a link to reset your password which means a veteran would be logged in at any point.

I was trying to thinking through how a landing page would b

[2017-02-25 21:17] #646 closed

[2017-02-26 16:42] NZenitram commented on #444
I checked the PR's for yeli's fix and it seems it wasn't not accepted. I will be submitting a PR with the formatting fix for this today.

<img width="736" alt="screen shot 2017-02-26 at 9 40 16 am" src="https://cloud.githubusercontent.com/assets/17070891/23341599/e127d1ac-fc07-11e6-9b26-2b6fd4c6cd64.png">

Please let me know what you think.

Thanks,

Nick

[2017-02-26 18:33] MackenzieH commented on #631
After some research, Printful just takes a flat rate per item. On their products site (https://www.printful.com/custom-products) they give a list of all of their products and at what cost to you. Then on your site, you pick the prices for the merchandise so you make money (Printful suggests a 30% profit margin). Every source I've found states it as a free-up-front/no-set-up-fee service, so this is

[2017-02-26 19:21] hollomancer commented on #631
What would it take to get this up and running?

[2017-02-28 21:30] lsaville opened #658 "CONTRIBUTING.md doesn't explain redis appropriately"
As a potential contributor,
When I read instructions to set-up my environment,
It says I don't need to use Redis unless I'm working on `ActiveJob` things
It should say that you need to run it

I have a [#657](https://github.com/OperationCode/operationcode/pull/657) open with a slight change in wording.

[2017-02-28 23:41] rickr commented on #658
This was fixed in #657

[2017-02-28 23:41] #658 closed

[2017-02-28 23:46] rickr commented on #650
We had this functionality but then removed it to focus on shoring up our UX on slack.

Closing this out as if we choose to turn on profiles again we should be covered by devise.

[2017-02-28 23:46] #650 closed

[2017-03-01 00:22] rickr commented on #635
We're not currently using profiles and I don't think we will be in the near future.

For this ticket I'd like a simple landing page covering the following things:
- [ ] Remove the current flash message
- [ ] Add a header thank the user for signing up
- [ ] Add a sub header telling the user there is one more step
- [ ] Add copy explaining how to join slack
- [ ] Add copy about how what slack is, ho

[2017-03-01 00:29] rickr commented on #631
Printful would be $0/month but we would still be paying for the Big Commerce store at 30/month correct?

[2017-03-01 00:48] rickr commented on #444
Hi Nick - thanks for the future PR! This looks good to me.

How hard would it be to get the 'One error prohibited' text to be bit smaller?

[2017-03-01 00:50] rickr commented on #619
Fixed in #626

[2017-03-01 00:50] #619 closed

[2017-03-01 04:29] sethbergman commented on #631
Yes that's correct. I found another $0 option though with teechip. I made a private campaign and there is not payment gateway setup yet (PayPal). Check it out here:
https://teechip.com/operationcode
![gildan-50-50-hoodie-161616](https://cloud.githubusercontent.com/assets/8031689/23445997/45802b8c-fe05-11e6-9ddf-610eef6cf8a9.jpg)

[2017-03-01 05:24] rickr commented on #628
Fixed in #641

[2017-03-01 05:24] #628 closed

[2017-03-01 05:38] rickr commented on #643
Fixed in #645

[2017-03-01 05:38] #643 closed

[2017-03-04 18:03] rickr opened #660 "DRY up resources"
The resources pages are currently very repetitive. If we wanted to make a change across all pages it would be very difficult and prone to errors. It's also hard to maintain, update, or remove a resource.

To fix these issues lets do the following:
- [ ] Figure out the common elements of a resource page (Name, headers, etc)
- [ ] Figure out the common elements of a resource (Name, URL, description,

[2017-03-04 21:01] sfillm07 commented on #620
@jjhampton I was checking out what this was going to take to complete.  I created a branch and pushed it to my repo and was going to do a PR for someone to check out the markdown file.  This seems like a pretty simple task, if you would prefer me to do it I can.

[2017-03-05 04:30] sfillm07 commented on #267
@rickr can we close this issue?

[2017-03-05 04:34] rickr commented on #267
We can as this was fixed in #633

[2017-03-05 04:34] #267 closed

[2017-03-05 20:40] davidmolina opened #663 "Footer /donate link should direct to Donorbox"
As a Visitor, when I click on `/donate` in the footer, it should direct to Donorbox (https://donorbox.org/operationcode).

[2017-03-06 15:18] #663 closed

[2017-03-07 00:45] rickr opened #670 "Do not delete build artifacts"
Jekyll is producing build artifacts that will be cleaned up by travis by default. This needs to be disabled. Follow these instructions:

https://docs.travis-ci.com/user/deployment/#Uploading-Files

[2017-03-07 00:55] rickr opened #672 "Update Edward Gutierrez's staff profile"
As a visitor
When I visit `/staff`
It should Edward Gutierrez's profile should read:

Edward is a freelance writer and aspiring screenwriter. He has more than 10 years published writing experience. He received his undergraduate degree from Portand State University and enjoys sharing the stories of Operation Code veterans. You can reach him directly via Linkedin: https://www.linkedin.com/in/edward-

[2017-03-07 01:20] rickr opened #673 "Return to base dir after jekyll build"
After we build our blog we should return back to the app's base dir so that any additional build steps can be completed.

[2017-03-07 02:04] rickr opened #676 "Update channel name in CONTRIBUTING.md"
We don't have a #dev-env, it should be #operation-code-dot-org

[2017-03-07 19:51] #673 closed

[2017-03-07 19:51] #670 closed

[2017-03-07 19:52] #672 closed

[2017-03-08 03:15] #676 closed

[2017-03-08 05:21] jjhampton commented on #620
Reopening this issue, I prematurely closed it.  Turns out there are still more blog posts on Medium to convert over to Markdown.

Only the 'Member Stories' tag category from Medium had all blog posts converted.  The other categories on the Operation Code [Medium blog](https://medium.com/operation-code) still have blog posts that need to be converted to Markdown and published to the [Jekyll blog](h

[2017-03-10 02:49] davidmolina opened #686 "Add PR guidelines to docs"
As a visitor, when I file a PR, I should file it with the designated issue# as the name of the branch.

[2017-03-10 04:54] jzinna commented on #285
@hollomancer I presume you want to have the text on the webpage itself, not just a link to the GiHub page, right?

[2017-03-11 18:11] rickr opened #687 "Move from Heroku to Rancher"
- [x] Get docker compose running
- [x] Configure travis to push to Docker hub if master
- [x] Deploy rancher stack
- [x] Get HTTPS cert
- [ ] Flip over CNAME
- [x] File a ticket for psql backups (#690)
- [x] Update CONTRIBUTING.md

[2017-03-12 22:27] sethbergman commented on #687
Let me know if I can do any of these tasks.

[2017-03-12 22:36] sethbergman commented on #623
I'm working on a new app and I need a good purpose like this one. I'm thinking of using the Github API and register a hook that when a blog gets posted, it notifies the app to take the next action. We could use buffer or HubSpot to syndicate to all of the necessary social channels.

[2017-03-14 13:59] rickr opened #689 "Remove special casing for branch name in publish script"
There's an extra check in `bin/publish` for the testing branch (issue#687). That can be removed once merged into production.

[2017-03-14 14:00] rickr opened #690 "Wire Up Rancher psql backups"

[2017-03-15 00:47] #620 closed

[2017-03-15 01:27] #687 closed

[2017-03-15 01:27] #689 closed

[2017-03-15 05:14] rickr opened #692 "Gibbon::MailChimpError: the server responded with status 400 @title="Invalid Resource", @detail="The resource submitted c..."
https://sentry.io/operation-code/operation-code/issues/234697185/

I think this might be invalid input making it to the mailchimp inviter?
[code]

[2017-03-15 15:10] rickr opened #693 "Enable logstash logs"

[2017-03-15 15:56] #693 closed

[2017-03-16 12:33] rickr commented on #686
This has already been started at https://github.com/operationcode/operationcode/blob/master/CONTRIBUTING.md#submitting-your-changes

I think a clearer title and a checklist in `PULL_REQUEST_TEMPLATE.md` will help.

[2017-03-16 12:36] rickr commented on #644
Fixed in #668

[2017-03-16 12:36] #644 closed

[2017-03-16 12:37] rickr commented on #635
Fixed in #656

[2017-03-16 12:37] #635 closed

[2017-03-16 12:38] rickr commented on #624
Fixed in #680

[2017-03-16 12:38] #624 closed

[2017-03-16 13:03] rickr opened #695 "Convert signup to an ajax request"
Please use one of the following templates to create new issues:

For a new feature:
As a visitor
When I click a sign up/join now button
It should send a POST request to an API that creates this user.

This is blocked until operationcode/operationcode_backend#1 is completed.

[2017-03-16 13:05] rickr opened #696 "Pull code schools from API"
Please use one of the following templates to create new issues:

For a new feature:
As a visitor
When I visit /code_schools
It should pull a list of code schools from an API. This is blocked until operationcode/operationcode_backend#2 is complete

[2017-03-16 13:07] rickr opened #697 "Pull FAQs from API"
Please use one of the following templates to create new issues:

For a new feature:
As a visitor
When I visit /faqs
It should pull the list of questions from an API. This is blocked until operationcode/operationcode_backend#3 is completed.

[2017-03-16 21:18] spmcbride1201 opened #698 "Guild of SW Architects has shut down bootcamps"
It should be removed from both the Code School section and the Scholarship section.

[2017-03-17 01:08] walleyyang opened #699 "Veteran Map lagging from too many markers"
As a visitor, the Veteran Map markers should be clustered to prevent lag.

[2017-03-17 01:08] walleyyang commented on #699
I plan on working this issue.

[2017-03-17 16:13] davidmolina commented on #698
Working on removing this. cc @rickr

[2017-03-17 23:23] davidmolina commented on #698
It's coming: https://github.com/OperationCode/operationcode/pull/700

[2017-03-17 23:29] davidmolina commented on #698
PR #700 fixes this.

[2017-03-17 23:29] #698 closed

[2017-03-17 23:44] davidmolina opened #701 "Remove Guild of Software Architects from scholarships in code schools page"

[2017-03-18 00:16] jjhampton commented on #622
Plugin that may do what we need: https://github.com/aarongustafson/jekyll-crosspost-to-medium

[2017-03-18 01:55] #701 closed

[2017-03-18 02:10] kylemh commented on #425
@rickr can this issue be closed? "Operation Code" still yields us as number one on Google and Bing.

[2017-03-18 02:35] coffeehorn opened #704 "Add Make install instructions for Windows to CONTRIBUTING.md"
As a new developer, when I try to set up my development environment following the instructions in the CONTRIBUTING.md on Windows, I get an error after trying to use the command `make`.  The CONTRIBUTING.md file should be update that make is also a required install for windows.

[2017-03-18 02:40] jjhampton commented on #704
Agree that this should be added, as Windows lacks `make` command out of the box.

Make for Windows can be found here: http://gnuwin32.sourceforge.net/packages/make.htm
We should probably have some instructions for beginners on how to properly install it and add it to PATH so it can be ran from the command-line.

[2017-03-18 03:08] coffeehorn commented on #704
I'll volunteer to add content to this

[2017-03-18 03:44] jjhampton opened #706 "Operation Code website outage - 3/17/2017"
As a VISITOR,
When I visit https://www.operationcode.org ~(or any variation of the domain)~
It displays an error message
It should display the Operation Code website

Additional Information:
![screenclip](https://cloud.githubusercontent.com/assets/8835055/24068673/3827a58c-0b6b-11e7-999a-e59704bdc8a9.png)

Occurred sometime after merging #702 and automated build/deploy.

Sentry error message relat

[2017-03-18 04:36] rickr commented on #704
Thanks @coffeehorn. I don't have a windows machine to test this out on so your help is invaluable!

[2017-03-18 13:45] rickr commented on #704
Fixed in #705

[2017-03-18 13:45] #704 closed

[2017-03-18 13:58] jjhampton commented on #706
Looks like `https://operationcode.org` is working, but `https://www.operationcode.org` returns a 503 error now.

[2017-03-18 14:00] #706 closed

[2017-03-18 14:25] rickr commented on #425
Yea. Lets go ahead and close this. If we want to take action on @rkerneggers additional terms please file additional tickets.

[2017-03-18 14:25] #425 closed

[2017-03-19 14:20] walleyyang opened #707 "Leaflet icon brings wrong image url"
It does not display the correct url for the default icons. See https://github.com/Leaflet/Leaflet/issues/4968

<img width="339" alt="screen shot 2017-03-19 at 10 14 54 am" src="https://cloud.githubusercontent.com/assets/13701741/24081614/b3f32a1a-0c8d-11e7-8140-a408102bfa49.png">

[2017-03-20 17:20] #707 closed

[2017-03-20 17:25] rickr commented on #699
Fixed in #703

[2017-03-20 17:25] #699 closed

[2017-03-20 22:37] MackenzieH commented on #631
Let me begin by saying I'm NOT down voting teechip. Upon first glance, it seemed like a great $0 cost vehicle for the project. I just wanted to do some research to clarify what it is and how it works.
**HOW IT WORKS**
1. you put your designs on teechip's products (upload an image/design & they print on their merch.)
2. you set price, quantity of products, goal of profits, and duration of campaign

[2017-03-21 14:28] rickr commented on #706
RFO  appears to be our psql host being restarted and our data volume not being moved along with the app container. When I discovered the problem I recreated the DB on the new host, ran migrations, and imported one of our psql dumps.

Next steps: Get rancher NFS (or some other persistence) running

[2017-03-21 22:49] MackenzieH commented on #631
Because I didn't want to negate a free (and therefore very viable option), I've found a potential alternative. You can create what they call a custom store and they have a social marketplace where people who aren't familiar with the project may happen to come across merchandise and in turn, become aware of the project.

**Storenvy**. Everything on their site says it's free, they take percentages o

[2017-03-23 00:22] rickr opened #709 "Update github templates"
* Add a checklist for PRs
* Update the current issue templates to use markdown/headers. The idea is to not have people delete things and to act more like a form.

[2017-03-23 00:24] rickr opened #710 "Persist new members into airtables"
As a new user,
When I sign up,
It should save my details to airtables

[2017-03-27 22:40] hollomancer opened #712 "[location].operationcode.org pages should feature their chapter"
This is an epic for the future and needs to be broken down into smaller stories.

As a chapter leader, I would like a dedicated page for my chapter, that gives me a web presence aligned with operationcode.org.

The population of this page should be automated, grabbing future meetups / membership from Meetup, and grabbing sponsorships from OpenCollective.

[2017-03-27 22:57] davidmolina commented on #712
This is uuuge.

[2017-03-28 22:48] dreamsincode commented on #712
Interested in helping out with this one

[2017-03-29 20:04] hollomancer commented on #712
@dreamsincode, all yours. You'll need to check out the Meetup Pro API to pull some of this info https://www.meetup.com/pro/operationcode/

[2017-03-29 20:38] rickr commented on #712
I was thinking we could do this statically via github pages to reduce hosting costs. Each section would get their own repo they could manage and modify as they wanted.

[2017-03-30 00:01] #710 closed

[2017-03-30 02:59] rickr opened #713 "Net::SMTPAuthenticationError: 535 Authentication failed: Bad username / password"
https://sentry.io/operation-code/operation-code/issues/244141676/

[code]

[2017-03-30 12:25] davidmolina commented on #712
Static pages could work.

[2017-04-01 18:06] aaron-suarez opened #716 "As a visitor, when I read CONTRIBUTING.md, it should explain what "Install Docker" means"
The phrase "Install Docker" and linking to docker.com is unsat. It should at the very least say "Install Docker Desktop for your OS" and link to the download page for each OS (Windows, Mac, Linux). Because there is no page on docker.com for installing Docker Desktop on Linux, it should link to the correct tutorial to install Docker on Linux.

I'll take this issue if anyone wants to assign it to me

[2017-04-01 22:47] rickr commented on #716
All yours!

[2017-04-03 04:44] harisr92 opened #718 "As a VISITOR when I input the link /action it throughs an showing there is no template"
`/action` is missing _form partial. If this route is not using anymore, please remove it from the routes, or add the form partial

[2017-04-03 14:43] rickr commented on #716
Fixed in #717

[2017-04-03 14:43] #716 closed

[2017-04-03 19:23] juliodias commented on #718
I can do this?

[2017-04-03 19:24] rickr commented on #718
@juliodias Absolutely. It's all yours.

[2017-04-05 09:50] roberttysor commented on #629
Is this closed? Have some flight time today and boredom.

[2017-04-05 13:50] rickr commented on #629
It's not closed. Please let me know if you need more details.

[2017-04-05 17:24] brettt opened #719 "Create Deploy Subdomain"
As a VISITOR
When I VISIT DEPLOY
It should maybe BE A SUBDOMAIN instead of a standalone page so it won't get caught up in rails and would be easier to update, etc.  Just a thought to make life easier.

Bret (and David)

[2017-04-05 19:11] rickr commented on #719
This sounds good to me. Before we move forward we need to ID how the page will be hosted.
@Wimsy113 are you moving back to GH pages?

[2017-04-05 19:16] Wimsy113 commented on #719
Deploy's got it's own thing, you can delete this.

[2017-04-05 19:25] Wimsy113 commented on #719
Also, I was mostly trying to keep Deploy separate from Operation Code stuff, because I didn't want people to start mixing up the two. It was supposed to be it's own entity that feeds into Operation Code. If we're trying to turn it into something like say an apprenticeship opportunity, then I'd totally not have any problems with adding it as a sub domain, but the idea was for it to be it's own thin

[2017-04-05 19:30] roberttysor commented on #629
Just landed in San Diego. I'll get some things together this evening and give you anything I get.

Thanks
Rob

Sent from my iPhone

On Apr 5, 2017, at 6:50 AM, Rick <notifications@github.com<mailto:notifications@github.com>> wrote:

It's not closed. Please let me know if you need more details.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://

[2017-04-05 19:32] rickr commented on #719
What's the domain? Is it ready for oc.org to link to?

[2017-04-05 19:38] Wimsy113 commented on #719
yup it's here [http://deployopcode.io](Deploy)

[2017-04-05 19:39] rickr commented on #719
Ok in that case - to close this ticket:

- [ ] Update the menu URL for deploy to point to http://deployopcode.io
- [ ] Search for any additional references to deploy and replace those links as well

[2017-04-05 20:19] C-Lion commented on #629
Go for it!

[2017-04-07 03:49] davidmolina opened #721 "Blog: Fix blog redirect from Medium to internal"

[2017-04-07 03:53] davidmolina opened #722 "Blog: Fix link"

[2017-04-07 03:55] davidmolina commented on #722
This [commit](https://github.com/OperationCode/operationcode/commit/0f3d8aada3a29861c9312b43f94ce9d76d590c83) fixes this.

[2017-04-07 03:55] #722 closed

[2017-04-07 03:55] davidmolina commented on #721
This [commit](https://github.com/OperationCode/operationcode/commit/c5a4e3b0a736568ab32749882356900270f2c669) fixes this.

[2017-04-07 03:55] #721 closed

[2017-04-09 18:09] tpham045 commented on #579
Hi! I would like to take this design task.

From the #467 Jeremy's screencast, there is only one thing left in his request:

As Visitor/Student,
When I click on Scholarship page
The scholarships of coding schools should display right after the video.

[2017-04-10 13:32] hollomancer commented on #579
All yours!

[2017-04-11 12:37] hd719 commented on #709
Hello there! I am new to open source source and I would like to contribute.

[2017-04-11 12:37] hollomancer commented on #709
@hd719 All yours!

[2017-04-11 12:45] hd719 commented on #272
Hello there! I am new to open source and I would like to contribute to this project.

[2017-04-11 12:49] hollomancer commented on #272
Added you as contributor

[2017-04-11 17:32] hd719 commented on #272
Hey @hollomancer I checked the `lib` folder I could not find the `code_schools.yml` file, but I did find the `code_schools.rb` file.

[2017-04-11 18:58] hd719 commented on #709
Hey @hollomancer do you want a generalized pull request checklist or a pull request checklist based on the repository standards (https://github.com/OperationCode/operationcode)?

-Thank you.

[2017-04-11 20:54] rickr commented on #709
Lets start with this text for PRs (taken from the list [here](https://github.com/operationcode/operationcode/blob/master/CONTRIBUTING.md#submitting-your-changes)):

[code]
Please feel free to make suggestions on how this could be better!

[2017-04-12 15:34] rickr commented on #272
The method should be added to `code_schools.rb`. That's a typo in the issue.

[2017-04-12 19:23] hd719 commented on #272
Hello @rickr I keep getting an `Uninitialized Constant OperationCode` error when I try run `make setup`

Full Error:

[code]

[2017-04-12 19:40] hd719 commented on #272
Hello @rickr I am getting a `NameError: Cannot load `Rails.application.database_configuration`:
uninitialized constant OperationCode`, this happens when I run `make setup` in the command line. I have done `bundle install` and installed the gems.

Full Error:

[code]

[2017-04-12 21:15] jaitjacob opened #723 "Links within README.md's "Setting up your environment" section"
As a VISITOR,
When I open [readme.md], I find trouble setting up the environment because certain links pointing to the location of required software is not up and running. Can we have an alternative for that, like a different method to set up the required environment.
It should make it easy for anyone who is coming to the repository for the first time and wants to get started with the code.

[2017-04-12 21:46] hd719 commented on #723
Hey @jaitjacob when you set up the development env. when you run `make setup` are you getting any errors? I am getting this one

[code]

I have Docker up and running for mac as well as Postgres.

-Thanks

[2017-04-13 00:12] rickr commented on #723
@jaitjacob Can you be a bit more specific? What links were not up and running? Where are you getting hung up?

[2017-04-13 00:36] rickr opened #724 "OperationCode library not required for rake tasks"
Originally reported in #272.

After migrating to file based secrets rake tasks are broken.

[code]

[2017-04-13 00:37] rickr commented on #272
@hd719 That looks like a bug. #724 has been filed. Fix coming shortly.

[2017-04-13 00:48] #724 closed

[2017-04-13 00:49] rickr commented on #272
@hd719 Fix has been merged into master. Please pull in the latest changes and reopen #724 if you're still having issues.

[2017-04-13 03:52] feosuna1 commented on #719
I'd like to work on this. PR incoming.

[2017-04-14 04:30] tpham045 commented on #579
Hello!
I did some user test on the original design to find some pain points.

Here is the first draft: [http://operation-code-scholarship.webflow.io/](http://operation-code-scholarship.webflow.io/)

What do you think? @hollomancer

[2017-04-14 13:46] jaitjacob commented on #723
@rickr  I was talking about the " GNUWin general installation guide" link which is used to install the Make tool for windows. The zip file required for installing "Make" within that page has been down because of some internal server error. I don't think we can fix that other than specifying an alternative for "Make" for Windows.
More clarification, I am talking about the download link within this

[2017-04-14 13:49] jaitjacob commented on #723
@hd719 Hi there, I was on my Windows PC and I had a lot of trouble with installation. I'll be switching to my Linux  and trying this out. Will let you know if i face any issues. Which OS do you work upon by the way?

[2017-04-14 14:00] hd719 commented on #723
@jaitjacob So I was using a mac, but @rickr fixed the bug and it works now, just make sure you pull in the latest changes from the master branch.

[2017-04-14 14:04] hollomancer commented on #579
@tpham045, will take a look!

[2017-04-14 14:04] hollomancer commented on #579
This looks great! @rickr, what do you think?

[2017-04-14 15:52] hd719 commented on #272
Hello @rickr to configure the map to display all the code schools,

I have quick question in the `codeschools.yml` file it does not show the latitude and longitude for the code schools. I was wondering do I have to add the latitude and longitude coordinates separately for each of the individual code school or is there an automated process that implements that?

-Thank you.

[2017-04-15 02:13] rickr commented on #723
Ok. Since this appears to be fixed I'm going to go ahead and close this issue.

Thanks for the heads up!

[2017-04-15 02:13] #723 closed

[2017-04-15 02:14] rickr commented on #272
Hi @hd719

Is Lat/Long required? We should have the address and at the very least the city/state for each school if that's helpful.

[2017-04-15 02:41] #719 closed

[2017-04-15 16:43] tpham045 commented on #579
Just talk to @rickr today. It seems that we plan to build/convert a new front end (repo operationcode_frontend) using React.

I think it is better to organize these Design tasks over there.
@hollomancer What do you think?

[2017-04-15 17:30] hd719 commented on #272
@rickr

Hey, so the reason I ask is because the map API requires coordinates.

[2017-04-17 02:59] hollomancer commented on #579
Agreed - we can recreate there.

[2017-04-17 02:59] #579 closed

[2017-04-17 13:55] rickr commented on #272
Hrm ok. If that's the case we'll need to store lat/longs for the schools. For now you can just omit schools that don't have a lat/long from the listing of code schools for the map and we can add them over time.

[2017-04-19 21:09] hollomancer opened #728 "Add Nick to staff"
On the staff page, add Nick Krzemienski.

Nick is a US Marine veteran and full stack mobile engineer. He is the founder of Koda Labs (http://kodalabs.com), a boutique mobile development studio. He is volunteering his time to help out and jumpstart our Deploy program.

[2017-04-23 17:01] davidmolina opened #730 "Add /gala page"
As a visitor,
When I visit /gala
There should be a page highlighting our Gala fundraiser, including, location, date & time, quick summary, planning committee co-chairs & members (along w/ their Slack handle), sponsorship prospectus, a way for companies to pay for a table or seats.

[2017-04-23 22:36] hollomancer commented on #730
We need copy for this.

[2017-04-23 23:31] davidmolina commented on #730
Nov 10, 2017
Governor's Ballroom, Sentinel Hotel
Portland, Oregon

[2017-04-24 14:11] rickr commented on #730
Going to track this in operationcode/operationcode_frontend#44.

[2017-04-24 14:11] #730 closed

[2017-04-25 11:50] fredosantana commented on #728
Just submitted a pull request for this. Let me know what you think.

[2017-04-27 03:25] davidmolina opened #735 "Add Thomas to /board"
Thomas Ciszek (@ciszek) currently leads media and entertainment research at Twitter in Los Angeles. Mr. Ciszek previously co-founded Cojoin, a Launchpad LA startup and attended University of North Carolina on the Morehead Scholarship where he earned a Master of Science in Information Science.

[2017-04-27 10:04] fredosantana commented on #735
I can take care of this. Have a PR for #728 waiting to be merged that's similar to this.

[2017-04-28 01:32] sdoyle0 commented on #629
I started to take a look at this last night and was hoping for a little insight/help. It looks like there are a couple options. Since there's already a Mentor model that extends a Veteran, it looks like it could be done passing a parameter to the existing veteran registration path, which I started down and can be seen [here](https://github.com/sdoyle0/operationcode/commit/d9ffd3c62596b40e5f48659ea

[2017-04-28 12:33] fredosantana commented on #629
Agreed @sdoyle0. I'd assume that features for mentors would require separate views and controllers from veteran features. I can assist with this.

[2017-04-30 03:07] sdoyle0 commented on #629
I committed some initial steps in the mentor_629 branch of my repository. Feel free to take a look and see what you think. Definitely open to suggestions. [mentor_629 repo](https://github.com/sdoyle0/operationcode/tree/mentor_629)

[2017-05-02 00:21] kylemh commented on #730
Any images or format you'd like this page in?

*claimed*

[2017-05-02 00:29] joelcorey commented on #696
Will this use your YAML file or the Airtable API?

[2017-05-04 12:20] hd719 commented on #709
@rickr @hollomancer Sorry for bother, but any update on the pull request?

[2017-05-04 12:21] hd719 commented on #272
Hey @rickr and @hollomancer again sorry for the bother, but any update on the pull request

[2017-05-04 12:31] rickr commented on #709
Hey @hd719. Apologies for the delay. I've been super underwater lately. I'll try to get to this today.

[2017-05-04 12:31] rickr commented on #272
Hey @hd719. Apologies for the delay. I've been super underwater lately. I'll try to get to this today.

[2017-05-04 12:31] hd719 commented on #709
@rickr Oh no worries take your time!

[2017-05-06 12:48] hollomancer opened #738 "Add Tyrone to /board"
Dr. Tyrone Grandison (@tgrandison) is the CIO of the Institute for Health Metrics and Evaluation (IHME) at the University of Washington. He previously served as a White House Presidential Innovation Fellow working with the US Department of Labor, and co-founded the Commerce Data Service at the US Department of Commerce.

@davidmolina, this look ok?

[2017-05-06 12:52] davidmolina commented on #738
Perfect

[2017-05-12 01:55] Kevffeine commented on #738
Can I claim this

[2017-05-12 13:53] rickr commented on #738
Absolutely! All yours.

[2017-05-12 17:49] sdoyle0 commented on #629
@rickr, would you be able to take a look at the branch and see if that's what you were thinking for this new page? Or would it be better just to submit it as a pull request?
[Here](https://github.com/sdoyle0/operationcode/commit/e6ab16860cbdf8c9ae6ce7a82022e8703bebc2ec) is a link to the page showing the additions as well.

[2017-05-16 22:23] josephrebolledo commented on #686
Is this still open? Can I claim this?

[2017-05-18 22:36] aayushgoyal1 commented on #712
I'm interested in helping out

[2017-05-18 22:38] hollomancer commented on #712
All yours - send a PR and let's check it out!

[2017-05-19 01:54] sethbergman commented on #692
```"errors\":[{\"field\":\"merge_fields.FNAME\",\"message\":\"Data did not match any of the schemas described in anyOf.\"},{\"field\":\"merge_fields.LNAME\",\"message\":\```

It looks like the schema doesn't match the available field type, or maybe the `(ENV['MAILCHIMP_LIST_ID'])` is incorrect.

- http://kb.mailchimp.com/lists/manage-contacts/manage-list-and-signup-form-fields

- http://kb.mailchi

[2017-05-23 17:36] rickr commented on #278
Fixed in #742

[2017-05-23 17:36] #278 closed

[2017-05-23 18:56] jdivo opened #743 "Updates to Styling of Press section on Homepage and Press Page"
As a Vistor,
When I visit the homepage and Press page
It does not match design of rest of sight.
It should look like the rest of the site from a styling perspective.

Additional Information (eg browser version, screenshots etc):

I was hoping to contribute to this project as part of a software engineering bootcamp I am enrolled in by updating the styling of the Press section on the homepage as wel

[2017-05-23 19:04] rickr commented on #743
@jdivo - we'd love your help!

OperationCode/operationcode_frontend is 1 or 2 issues from being deployed so if you'll be working on this for a few weeks I'd say that's the best place to make this change.

Are you comfortable with react?

[2017-05-23 19:26] jdivo commented on #743
@rickr - I do plan on spending some time over the next few weeks and am comfortable with both react and rails so will take a look at current issues for both frontend and backend and continue the conversation there!

[2017-05-24 03:50] sdoyle0 commented on #630
@rickr, should this be closed from #732

[2017-05-24 13:03] rickr commented on #743
Ok then. See you over there! I'm going to close this out.

[2017-05-24 13:03] #743 closed

[2017-06-13 20:52] #738 closed

[2017-06-13 20:52] #735 closed

[2017-06-13 20:53] davidmolina opened #745 "Remove Pete Runyon from /board"
Pete submitted his resignation-- should be removed from the /board page.

[2017-06-13 22:37] davidmolina opened #746 "Re-add Skill Distillery to /code_schools"
http://skilldistillery.com/

[2017-06-13 22:42] davidmolina commented on #746
- name: Skill Distillery
  url:  http://skilldistillery.com/
  address1: 7400 E. Orchard Rd
  address2: Suite 1450
  city: Greenwood
  state: CO
  zip: 80111
  va_accepted: true
  full_time: true
  hardware_included: true

[2017-06-14 04:54] ajones1989 commented on #745
i got this one

[2017-06-15 00:59] #586 closed

[2017-06-15 00:59] #588 closed

[2017-06-15 00:59] #596 closed

[2017-06-15 00:59] #601 closed

[2017-06-15 00:59] #617 closed

[2017-06-15 00:59] #621 closed

[2017-06-15 00:59] #622 closed

[2017-06-15 00:59] #623 closed

[2017-06-15 00:59] #629 closed

[2017-06-15 00:59] #630 closed

[2017-06-15 00:59] #631 closed

[2017-06-15 00:59] #660 closed

[2017-06-15 00:59] #686 closed

[2017-06-15 00:59] #690 closed

[2017-06-15 00:59] #692 closed

[2017-06-15 00:59] #695 closed

[2017-06-15 00:59] #696 closed

[2017-06-15 00:59] #697 closed

[2017-06-15 00:59] #709 closed

[2017-06-15 00:59] #712 closed

[2017-06-15 00:59] #713 closed

[2017-06-15 00:59] #718 closed

[2017-06-15 00:59] #728 closed

[2017-06-15 00:59] #745 closed

[2017-06-15 00:59] #746 closed

[2017-06-15 00:59] #153 closed

[2017-06-15 00:59] #268 closed

[2017-06-15 00:59] #272 closed

[2017-06-15 00:59] #283 closed

[2017-06-15 00:59] #284 closed

[2017-06-15 00:59] #285 closed

[2017-06-15 00:59] #352 closed

[2017-06-15 00:59] #355 closed

[2017-06-15 00:59] #372 closed

[2017-06-15 00:59] #377 closed

[2017-06-15 00:59] #378 closed

[2017-06-15 00:59] #379 closed

[2017-06-15 00:59] #387 closed

[2017-06-15 00:59] #444 closed

[2017-06-15 00:59] #455 closed

[2017-06-15 00:59] #534 closed

[2017-06-15 00:59] #537 closed

[2017-06-15 00:59] #538 closed

[2017-06-15 00:59] #568 closed

[2017-06-15 00:59] #569 closed

[2017-06-15 00:59] #570 closed

[2017-06-15 00:59] #577 closed

[2017-06-15 00:59] #578 closed

[2017-06-15 00:59] #580 closed

[2017-06-15 01:34] rickr opened #747 "ID.me integration"
operationcode/operationcode_frontend#20
operationcode/operationcode_frontend#125
operationcode/operationcode_frontend#124
operationcode/operationcode_frontend#118
operationcode/operationcode_backend#38

[2017-06-15 01:36] rickr opened #748 "Complete 'More Information' Section"
Milestone: https://github.com/OperationCode/operationcode_frontend/milestone/6

Issues:
OperationCode/operationcode_frontend#154
OperationCode/operationcode_frontend#155
OperationCode/operationcode_frontend#156

[2017-06-15 01:44] rickr opened #749 "Messaging/Notification Subscription System"
We should be able to deliver meaningful notifications to our members.

This system should operate like so:

Upon sign up a user should be able to select areas they're interested in. These areas should be high level, eg ruby, javascript, react, angular.

When Operation Code receives an opportunity a staff member should be able to craft a message, tag one of these areas, and be able to send to every

[2017-06-15 01:58] rickr opened #750 "User Profiles"
User Profiles are required to provide targeted, useful information to our users while enabling our staff to glean anonymous statistics about our user base for grants, partnerships, and political requests.

We should be able to answer questions like 'How many people are looking for work in the NYC area', 'How many people are open to internships', 'How many people are interested in iOS development'

[2017-06-15 20:53] rickr opened #751 "Sendgrid migration"
Our sendgrid account is now setup. To complete this we will need to:

* Migrate our templates from mailchimp to sendgrid
* Migrate all of our contacts from mailchimp to sendgrid
* Transfer unsubscribes to sendgrid
* Create whitelist DNS records
* Verify the backend is sending transactional email via the `operationcode-transactional` account

[2017-06-16 03:56] hollomancer commented on #751
I think it might be better to migrate our contacts from the user database to Sendgrid, rather than Mailchimp to Sendgrid. Given the large differential in our total entries between Mailchimp and Sendgrid, it's likely many have gotten lost.

[2017-07-14 21:15] rickr commented on #750
Frontend milestone: https://github.com/OperationCode/operationcode_frontend/milestone/8

[2017-07-16 00:32] hollomancer opened #754 "Cloudflare assessment"
Cloudflare has offered to support us, and has a few different services they provide.

@rickr, between https://www.cloudflare.com/plans/ and their new apps offering at https://www.cloudflare.com/apps/, we have a lot of options here. What do you think?

[2017-07-16 15:38] hollomancer opened #755 "Configure Discourse"
Add a Discourse forum to cover the gap between email marketing and Slack.

This should be pointed to community.operationcode.org

[2017-07-16 19:47] hollomancer opened #756 "Evaluate Mail-For-Good"
Mail for Good is an open-source Mailchimp/Sendgrid alternative for email marketing, made by our friends at Free Code Camp. We can save a significant amount of money by using it, but it's unclear how stable and reliable it is, or whether the featureset will meet our needs.

https://github.com/freeCodeCamp/Mail-for-Good

[2017-07-24 01:30] rickr opened #757 "Setup staging system"
We should have a staging environment to test changes.

Possible ideas:

Github bot to manually deploy a PR to staging
Subdomain for each PR number

Things to remember:
We'll need a way to make sure that staging reverts back to master after each PR is merged

[2017-07-26 19:33] rickr opened #758 "Mentorship Management Improvements (Epic)"
Key stakeholder: @jjhampton

Pain points from our discussion on 10/5/2017 around [mentor management](https://community.operationcode.org/t/intro-to-mentoring/246):
- **Assigning new mentees to a mentor in a timely fashion**:
  - Goal is for a mentee to have a response from a mentor within 24-48 hours, once a mentor service request is made.
  - To notify mentors of a request, we currently rely on:

[2017-08-03 02:31] rickr opened #759 "Build contracting portal."
Businesses should be able to submit a proposal for a project to be worked on by our memebers

[2017-08-03 04:42] sethbergman commented on #759
I wasn't able to push to the other repo you created.
https://github.com/OperationCode/job-portal

[2017-08-03 13:06] rickr commented on #759
Can you try again?

[2017-08-04 08:04] sethbergman commented on #759
It's been pushed to the requested repo, https://github.com/OperationCode/jobs.git and can be viewed here:
### Demo: => [Jobs Portal](https://sethbergman.engineer) <=

[2017-08-04 08:07] davidmolina commented on #759
👌🏻

[2017-08-16 14:36] Hiren-Mehta opened #760 "Broken link to 'startup community' in README.md"
The link to 'startup community' ( which points to https://operationcode.org/contributors ) in the README file is broken and hence returns a 404 error.

[2017-08-24 19:24] hollomancer opened #761 "Need a way to interact with the database directly"
While our API is being built, there is a lot of data that we still need in order to continue writing grants, verify military status for scholarships, etc. We need some method (command line interface, limited-access Postgres user, dashboard etc.) to read this data.

[2017-09-29 00:54] Programazing opened #762 "Code School Scholarships title CSS Misalignment"
I noticed at my screen resolution, `1366 x 768`, the title of this section is displayed incorrectly.

![css](https://user-images.githubusercontent.com/11393826/30996429-ddc0118e-a48e-11e7-969c-c4c3f0559de7.png)

[2017-09-29 03:37] jjhampton commented on #758
**Proposal: Move Mentorship Management to Discourse**
* Signup form on front-end would hit the back-end API, posting a new topic to a -private- (mentors only) Discourse category.  Note that the current form's interface w/ Airtables is broken: https://github.com/OperationCode/operationcode_frontend/issues/341
* We can use Discourse sub categories and tags to manage state, instead of tracking a Ment

[2017-09-29 04:09] jjhampton commented on #762
Quick fix that wouldn't require any changes to CSS - change the text content of the `h6` element to from 'Code School Scholarships' to just 'Scholarships'

[2017-09-29 04:15] jjhampton commented on #762
Closing, moved this issue to the front-end repo: https://github.com/OperationCode/operationcode_frontend/issues/511

[2017-09-29 04:15] #762 closed

[2017-09-30 17:47] sethbergman commented on #750
Linking this here:
https://github.com/OperationCode/operationcode_frontend/issues/481

[2017-09-30 18:15] sethbergman commented on #750
https://github.com/OperationCode/operationcode_frontend/milestone/14

[2017-10-02 20:51] Cooperbuilt commented on #747
Unless there is more integration needed, I think we have this one solved and can close.

[2017-10-02 21:30] Cooperbuilt opened #763 "RFC - Remote Apprenticeship Program"
# The Op-Code Opportunity

We aim to get veterans jobs in technology. Of the many barriers to entry in the dev world, one key barrier is professional experience. Operation Code is uniquely positioned to address this with a dedicated apprenticeship program.

## The Current State of Affairs

A number of our members use Operation Code as a place of employment on their LinkedIn and resume. The presenc

[2017-10-02 23:57] kylemh opened #764 "Upgrade yarn in front-end CI"
Currently on v0.24.something

We can upgrade to latest with no breaking changes, and receive performance benefits and bug fixes.

[2017-10-03 03:29] Hiren-Mehta commented on #747
Yeah, that's what I was thinking at https://operation-code.slack.com/archives/C04FASBU9/p1504883471000152

[2017-10-03 13:46] Programazing opened #766 "Suggestion: Add a Link to the Store on the Main Website"
I noticed there's [a store](https://operationcode.threadless.com) but there's no mention of it anywhere on the main website. Shouldn't this be something that's made available there since it's a revenue stream and a way for people to show support?

[2017-10-03 13:52] Programazing opened #767 "Suggestion: Sell Stickers in the Store"
I see there's [a store](https://operationcode.threadless.com) but there're no stickers for sale? We're developers we're obsessed with stickers.

That and how awesome would it be to see laptops with the Operation Code logo on them? I'm sure they'd open up conversations from people asking what the sticker is for.

[2017-10-03 16:06] kylemh commented on #766
@team_frontend - where should we see this integrated? My personal choice is in profile.

[2017-10-05 01:50] hollomancer opened #768 "Move domain from DNSimple to Route 53"

[2017-10-05 01:50] hollomancer opened #769 "Set up certificates to be automatically managed va kubelego"

[2017-10-05 01:50] hollomancer opened #770 "Each service doesn’t need an LB. Run everything through one load balancer"

[2017-10-05 01:50] hollomancer opened #771 "Make compute instances smaller"

[2017-10-05 01:50] hollomancer opened #772 "Clean up WHOIS records"

[2017-10-05 01:51] hollomancer opened #773 "Backend deployment doesn’t appear to be running db migrations(research needed)"

[2017-10-05 12:43] #760 closed

[2017-10-06 02:54] jjhampton commented on #758
Suggestions from @kylemh from phone discussion on 10/5/2017:

**Assigning new mentees to a mentor in a timely fashion:**
*Assign the mentee to the mentor:*
Use previous [Mentor Request Form](https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/mentorRequest/mentorRequest.js) (temporarily not in use, see front-end [issue 341](https://github.com/OperationCode/operation

[2017-10-09 05:17] jjhampton commented on #763
You make some good points here, @Cooperbuilt .  I think that most of the housekeeping changes should be step one.  Can our Social Media manager work on numbers 1, 2, and 3 currently?

The Apprenticeship program would require significant planning, time, and personnel to run it. Similar ideas have been floated in the past.  I think a trial run of 1 apprentice and 1 mentor would be a good MVP for thi

[2017-10-16 02:27] hollomancer commented on #768
Moved to operationcode_infra

[2017-10-16 02:27] #768 closed

[2017-10-16 02:28] hollomancer commented on #769
Moved to operationcode_infra

[2017-10-16 02:28] #769 closed

[2017-10-16 02:29] #770 closed

[2017-10-16 02:29] #772 closed

[2017-10-16 02:30] #773 closed

[2017-10-16 02:42] #771 closed

[2017-10-18 21:48] hollomancer commented on #747
Agreed.

[2017-10-18 21:48] #747 closed

[2017-10-19 01:54] hpjaj opened #774 "Mentors Showcase"
This page will showcase the Operation Code mentors.  It could contain:

- Areas the mentor "mentors" people in
- Cross-links to squads and other OC pieces they are involved with
- Where they live, in case a face-to-face is ever an option (as well as relative time zones)
- Some of the mentors history and experience, so they are more relatable
- Etc.

Some benefits are:

- Empowers the users to make

[2017-10-19 02:33] hpjaj commented on #774
@hollomancer @jjhampton @kylemh - I have started a HackMD file for us to collaborate on, to begin teasing out individual front and backend issues, start prioritizing them, adding acceptance criteria, etc.

Here it is:  https://hackmd.io/s/BJSFvKSpW

Please begin adding in content and ideas.  It is set to be freely editable.

[2017-10-22 23:15] kylemh commented on #774
I love this resource.

[2017-10-24 05:25] shivendrarox commented on #766
I think home page is better,because even if u r a member or not u can still look at those cool goodies and buy them if u like them and donate too to this project.

[2017-10-28 15:24] sethbergman commented on #754
I love Cloudflare. Free SSL's, new app marketplace, and a solid company that's breaking new ground in the IoT space as well.

https://www.cloudflare.com/press-releases/2017/cloudflare-announces-orbit-to-help-fix-challenges-in-the-internet-of-things-iot-security-model/

[2017-11-02 11:48] Hiren-Mehta opened #775 "Make changes to accommodate different types of tech careers"
At present some of the copy used in the website, newsletters, mentor request form, repository READMEs, Slack bot welcome messages, etc. make use of the term 'software development', which sounds slightly exclusive to the domain of developers. It has been reported that some people (who aren't specifically interested in coding/programming as such but have other tech careers in mind) are confused duri

[2017-11-12 16:00] Hiren-Mehta commented on #758
We will also need to make the mentorship request form accessible only to eligible mentees.

[2018-04-19 16:14] weaverjd opened #779 "zip code not found error when on joining page"
Attempted to join operationcode.org using https://www.operationcode.org/join.
Receive the following error, "There was an error joining Operation Code: zip_code: not found ".
I attempted to use various different zip codes. 11111, 23454, 90210, 06340 ect.
I've replicated the issue on chrome, firefox, IE.

[2018-04-19 17:46] jjhampton commented on #779
This should be opened in either the front-end or back-end repo.

May want to inspect this code in back-end repo: https://github.com/OperationCode/operationcode_backend/blob/31c5a8b76983ca1963e7ea6bf22ad810b948d719/app/models/user.rb

[code]

[2018-04-20 04:48] jjhampton commented on #764
The Docker build on CI is running yarn v0.24.4 - and I believe this is because we're specifying in the front-end [Dockerfile](https://github.com/OperationCode/operationcode_frontend/blob/master/Dockerfile) to pull from the  `node:7` tag (NodeJS v7.10.1) on Docker Hub:
[code]
The Node v7 Docker tags were removed from the official docker-node repo, since Node  v7.10.1 is no longer maintained:
https:

[2018-04-20 06:30] kylemh commented on #764
https://github.com/OperationCode/operationcode_frontend/blob/master/Dockerfile

Cowboy commit 🤠

[2018-04-20 06:30] #764 closed

[2018-05-14 23:45] Programazing commented on #766
I see this is still open. Does anyone want to talk about it?

If not I'll close this at the end of the week.

[2018-05-16 02:26] desnudopenguino commented on #757
I'm sure you could automate a deployment somehow, or at least throw together a Terraform plan or Ansible playbook to deploy a staging environment. Then when you are done you can simply `terraform destroy` and it is gone.

[2018-05-16 06:49] kylemh commented on #766
I posted on Slack for more responses concerning this issue. I've set a reminder to check into this issue Sunday and make a move regardless 👍

[2018-06-09 19:39] JacobMGEvans commented on #756
Looks like if you set up your own dedicated server this can save a tremendous amount of money, especially since that biggest cost with their setup was the VPS/Dedicated Server they were using. Their setup in their docs mentioned **1gb memory and 1 core processor**; possibly a cheap self-built server machine could be made with a couple Raspberry Pi, which would likely be more powerful than that Vir

[2018-06-09 21:08] JacobMGEvans commented on #756
Another possible way to test would be with JMeter (Java-based Load Tester capable of testing SMTP and other mailings protocols) and Postal (Mail server). This blog gives an example of using the two tools together and could be reconfigured for testing the Stability of Mail-For-Good.

Another tool but I am less confident in that the last few suggestions is MultiMail 2.0 it is, however, an SMTP stres

[2018-06-10 01:52] hollomancer commented on #756
It says it's in beta - very curious how fully-featured it is...

[2018-07-10 14:37] dmarchante opened #780 "Test Issue"
Test Issue

[2018-07-18 00:33] #780 closed, assigned to nobody