[2015-04-10 02:45] moedu23 opened #4 "Change the twitter link in the README"
It's going to the old twitter.

[2015-04-10 03:02] #4 closed

[2015-04-13 23:56] davidmolina opened #8 "Add b-roll video top of page."
Add transparent nav-bar.

[2015-04-14 00:01] davidmolina commented on #8
@alexkaufman06 -- can you attack this? Thanks man!

[2015-04-14 00:37] davidmolina opened #9 "Add photo of marine veteran."
Photo will bleed, corner to corner, and will be from the scholarship video.

[2015-04-14 00:37] davidmolina commented on #9
@alexkaufman06 - Thanks Alex!

[2015-04-15 21:34] alexkaufman06 commented on #8
Just finished adding the video and text.  It is now fully responsive on both chrome and safari.  We just have to check the phone view next.

[2015-04-16 18:32] davidmolina commented on #9
Fixed. Thanks @alexkaufman06!

[2015-04-16 18:32] #9 closed

[2015-04-16 18:33] davidmolina commented on #8
Looking great-- thanks @alexkaufman06!

[2015-04-16 18:33] #8 closed

[2015-04-16 18:45] alexkaufman06 opened #16 "Create a better transition between images on homepage"
A blue or simple line would make the page look a little cleaner.  Also, some javascript scrolling would be really nice.

[2015-04-16 18:46] alexkaufman06 opened #17 "Style footer"
Style footer to look fancier.  Similar to thinkful.com

[2015-04-16 18:54] davidmolina commented on #17
@alexkaufman06 -- also, fix Twitter logo issue at the bottom. Can't see the "Follow" and "Tweet" buttons on browser... only iPhone.

[2015-04-18 17:35] davidmolina opened #18 "Need a shop"
Something like this: http://github.myshopify.com/.

[2015-04-18 17:36] davidmolina opened #19 "Need to embed videos, mobile responsive"
Currently, videos are embedded on the Cogostar crowdfunding platform:
https://www.cogostar.org/projects/operationcode

Need to embed on here too.

[2015-04-18 17:39] davidmolina opened #20 "Background photos on homepage not responsive on mobile"
... and, not responsive on browser. Should size accordingly, both scholarship fellows, software mentorship, new gi bill expansion.

[2015-04-18 17:40] davidmolina opened #21 "Integrate Slack"
We have a community on Slack, but need to integrate and authenticate through app while continuing petition (/action).

[2015-04-18 17:41] davidmolina opened #22 "Automate /action or petition"
Military/veterans sign the petition, but the data remains in the rails app and not automatically into the newsletter for the SITREPs.

[2015-04-19 16:24] Wimsy113 commented on #21
There are several apps in slack that allow for this, my team uses them, there's a github app, as well as Circle CI and dploy.io might be worth checking them out.

[2015-04-19 18:52] davidmolina commented on #21
Agree. Fernando (@nanoxd) has the lead. Can you work with him?

[2015-04-19 19:59] nanoxd commented on #21
@Wimsy113 What did you have in mind?

[2015-04-19 21:28] Wimsy113 commented on #21
Well the github app for slack keeps track of pull requests for the repo that it's connected to, and the circleci actually tests the changes that you have made to a repo and let's you know whether they have passed or failed so you can make changes accordingly, they also track pull requests as you go. They can get really spammy especially if you are working on a fix or whatnot. so it really depends

[2015-04-20 00:31] nanoxd commented on #21
@Wimsy113 I responded back in Slack :smile:. Let's move this discussion there

[2015-04-20 05:47] davidmolina commented on #18
@superscott

[2015-04-20 05:53] davidmolina commented on #16
@alexkaufman06 -- agree. We might have more b-roll too.

[2015-04-20 05:57] davidmolina opened #23 "Style header"
Automatic drop-downs as you scroll over for each major header link.

[2015-04-20 18:29] davidmolina commented on #18
@MOPineyro -- See above.

[2015-04-20 21:36] alexkaufman06 commented on #16
Adding more b-roll should be easy at this point.  Javascript scrolling should be quite simple.  Currently at my internship but I should be able to help out at some point this week.

[2015-04-21 01:18] davidmolina commented on #16
Awesome. Thanks man!

[2015-04-21 03:47] davidmolina opened #24 "Embedded videos should size accordingly on mobile"
Currently, embedded videos on mobile don't respond and fit to screen.

[2015-04-22 00:27] superscott commented on #18
10.4.
(*ノ・ω・）

[2015-04-22 19:31] davidmolina commented on #22
We use mailchimp for our SITREPs. About 111 veterans are signed up. Need to automate data input and touch it once, not having to take the data from active-record and then manually input it into mailchimp. Was looking at this: https://github.com/mailchimp/email-blueprints.

Also, need to automate Tweets to U.S. Senators and U.S. Representatives based on veterans zipcode. Manually inputting this as

[2015-04-22 19:37] davidmolina commented on #22
Ideally, we could use Change.org API and Twilio API allowing both civilians and military/veterans to sign the petition to expand New GI Bill to include code schools, locate their local representative, and contact them free of charge using Twilio.

[2015-04-22 20:12] davidmolina opened #25 "Scholarship application"
Another fellow rubyist, @shawnacscott, suggested OpenConferenceWare (http://openconferenceware.org/) as a possibility to build out the Operation Code Scholarship Application. Criteria:
- Secure login for both committee and applicants
- Subdomain potentially, ex. scholars.operationcode.org
- Easy to track, star, flag, ask questions, pre-screen, award, post-award and success stories
- Automatically

[2015-04-22 21:53] ivanoats commented on #25
I've been working on a Scholarships application for UW, but it's not near ready yet. A couple of the other vendors we talked to in our buy/build discussions:

- https://www.academicworks.com
- http://www.wizehive.com

[2015-04-22 22:17] superscott commented on #18
Do we need another repo? We could make it a stand-alone site, or could it be a rails engine inside the main site? @davidmolina

[2015-04-22 23:40] davidmolina commented on #18
Another repo. /cc @nanoxd

[2015-04-22 23:43] nanoxd commented on #18
I think standalone is the best option. Add a CNAME or an A record for that subdomain and host an app somewhere. @davidmolina Did you have any preference on the payment provider? Do you have any accounts set up?

[2015-04-22 23:55] davidmolina commented on #18
Copy.

Preference, Stripe. Not yet.

[2015-04-23 00:39] nanoxd commented on #18
@superscott I created a repo for it :smile: with a basic license. Implementation wise what were you thinking?

[2015-04-23 05:44] davidmolina commented on #18
@superscott Something like this: http://github.myshopify.com/, and focused on t-shirts (m/f) and stickers. I have the brand assets from HackHands. /cc @nanoxd

[2015-04-23 21:03] davidmolina commented on #21
Thanks @nanoxd for this recommendation for on-boarding: https://github.com/rauchg/slackin.

[2015-04-23 21:11] shawnacscott commented on #25
@rediab would be the one to be able to give you more info about OpenConferenceWare and whether it might work for this use case.

[2015-04-23 21:47] davidmolina commented on #25
Thanks @shawnacscott.

@reidab - would OpenConferenceWare work for an scholarship application process & tracking system?

[2015-04-25 22:15] reidab commented on #25
@davidmolina It certainly might work, but there are some things to consider about its current design that might need working around:

* Since Open Source Bridge has a public proposal process, OCW doesn't currently have any support for making proposals private after they're submitted. This is something I'd gladly accept a PR for, provided it was implemented as an optional feature.
* The proposal fi

[2015-04-26 06:39] alexkaufman06 opened #26 "Video Pause"
Background video on page keeps pausing and showing a blank black screen for a second.  Possible fix with Media API? http://stackoverflow.com/questions/14161599/customize-html5-video-stop-point-frame

Adding a picture of the hands in the background might help as well.

[2015-04-26 19:20] dmmoody commented on #16
Sent a pull request to resolve this issue.

[2015-04-26 19:51] davidmolina commented on #16
Thanks @dmmoody!

[2015-04-26 19:54] davidmolina commented on #26
Right. That should work.

[2015-04-26 20:02] #16 closed

[2015-04-28 00:08] davidmolina opened #28 "Success Stories"
An awesome portfolio that showcases veterans who are coders and built cool things, and veterans who have gone through code school.

[2015-04-28 04:09] nanoxd opened #31 "Add RSpec w/ Capybara"
Remove `ActionController::Tests` in favor of RSpec

[2015-04-28 04:49] davidmolina commented on #24
@nanoxd still not responding on mobile (iPhone).

[2015-04-28 04:58] nanoxd commented on #24
#29 took us partway there thanks to @alexbeeken. I got sidetracked and didn't push it up to Heroku. Pushing now

[2015-04-28 05:01] nanoxd commented on #24
iPhone 6:

![operation code veteran coders 2015-04-27 22-00-38](https://cloud.githubusercontent.com/assets/1889575/7363074/e04e340a-ed28-11e4-8ea7-36f5170e23aa.png)

[2015-04-28 05:06] davidmolina commented on #24
Awesome--works perfect @nanoxd! Thanks @alexbeeken for your contribution on this!

[2015-04-28 05:06] #24 closed

[2015-04-28 05:12] nanoxd opened #33 "Home page images breaks responsive navbar on Mobile"
Images on home page break the responsive nav bar. Specific model was iPhone 6. Can be replicated via Chrome  with a resolution of 375x667 and a device pixel ration of 2

[Preview](https://vid.me/a2I1)

[2015-04-28 05:16] davidmolina commented on #20
@nanoxd @alexbeeken gents-- responsiveness on background photos changed on that last commit.

[2015-04-28 05:22] nanoxd commented on #20
In what way? I noticed a little quirkiness but none of the css overwrote any part of the image css.

[2015-04-28 05:27] nanoxd commented on #20
Running a `git checkout HEAD~2` on master yields the same result on live site and dev site. I checked both Safari and Chrome. Are you seeing issues on any other browser?

[2015-04-28 05:29] davidmolina commented on #20
I see this on my iPhone:

On Mon, Apr 27, 2015 at 10:27 PM, Fernando Paredes <notifications@github.com

[2015-04-28 05:29] davidmolina commented on #20
![img_9532](https://cloud.githubusercontent.com/assets/1848616/7363292/eaf082f6-ed2c-11e4-99b9-4f262720b97a.PNG)

[2015-04-28 05:47] davidmolina commented on #33
Hmm. I'm using iPhone 5.

[2015-04-30 01:37] davidmolina commented on #17
closed via dcf3bd59438216610b21ed78b501b6e5ac912011

[2015-04-30 01:37] #17 closed

[2015-04-30 17:45] davidmolina opened #35 "Footer isn't centered."
Added font-awesome, headers and few links to the footer. It's off: https://github.com/OperationCode/operationcode/blob/40256a61f75149f7220c76ec8a53c1dbbe68cc92/app/views/layouts/_footer.html.erb.

[2015-04-30 18:39] #35 closed

[2015-04-30 19:09] davidmolina commented on #20
@alexkaufman06 - do you see the same?

[2015-04-30 19:10] davidmolina commented on #19
Fixed via 40256a61f75149f7220c76ec8a53c1dbbe68cc92.

[2015-04-30 19:10] #19 closed

[2015-04-30 19:12] davidmolina commented on #25
@reidab - still working through this.

[2015-04-30 23:53] davidmolina commented on #26
Gotta be another way vs. blank screen. Not sure. /cc @BrainScraps @nanoxd

[2015-05-04 16:28] Wimsy113 commented on #33
Let me check it on my 6 and see

[2015-05-04 16:35] Wimsy113 commented on #20
Okay so there is a simple fix for this,  let me check on the source code and then get back to you, but I'm sure I can fix it.

[2015-05-04 17:13] davidmolina commented on #20
Awesome. Thanks Krystyna for the contribution.

On Mon, May 4, 2015 at 9:35 AM, Krystyna Ewing <notifications@github.com>
wrote:

[2015-05-06 02:18] davidmolina commented on #28
Fixed via 265f98f9a4e927cc2a8b75576910228b1520d3c9.

[2015-05-06 02:18] #28 closed

[2015-05-07 02:15] alexkaufman06 commented on #20
Any luck on the photos @Wimsy113?  I was thinking about taking the photos down for now and adding a simple background as a temporary fix.

[2015-05-07 02:35] nellshamrell commented on #18
+1 for Shopify!  Very good people at that company.
http://www.shopify.com/

[2015-05-07 03:20] nellshamrell opened #40 "Unable to run tests"
When I attempt to run tests with this command:
[code]

I get this response:
[code]

Looks like there should be a package.json file in the repo?  Or is that something I should create on my own?

[2015-05-07 04:24] davidmolina commented on #40
Thanks @nellshamrell. Let me take a look on my end. Looks like we're missing we're missing the package.json file.

[2015-05-07 04:26] davidmolina commented on #40
Whoa, @nellshamrell. I'm getting the same error. /cc @nanoxd

[2015-05-07 04:27] davidmolina commented on #40
@nellshamrell - look for the invite on Slack. We were just talking about this, this or last week and using something to test.

[2015-05-07 04:40] nanoxd commented on #40
Hey @nellshamrell! Looks like our contribution guide is wrong. Sorry about that. In the meantime the following commands should get you up to speed:

[code]

[2015-05-07 05:27] davidmolina commented on #20
@alexkaufman06 -- take another stab. Temporary fix is ok. For now. Till we figure it out.

[2015-05-07 16:34] nellshamrell commented on #40
I did those to get the environment set up, but are there existing tests I need to run before submitting a pull request? I have a fix for an issue :)

[2015-05-07 16:36] davidmolina commented on #40
Hey @nanoxd! Thanks for revising those! / @nellshamrell - no existing tests setup now, so no. Send fixes over. Thanks :)

[2015-05-07 16:39] nellshamrell commented on #40
Got it!

[2015-05-09 00:27] nellshamrell commented on #22
I've done this before - building a nightly job which synced all data in a Rails app with Mailchimp, making heavy use of this awesome Mailchimp API wrapper https://github.com/amro/gibbon.  Gibbon makes it very easy to access the Mailchimp API from within a Rails application using Ruby.

Would be happy to integrate this as a first step, though eventually I will need the Mailchimp credentials to make

[2015-05-09 00:32] #40 closed

[2015-05-09 15:24] #31 closed

[2015-05-10 20:39] davidmolina opened #44 "Need to automate enrolled military/ veterans into Slack."
Possible use for Sidekiq (http://sidekiq.org/). /cc @nanoxd
Onboarding should be automated, seamless

[2015-05-10 23:17] davidmolina commented on #22
Hi @nellshamrell- just sent you an invite. Thanks!

[2015-05-10 23:24] nellshamrell commented on #22
Got it.  TY!

[2015-05-10 23:35] davidmolina commented on #22
@nellshamrell -- so this relates a bit to #44 . Total requirements:
- automate signup between rails app and MailChimp (no need to manually input from database copy/paste to MailChimp)
- automate signup between rails app and Slack (Software Mentor Protégé Program) Operation Code community
- Integrate Change.org & Twilio API to automate "traditional letter to Congressman" based on service-member or

[2015-05-11 01:52] nellshamrell commented on #22
I think I'll take on the automate signup between the rails app and MailChimp first, submit a pull request, get that deployed in, then move onto the next requirement (though if anyone else feels like working on the other requirements while I'm working on the Mailchimp piece please feel free!)

[2015-05-11 02:26] nellshamrell commented on #22
How I imagine the Mailchimp aspect of this working:

![operation_code_mailchimp](https://cloud.githubusercontent.com/assets/813007/7557661/74a07e08-f74a-11e4-99b4-d839d72d9606.png)

[2015-05-11 02:28] nellshamrell commented on #22
How I imagine the Mailchimp part of this working:

![operation_code_mailchimp](https://cloud.githubusercontent.com/assets/813007/7557679/bb3203fa-f74a-11e4-82d0-c6ad88b5efde.png)

[2015-05-11 02:54] davidmolina commented on #22
@nellshamrell -- perfect!

[2015-05-11 03:48] nellshamrell commented on #22
Mailchimp is currently transitioning from v2.0 of their API to v3.0.  Documentation on what methods we should use to subscribe veterans through the API is not clear, pinged Mailchimp over twitter for clarification on which API we should use.

[2015-05-11 03:52] nanoxd commented on #22
Thanks for the heads up :+1:

[2015-05-11 04:47] davidmolina commented on #22
Thanks Nell for the heads up.

On Sun, May 10, 2015 at 8:52 PM, Fernando Paredes <notifications@github.com>
wrote:

--
David
http://davidmolina.github.io/ | t. @davidcmolina
<https://twitter.com/davidcmolina>

[2015-05-12 07:44] #23 closed

[2015-05-13 02:40] nellshamrell commented on #22
Updating:

We can indeed use the Mailchimp v3.0 (got a response back from the [Mailchimp API team](https://longreply.com/r/91fd2c8c).  Although [Gibbon](https://github.com/amro/gibbon), a great wrapper for use when calling the Gibbon API from Ruby code, currently does not support v3.0, the maintainer is [working on updating it now](https://github.com/amro/gibbon/issues/118) (I'm going to be helpin

[2015-05-13 02:50] nanoxd commented on #22
@nellshamrell I'm all for waiting. No need to do more work than necessary

[2015-05-13 04:05] davidmolina commented on #22
Awesome. Let's hold off.

On Tue, May 12, 2015 at 7:50 PM, Fernando Paredes <notifications@github.com>
wrote:

--
David
http://davidmolina.github.io/ | t. @davidcmolina
<https://twitter.com/davidcmolina>

[2015-05-17 01:33] ckib16 commented on #44
@davidmolina Let me check with @saron of #CodeNewbie website. They have a great Slack channel and signup was seamless. Standby one...

[2015-05-17 01:59] ckib16 commented on #44
Ok here is their sign-up page using [TypeForm](typeform.com) - https://codenewbie.typeform.com/to/uwsWlZ

After that it looks like there are a few options:
1) Copy & paste from TypeForm each day/week
2) Automate the import by hacking together a script using these guidelines: https://levels.io/slack-typeform-auto-invite-sign-ups/

Hopefully Saron has come up with something else in the CodeNewbie fl

[2015-05-17 04:21] davidmolina commented on #44
@ckib16 -- that be rad if you can take a stab at it. @nanoxd had some good ideas as well.

Let's keep this issue open until we resolve this.

[2015-05-18 00:48] ckib16 commented on #44
Update - Saron at CodeNewbie confirmed we talked about up above. Typeform -> Slack. The actual generation of Slack invites is a manual copy/paste of emails into Slack, or we can try the plugins like [slackin](https://github.com/rauchg/slackin) above.

[2015-05-19 17:59] superscott commented on #18
Update: I should have time to knock this out over the coming weekend.

[2015-05-19 21:30] davidmolina commented on #18
Thanks Scott!

On Tue, May 19, 2015 at 10:59 AM, superscott <notifications@github.com>
wrote:

--
David
t. @davidcmolina <https://twitter.com/davidcmolina>
http://davidmolina.github.io/

[2015-05-19 22:05] davidmolina commented on #18
@superscott: convo was in Slack. BLUF: we'll hold off on building this for now. I will be closing this issue this week/sooner if no one has any objections. More background:

Spoke to Shopify to waive the monthly. The two plans: NPO Lite: $29/month, $312/annual, $624/biennial, $936/triennial
1% transaction fees
CREDIT CARD RATES : Online 2.5% + 30c
POS Swipe Rate 2.4% + 0¢
1 GB File Storage
Unlimit

[2015-05-22 01:20] #18 closed

[2015-05-22 17:28] #21 closed

[2015-05-27 02:54] davidmolina commented on #44
Resolved in #48.

[2015-05-27 02:54] #44 closed

[2015-06-11 04:38] davidmolina commented on #22
Be great to tie in our Twilio.org account and send vets a text (https://twitter.com/robertlenne/status/607901970733658112).

[2015-06-11 04:58] davidmolina opened #51 "Add a blog"
Jekyll or Middleman. Thanks @techguydiy!

[2015-06-11 04:59] davidmolina opened #52 "Add install guide per language."
Need to make it easier for our veterans to install and get coding. Ideas? @dinjas @nanoxd @nellshamrell

[2015-06-11 05:03] davidmolina opened #53 "Easier to navigate code schools"
First hack at it and I put them in alpha-order, ex. California, etc. and added links and their respective addresses. Few issues: hard to navigate. Thinking a map and broken down by cities. Maybe geolocation based? Secondly, code school addresses change often. Few I notice, including Portland Code School and PDX Code Guild have different addresses. In general, little maintenance other than adding c

[2015-06-11 05:06] davidmolina opened #54 "Integrating Twilio"
Approved through Twilio[dot]org (http://www.twilio.org), we have $500 credits that can be used and integrated on our application. All hands on deck on this one as we look to creatively get our message out there, help veterans get coding, advocate for a more modern New GI Bill, fundraise and meet our mission. All options on the table. @cavalryjim @nanoxd @nellshamrell @BrainScraps @chrishough et al

[2015-06-11 05:09] davidmolina opened #55 "Embedded fundraising section"
Currently, we're directing potential donors to our fiscal sponsor and we're losing donors this way. Our donations have been poor, at best (couple hundred since joining in Jan 2015). Too much friction and lost of the Operation Code brand. Need to integrate Dwolla or another easy-to-use and mobile-friendly system that expedites one-time, recurring, etc donations through Operation Code. Ideas?

[2015-06-12 21:23] superscott commented on #51
Since I personally don't enjoy working with either of those, I would say check out this video about [Pelican](http://blog.getpelican.com/).

https://youtu.be/cRtRxk5waE0?t=2h14m45s

[2015-06-12 21:41] techguydiy commented on #51
They are pretty similar, the biggest difference is ruby vs python. I am
still new to this org, so please feel free to correct me if I am mistaken.
To this point it seems like most of the code has been ruby, so I feel like
a ruby platform would make sense to continue down. Plus it seems like there
is a much lower barrier for entry into Jekyll, no need for a virtual
environments...if you have ruby i

[2015-06-12 22:34] davidmolina commented on #51
Jekyll + GitHub page is gold. We want to encourage our vets chances at coding and contributing with different languages and platforms. Agree we could incorporate within the current rails app, but separate might be nice.

[2015-06-15 02:50] davidmolina commented on #20
@Scripore contribution 47dc437 fixed this.

[2015-06-15 02:50] #20 closed

[2015-06-15 02:52] davidmolina commented on #26
@Scripore contribution 47dc437 fixed this in the intermediate until we can come up with a better solution for mobile. Replaced video with scrolling photos.

[2015-06-15 02:52] #26 closed

[2015-06-15 02:53] davidmolina commented on #33
@Scripore contribution 47dc437 fixed this.

[2015-06-15 02:53] #33 closed

[2015-06-15 02:54] davidmolina commented on #55
We'll be using Dwolla this week to integrate. /cc @Scripore

[2015-06-15 03:00] davidmolina opened #56 "Embed signups directly on homepage"
Currently, it's at /action, but potentially losing hundreds of possible signups due to UI/UX. Homepage might help solve this issue.

[2015-06-15 03:03] davidmolina opened #57 "Embed civilian signup on homepage"
Currently, non-military veterans visit the same page as military veterans to sign up and get on our newsletter. It takes too long and potentially we lose hundreds of possible signups weekly. /cc @Scripore

[2015-06-15 18:09] davidmolina commented on #51
Jason, did we decide which platform?

[2015-06-15 18:19] techguydiy commented on #51
Yes, I am moving forward with Jekyll.

Sent from my iPhone

On Jun 15, 2015, at 1:09 PM, David Molina <notifications@github.com> wrote:

Jason, did we decide which platform?

wrote:

there

—
Reply to this email directly or view it on GitHub
<https://github.com/OperationCode/operationcode/issues/51#issuecomment-112157495>
.

[2015-06-15 18:35] davidmolina commented on #51
Do you have privileges to start a new repo?

[2015-06-15 19:09] techguydiy commented on #51
I do. Will start when I push initial commit.

Sent from my iPhone

On Jun 15, 2015, at 1:36 PM, David Molina <notifications@github.com> wrote:

Do you have privileges to start a new repo?

wrote:

wrote:

mistaken.

like

feel

https://github.com/OperationCode/operationcode/issues/51#issuecomment-112157495

—
Reply to this email directly or view it on GitHub
<https://github.com/OperationCode/opera

[2015-06-16 18:23] superscott commented on #51
ლ(́◉◞౪◟◉‵ლ)

[2015-06-16 19:44] gxespino commented on #55
I can do this pretty easily if you set up a a stripe account instead of DWOLLA.

[2015-06-16 19:53] gxespino commented on #22
What would you want the texts to say? I can implement twilio pretty easily.

[2015-06-16 19:55] davidmolina commented on #55
I don't think there's a price difference between the two is there? What
about PayPal? One-time and recurring?

On Tue, Jun 16, 2015 at 12:44 PM, Glenn Espinosa <notifications@github.com>
wrote:

[2015-06-16 19:57] gxespino commented on #55
Very minimal price difference if there is any. Stripe's API is much easier to use that Braintree (paypal) and Braintree has a 4-6 day period before they approve new accounts from my experience. Stripe can do recurring and one time payments.

Stripe == best and easiest to integrate

[2015-06-16 19:59] davidmolina commented on #22
Maybe it's three part: (1) print letter to the veteran's or civilian
supporters member of Congress using the Change.org API, (2) a call to that
office or text?, and (3) an automatic tweet to that veteran's or civilian
supporters Member of Congress and x2 U.S. Senators. Example tweet:

https://twitter.com/operation_code/status/589545850126368769

On Tue, Jun 16, 2015 at 12:53 PM, Glenn Espinosa <no

[2015-06-16 20:02] davidmolina commented on #55
We have a Dwolla account. Will setup an Stripe account and get you the API
info.

On Tue, Jun 16, 2015 at 12:57 PM, Glenn Espinosa <notifications@github.com>
wrote:

[2015-06-16 20:57] davidmolina commented on #55
@gxespino Added you as a user. Also, might be a different thread, but need to integrate additional ways for donors to give, SMS, Amazon, etc.

[2015-06-17 00:40] emckenna commented on #57
There seems to be two forms already, the one on the "sign up" (/action) page and the mail chimp form from the link on the "sign up" page.  What are you looking for here?  Perhaps the Signup should have two menu options?  "Civilian" and "Veteran" ?

[2015-06-17 00:56] davidmolina commented on #57
Right. Should be two: military/veterans and civilians.

Military/veterans go into Slack automatically. Civilians, we have to manually input them into Mailchimp, but ideally should auto this process.

[2015-06-17 15:13] davidmolina commented on #25
Ivan, curious why the other apps ruled were out? Did they not provide a good on boarding? Require separate logins? Wondering what is your progress on the UW app?

[2015-06-18 19:28] emckenna opened #59 "Investigate setting up Travis CI"

[2015-06-18 19:29] emckenna opened #60 "Add more setup detail for contributors"
Need a bit more setup instructions for getting the site up and running locally.

[2015-06-18 19:30] emckenna opened #61 "Do a Brakeman scan"
http://brakemanscanner.org/

[2015-06-18 20:51] emckenna commented on #59
http://foundation.travis-ci.org/

[2015-06-18 22:52] davidmolina opened #62 "Display donors"
Need a great way to display donors. Donors wall?

[2015-06-19 15:56] nanoxd opened #64 "Remove username/password stance from database.yml"
There should be no username/password in the database.yml for dev/test environments

[2015-06-19 21:52] davidmolina opened #65 "Markdown resume"
Build a markdown resume that compiles into a PDF based on DocBook (http://docbook.org) or Latex (http://www.latex-project.org) possibly. Or Prawn. Help standardize the process for our veteran coders, automate the process.

[2015-06-19 21:53] davidmolina commented on #51
@techguydiy @superscott ETA?

[2015-06-19 21:53] davidmolina commented on #51
Should we have a blog and news section for press releases, or just blog? both?

[2015-06-20 18:50] davidmolina commented on #55
@gxespino From Stripe: A new USD bank account ending in XXXX was successfully added
to your Stripe account. Can we knock this out today or should we team up? /cc @nanoxd

[2015-06-20 18:51] gxespino commented on #55
functionality is complete. working on styling and client side validations today. should be finished late this evening, EST.

[2015-06-20 18:51] #64 closed

[2015-06-20 18:52] #60 closed

[2015-06-20 19:45] davidmolina commented on #55
Outstanding!

[2015-06-24 02:59] emckenna opened #69 "Don't require Redis to run tests."
This can be stubbed.  The tests should not depend on Redis existing.

[2015-06-24 03:08] emckenna opened #70 "Upgrade to Rails 4.2.2"

[2015-06-24 22:18] davidmolina commented on #70
Fixed with this commit: 2bd304e9240a7b00b0864aed5a8e596d292e1407.

[2015-06-24 22:18] #70 closed

[2015-06-25 00:33] emckenna commented on #61
First scan suggested rails upgrade.  That's done but I want to do additional scan to see rails 4.2.2 results

[2015-06-25 02:31] #69 closed

[2015-06-26 03:00] emckenna commented on #62
maybe just stick some names in a yaml file and we can serve it up.

[2015-06-26 03:11] emckenna commented on #61
scan looks good

[code]

[2015-06-26 03:11] #61 closed

[2015-06-26 04:17] emckenna commented on #57
I started thinking about Vets/Civilians/Donors, etc and got into the weeds really quick.  I think it might be best to consolidate to one form and a new "SignupController" that handles how the user gets signed up.  For military/vets we can just do what were doing now, just more the code around.  And for Civilians, can look at using mailchimp api call to subscribe them to the list.

[2015-06-26 05:08] davidmolina commented on #62
Right.

[2015-06-26 05:09] davidmolina commented on #57
Sounds good.

[2015-06-26 14:08] davidmolina commented on #53
Additionally, a feature that tracks what coding schools have submitted their application for Veterans use of the GI Bill? [Reference](https://twitter.com/caseyagil/status/613944170307162112)

[2015-06-26 15:32] davidmolina opened #72 "Transparent landing page text"
Need to add a transparent block behind the landing page text. A bit difficult to read for some.

[2015-06-29 03:11] rjcox commented on #72
I added a simple transparent box behind the text. I will work on trying to make it a blurred window of what's behind it tomorrow.

[2015-06-29 05:14] davidmolina commented on #72
Awesome. Will pull down in the am.

[2015-06-30 17:09] choogiesaur commented on #54
This sounds like a cool project. I could help out with integrating Twilio!

[2015-06-30 17:46] davidmolina commented on #54
Awesome! We have a Twilio[dot]org account we could leverage.

[2015-06-30 18:20] choogiesaur commented on #54
If you give me a preliminary idea of how you want this implemented, I can mock up a POC that sends messages/calls. I'll use my free dev account and we can transition later.

https://github.com/choogiesaur/internship-stuff-2k15/tree/master/twilio

Here are some bare examples of message sending, using the twilio-python library. It can be easily transitioned to these languages:

![image](https://clou

[2015-07-01 17:31] davidmolina commented on #55
@gxespino trying to get it to work locally.

[2015-07-02 01:01] ericelliott commented on #65
Great project!

[2015-07-02 01:42] davidmolina commented on #65
Thanks Eric! Welcome your support:
https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md.

[2015-07-02 02:52] ericelliott commented on #65
I'm doing something similar. See the [JSHomes Platform](https://github.com/jshomes/JSHomes-Platform) project. We're creating a high-quality environment for people to learn how to code, and releasing the whole thing as open source. =)

[2015-07-02 03:47] davidmolina commented on #65
Awesome. Will take a look.

[2015-07-02 03:59] davidmolina commented on #65
Eric, absolutely love it. As you already know veterans homelessness is one of our issues. Love to include your organization as we apply for grants to solve this problem.

[2015-07-02 04:04] ericelliott commented on #65
:+1:

[2015-07-02 20:36] emckenna opened #76 "Add example config/application.yml file"
Figaro gem (https://github.com/laserlemon/figaro) uses application.yml to hold its values and setup asks to add application.yml to gitignore.  BUT, for others to get running, we need example copy of application.yml file.

so add
config/application.example.yml

be sure this file has all the required keys with default/fake values for things that should be secret (token keys, ids, api keys, etc)

Als

[2015-07-02 20:37] davidmolina commented on #76
Awesome. Let me get this one going first and will add this next.

[2015-07-02 22:33] davidmolina commented on #76
Got it.

On Thu, Jul 2, 2015 at 1:36 PM, Eric Mckenna <notifications@github.com>
wrote:

--
David
t. @davidcmolina <https://twitter.com/davidcmolina>
http://davidmolina.github.io/

[2015-07-05 03:01] ckib16 commented on #55
@gxespino same as @davidmolina, running into Postgres error. I'll switch to SQLite in development env and see if I can get running.

[2015-07-05 03:27] ckib16 commented on #55
Hmm. Keep geting error `FATAL:  role "davidmolina" does not exist`. StackOverflow answers so far have not helped. Anything I'm missing getting set up locally? I'm not used to running PG locally, but I have it installed correctly and running.

[2015-07-05 17:02] davidmolina commented on #55
Let's hack on this later today if you have time.

[2015-07-05 17:35] ckib16 commented on #55
I fixed it late last night. Up and running locally!

Chris

Sent from my iPhone

[2015-07-05 19:21] davidmolina commented on #55
Nice Chris!

Can you deploy to Heroku?

[2015-07-05 19:53] ckib16 commented on #55
Yeah, I have before for all my Bloc stuff. But usually that wold of couse be at the end of the fix. Fix > PR to Master . Then push to Heroku.

Just got an hour now, let me start digging into code and see if I can tell what's up.

[2015-07-05 20:40] ckib16 commented on #55
Sorry - just to clarify my last post. The problem with Stripe is still there. I wasn't clear.

What I meant was, I fixed my problems with PG locally, and now have the basic app running on my Mac so I can start hacking on the issue.

[2015-07-05 20:47] davidmolina commented on #55
Right. That's what I figured.

On the Stripe error, that's what we're all seeing.

[2015-07-08 01:46] ckib16 commented on #55
Key problem is *mostly* fixed. Need to verify a charge for $69 went through on test site on Stripe Dashboard on 2015-07-07. @davidmolina can you please verify?

[2015-07-08 01:50] ckib16 commented on #55
Other small items (after confirming payments are successful going thru)
- [ ] fix logic in donations_controller - showing the text of the "thank you" email message instead of the :flash success message to the user
- [ ] welcome email formatting issues - user name not included in "Dear    ," welcome line. Other small errors.
- [ ] Check email is sent out

[2015-07-10 00:18] davidmolina opened #79 "Add validations for donations"
If a donor forgets to add their email, donation still goes through, but need to require their email to provide a receipt copy for their tax filings. Nonprofit requirement.

[2015-07-10 01:54] superscott commented on #79
(☞ﾟ∀ﾟ)☞

[2015-07-10 02:02] davidmolina commented on #79
Thanks @superscott! /cc @cenderin @gxespino

[2015-07-10 03:39] superscott commented on #79
Form validation is fixed, should open additional issues or whatnot for the fixes for https://github.com/OperationCode/operationcode/blob/master/app/models/donation.rb#L4-L6

[2015-07-10 23:43] davidmolina commented on #79
This commit 554c594 fixes this issue.

[2015-07-10 23:43] #79 closed

[2015-07-15 23:03] nanoxd opened #83 "Remove extra social icons on Staff & Board"
![operation code veteran coders 2015-07-15 16-03-16](https://cloud.githubusercontent.com/assets/1889575/8711900/0a639b20-2b0b-11e5-9d1c-3de8f9c2e044.png)

[2015-07-15 23:05] nanoxd opened #84 "Use better typography"
IMO we should use a different font or alter our font weight. For a good example of why look at the following:
![operation code veteran coders 2015-07-15 16-04-06](https://cloud.githubusercontent.com/assets/1889575/8711934/3f2675e4-2b0b-11e5-86fa-1125bf92ed54.png)

Everything looks like it's bold unless it's a link. There should be some more delineation and possibly a smaller font used.

[2015-07-15 23:06] nanoxd commented on #84
Our Mission does not exhibit this issue.

[2015-07-15 23:07] nanoxd opened #85 "Code Schools/Hackathons has extra spacing from header"
Code Schools has extra spacing that is not present on other pages. It should look like other pages.

![operation code veteran coders 2015-07-15 16-07-10](https://cloud.githubusercontent.com/assets/1889575/8711964/8f30c666-2b0b-11e5-8ed1-fdf94a063801.png)

[2015-07-15 23:10] davidmolina commented on #84
Sounds good.

On Wed, Jul 15, 2015 at 4:06 PM, Fernando Paredes <notifications@github.com>
wrote:

--
David
t. @davidcmolina <https://twitter.com/davidcmolina>
http://davidmolina.github.io/

[2015-07-15 23:10] davidmolina commented on #85
Cornelius had a good suggestion. Separate it. Example:
codeschool.operationcode.org. And, map it. Thoughts?

On Wed, Jul 15, 2015 at 4:07 PM, Fernando Paredes <notifications@github.com>
wrote:

--
David
t. @davidcmolina <https://twitter.com/davidcmolina>
http://davidmolina.github.io/

[2015-07-15 23:19] nanoxd commented on #85
I have no problem with that. It allows us to change the layout to something more appropriate for that page.

[2015-07-15 23:42] davidmolina commented on #85
Exactly.

On Wed, Jul 15, 2015 at 4:19 PM, Fernando Paredes <notifications@github.com>
wrote:

--
David
t. @davidcmolina <https://twitter.com/davidcmolina>
http://davidmolina.github.io/

[2015-07-16 05:29] davidmolina commented on #55
This commit 554c5940199c1b743711954fff485e91b0afa454 addresses this.

[2015-07-16 05:29] #55 closed

[2015-07-16 05:30] davidmolina commented on #62
@emckenna get around permissions?

[2015-07-16 05:42] davidmolina commented on #83
This commit 630cdf45840522573b0742579a5de603374c5407 fixes this.

[2015-07-16 05:42] #83 closed

[2015-07-16 05:43] davidmolina commented on #84
Hmmm. I'll take another look. Something in the HTML/CSS.

[2015-07-17 05:27] davidmolina commented on #85
This commit 3d1e4ad8a7561f2e629761f005681ff4e572efde fixes this.

[2015-07-17 05:27] #85 closed

[2015-07-17 05:40] davidmolina opened #86 "Add SSL certificate"
Regardless of Stripe not hitting Heroku, adding SSL to ensure no one brings this point up again.

[2015-07-17 06:40] davidmolina commented on #86
$ dig operationcode.org mx

; <<>> DiG 9.8.3-P1 <<>> operationcode.org mx
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 59695
;; flags: qr rd ra; QUERY: 1, ANSWER: 5, AUTHORITY: 0, ADDITIONAL: 0

;; QUESTION SECTION:
;operationcode.org.		IN	MX

;; ANSWER SECTION:
operationcode.org.	3203	IN	MX	1 ASPMX.L.GOOGLE.COM.
operationcode.org.	3203	IN	MX	10 ALT3.A

[2015-07-17 06:50] davidmolina opened #87 "Bot that'll ping everybody in Slack #general when we get a donation"
Also, a graph bar showing # of donors, amount raised.

[2015-07-17 08:25] davidmolina opened #88 "Move configuration files"
DEPRECATION WARNING: The configuration option `config.serve_static_assets` has been renamed to `config.serve_static_files` to clarify its role (it merely enables serving everything in the `public` folder and is unrelated to the asset pipeline). The `serve_static_assets` alias will be removed in Rails 5.0. Please migrate your configuration files accordingly.

[2015-07-17 09:23] davidmolina commented on #86
Added SSL certificate for Heroku test site. However:
$ heroku certs:add CRT KEY --app opcod3
Resolving trust chain... failed
 !    Unable to read CRT file: No such file or directory @ rb_sysopen - CRT

[2015-07-17 13:23] cavalryjim commented on #86
David,

I haven't been following this discussion very closely so forgive me if this  is not the solution you need. Instead of paying a for a certificate, I use CloudFlare. It gives you SSL and a whole lot more....plus there is a free level of service.

Regards,
James

Sent from my iPhone

[2015-07-17 15:09] davidmolina commented on #86
James, I'd do that but just dropped $100 already for this SSL certificate. Stuck on the download .zip, some command lines part. Error'ing up.

[2015-07-17 15:30] davidmolina commented on #86
James, for CloudFlare I'm seeing "most modern browsers" for SSL. Issue? https://www.cloudflare.com/plans

[2015-07-17 15:59] cavalryjim commented on #86
I've never encountered a problem with an unsupported browser.  If someone
is using a non-HTML5 browser, shame on them.

On Fri, Jul 17, 2015 at 10:30 AM, David Molina <notifications@github.com>
wrote:

[2015-07-17 17:26] davidmolina commented on #86
@cavalryjim
(1) requested a new certificate. The other certificate keys were compromised.
(2) [last step](https://devcenter.heroku.com/articles/ssl-endpoint) failed:
$ heroku certs:add CRT KEY --app opcod3
Resolving trust chain... failed
 !    Unable to read CRT file: No such file or directory @ rb_sysopen - CRT

[2015-07-17 17:39] cavalryjim commented on #86
Truthfully, it has been years since I used a legacy SSL certificate. With the advent of CloudFlare, and other cloud-based solutions, I gladly made to move from the pain of fighting with SSL certificates.

[2015-07-17 18:17] davidmolina commented on #86
@cavalryjim I'm nearing that decision. Part of me feels to persevere through their [docs](https://support.comodo.com/index.php?/Default). I already have the certificate, but failing in the [Heroku instructions](https://devcenter.heroku.com/articles/ssl-endpoint) to properly call the certificate and activate it.

[2015-07-17 18:21] davidmolina commented on #86
@cavalryjim beyond encrypting the CDN side, need it to encrypt the base site. For CloudFlare.

[2015-07-17 18:51] davidmolina commented on #86
Somewhere I missed a step.

$ heroku certs:add server.crt server.key --app opcod3
Resolving trust chain... failed
 !    Unable to read server.crt file: No such file or directory @ rb_sysopen - server.crt

[2015-07-17 19:09] davidmolina commented on #86
Revisiting:
https://devcenter.heroku.com/articles/ssl-certificate-dnsimple#wildcard-domain and https://robots.thoughtbot.com/ssl-for-rails-with-heroku-and-dnsimple.

[2015-07-18 21:14] davidmolina commented on #86
This commit 473bcab0e6afb36bf7721bc4fbc7d649737664c9 fixes this.

[2015-07-18 21:14] #86 closed

[2015-07-18 21:19] davidmolina commented on #62
@emckenna something like [this](http://stackoverflow.com/questions/4002092/how-do-i-use-yaml-in-ruby-rails)?

[2015-07-19 02:30] davidmolina opened #89 "ARIA elements"
https://github.com/Khan/tota11y

[2015-07-19 02:31] davidmolina opened #90 "Support bar *donations"
Something like this: http://roll20.net

[2015-07-19 21:03] davidmolina opened #91 "Add founding board of directors bios"

[2015-07-19 21:04] davidmolina commented on #91
This commit 8f06a3dcf6a92cd8c922880dcf42f647618d422a addresses this.

[2015-07-19 21:04] #91 closed

[2015-07-20 01:32] davidmolina opened #92 "Add paypal as a donate option"

[2015-07-20 01:33] davidmolina opened #93 "Add NewRelic for app monitoring"

[2015-07-20 01:34] davidmolina commented on #51
Will be attacking this, this week. Now that we're donation capable and SSL-secured.

[2015-07-20 01:37] davidmolina opened #94 "Add FAQ sections for coding scholarships, mentorship, employer services and GI Bill"

[2015-07-20 01:39] davidmolina commented on #54
@choogiesaur Need to make our customer service more friendly, seamless and expedite the process towards getting veterans to sign up, volunteers enrolled and donors questions answered. Not sure if an 800 number, a Twilio number, or Slack bot would work best, but I'd like to integrate Twilio and our [dot]org account.

[2015-07-20 02:31] ckib16 commented on #51
I can help with this. I'll make a branch with Jekyll and get started. No experience with Jekyll but heard it was good and fairly easy to use.

http://jekyllrb.com/

[2015-07-20 03:04] davidmolina commented on #51
thanks Chris.

[2015-07-20 05:52] davidmolina commented on #93
Closing. We're already using [Skylight](https://www.skylight.io).

[2015-07-20 05:52] #93 closed

[2015-07-20 05:53] davidmolina commented on #92
Pending bank transfer to complete final process.

[2015-07-20 07:59] davidmolina commented on #84
This commit 5c3d3aa9372e1342827f12ee5fdf94c7feae1141 fixes this.

[2015-07-20 07:59] #84 closed

[2015-07-20 19:03] davidmolina commented on #59
@emckenna I've fired an email.

[2015-07-21 05:47] davidmolina opened #97 "Complete WebPulse Site Review Request"

[2015-07-21 13:54] emckenna commented on #59
Great!  sorry i've been less available last week or so.. sick kid, house office renovation taking up all the free time ;)

[2015-07-22 06:25] davidmolina commented on #59
No probl. Hurry up and wait now.

On Tue, Jul 21, 2015 at 6:54 AM, Eric Mckenna <notifications@github.com>
wrote:

--
David
t. @davidcmolina <https://twitter.com/davidcmolina>
http://davidmolina.github.io/

[2015-07-23 03:06] davidmolina commented on #92
Must get done ASAP.

[2015-07-23 03:06] davidmolina commented on #92
Add to header.

[2015-07-23 03:23] davidmolina commented on #97
Done. Now category: education.

[2015-07-25 21:43] ckib16 commented on #51
Just submitted PR for this. happy to discuss. I also wrote a big "101" type document for fellow Jekyll newbies to use. Let me know what you think. Happy to discuss.

[2015-08-10 20:27] ivanoats commented on #25
I actually ended up leaving that position at UW. Last I heard they were looking at AcademicWorks again.

[2015-08-10 20:47] davidmolina commented on #25
Oh, right on. We'll probably end up building something internally, active
record and keep it minimal. Thx.

On Mon, Aug 10, 2015 at 1:27 PM, Ivan Storck <notifications@github.com>
wrote:

--
David
t. @davidcmolina <https://twitter.com/davidcmolina>
http://davidmolina.github.io/

[2015-09-01 17:13] davidmolina opened #99 "Add Bitcoin as option (via Stripe)"

[2015-09-16 22:14] davidmolina opened #101 "Veterans profile"
For example, http://operationcode.org/veteran/davidmolina

Criteria:
- Veterans sign up, secured log-in
- Upload photo, update short bio, auto-update GitHub contributions
- Current position, and/or side project
- Skills sets by tags/category by programming language interest (pre-loaded tags)
- Talks and presentations
- Blog feed from their individual blog

[2015-10-15 20:35] nellshamrell commented on #53
Do you have a current list of those code schools and their current locations that you can send me?  I have a hack day scheduled tomorrow and would like to take a crack at this.

[2015-10-16 03:37] davidmolina commented on #53
Awesome Nell!

Yeah, our current one is here:

https://github.com/OperationCode/operationcode/blob/master/app/views/pages/codeschools.html.erb

Daelen Cornelius made this:

https://github.com/OperationCode/operationcode/pull/58

Need code schools, location, licensed and VA accredited.

[2015-10-20 19:12] alexkaufman06 commented on #72
Did this ever get resolved?

[2015-10-21 00:17] davidmolina commented on #72
Somewhat. Yes.

[2015-11-12 05:47] davidmolina opened #102 "Slack Invite Bot Not Working"
Slack is failing to send our veterans an automatic email.

Code:
https://github.com/OperationCode/operationcode/blob/master/app/controllers/veterans_controller.rb

[2015-11-29 01:50] nellshamrell commented on #102
Hi @davidmolina, I just looked into this and it seems like the code is working in development mode (at least, the job is queuing correctly).  Is there anything from the Sidekiq log or application log when someone tries to do this on the production site?

[2015-11-29 22:02] davidmolina commented on #102
Not sure.

Don't have the user/pass. Can we check in Heroku?

[2015-11-30 17:22] nellshamrell commented on #102
That is a good question.  Let me do some research.

[2015-12-06 16:04] davidmolina commented on #102
Got another note this week (Twitter). A veteran didn't get an auto-invite to Slack.

[2016-01-18 06:26] #102 closed

[2016-01-18 06:27] #51 closed

[2016-03-06 03:10] davidmolina opened #114 "Add which code schools has VA benefits"

[2016-03-07 22:13] rickr opened #115 "Add a success message to the 'Join' page"
To repro:
* Visit https://operationcode.org/action
* Fill in the form
* Submit the form

Currently there is no success flash or other visual indication that your form has been submitted.

There should be a success flash and maybe a message that explains what to explain next.

[2016-03-07 23:50] davidmolina commented on #115
@rickr Agree. Something along [these lines](http://getbootstrap.com/javascript/#alerts).

[2016-03-07 23:51] davidmolina commented on #115
In fact, need to add to Stripe donation as well.

[2016-03-08 22:24] davidmolina opened #116 "Add a Ruby page"
All things [ruby](https://operationcode.org/ruby) with a landing.

[2016-03-08 22:25] davidmolina opened #117 "Add a Python page"
All things [python](https://operationcode.org/python) with a landing.

[2016-03-08 22:26] davidmolina opened #118 "Add an iOS page"
All things [ios](https://operationcode.org/ios) with a landing.

[2016-03-08 22:27] davidmolina opened #119 "Add an Android page"
All things [android](https://operationcode.org/android) with a landing.

[2016-03-08 22:28] davidmolina commented on #114
See similar [PR](https://github.com/OperationCode/operationcode/pull/58).

[2016-03-09 18:00] rickr opened #120 "Add user analytics"
There should be a way to track what users are doing, what pages they are viewing, and other various metrics that could help streamline signup, donations, etc.

Some examples are google analytics, piwik, clicky.

[2016-03-09 18:25] davidmolina commented on #120
@rickr Absolutely. @nellshamrell integrated New Relic, but will look into Google Analytics.

Do we know of any heat mapping open source project?

[2016-03-11 02:57] rickr opened #121 "Jekyll rake task runs on every rake task"
Code inside jekyll.rake is namespaced but not placed into a task causing it to run every time rake is invoked.

[2016-03-11 03:55] davidmolina commented on #121
Oh, snap.

[2016-03-11 03:56] davidmolina commented on #121
@rickr so just 'git pull?'

[2016-03-11 05:09] rickr commented on #121
@davidmolina It's been a while since I've accepted a PR on github but there should be a button someone that says something like 'Merge'. Click that and the fix goes into master. Then you can git pull on your local copy of this repo.

[2016-03-11 05:25] davidmolina commented on #121
Understood.

[2016-03-11 05:28] rickr commented on #120
I think all the open source stuff that can do that (piwik, OWA) is self hosted.

I also found https://www.ptengine.com/plan which is free for 1k page views/mo but that's not open source.

[2016-03-11 22:35] davidmolina commented on #120
Awesome... I'm having trouble w/ my SSH keys. I transferred over the
/operationcode app to a new Heroku account separate from my personal repos
(bilingualhire). Lost push capabilities to "origin" or GitHub. But either
way, it's a real good idea.

On Thu, Mar 10, 2016 at 9:28 PM, Rick <notifications@github.com> wrote:

--
David Molina
https://about.me/molina

[2016-03-13 22:17] nellshamrell opened #124 "Fix failing specs in master"
Running our rspec specs on the master branch currently returns several failures:
[code]

[2016-03-13 22:28] nellshamrell opened #125 "Automatically run tests on pull requests"
Add Travis or a similar service to automatically run tests on all pull requests

[2016-03-14 18:00] davidmolina opened #128 "Add dollar amount options and recurring donations to donate page"
https://operationcode.org/donations/new

[2016-03-14 19:28] Wimsy113 commented on #128
Do you want a dropdown for this? is this what you're asking for?

[2016-03-14 19:36] davidmolina commented on #128
Maybe.

I was envisioning Boolean (choices) and recurring option, but open to other options.

[2016-03-14 20:38] rickr commented on #125
I think this is a dup of #59?

[2016-03-14 20:56] davidmolina commented on #125
Yep

On Mon, Mar 14, 2016 at 1:38 PM, Rick <notifications@github.com> wrote:

--
David Molina
https://about.me/molina

[2016-03-14 21:37] rickr opened #129 "Allow for easier management of code schools"
Code schools can probably be cleaned up by putting them into either a model or yaml file. The latter would allow people to issue PRs to add schools and seems like the better choice for now.

The yaml/model should have the following fields:
Name
URL
Address 1
Address 2
City
State
Zip
Accepts GI Bill
Promo Video URL?

I think the embedded videos should probably go away. Maybe these can be a modal?

[2016-03-14 21:45] davidmolina commented on #129
Agree.

Agree.

[2016-03-14 21:52] davidmolina commented on #129
Rick, can we pair on this? For a while it was curated. The last one was a PR. I prefer PRs.

[2016-03-14 21:57] rickr opened #130 "Make requesting a mentor explicit on login form"
* Add a checkbox to request a mentor
* If the box is checked on form submit:
  * Notify the slack mentor channel

[2016-03-14 22:03] rickr commented on #101
May I suggest making Veteran Profiles a milestone and creating the bullet points as issues under the milestone?

We probably would need (in rough order):
* Sign up, Sign In (aka AuthZ)
* Add fields to veteran model (photo, bio, github, talks, needs_mentor, is_mentor etc)
* Display veteran profile (maybe have an option for public/private profiles)

[2016-03-14 22:04] davidmolina commented on #130
Mentor by language? Maybe pick 3?

[2016-03-14 22:08] rickr commented on #129
Absolutely!

[2016-03-14 22:22] davidmolina commented on #101
That sounds phenomenal!

[2016-03-14 22:30] davidmolina commented on #129
Time can we pair? I can around 5ish PST

[2016-03-17 02:36] jjhampton commented on #130
@davidmolina I like the 'mentor by language' idea.  Having general mentors in any area of software development is great, and I've learned a good amount by comparing/constrasting across different languages/frameworks/syntax.  But ideally, I think that students having technical mentors that are skilled in the same language that they are learning would be ideal.

On the other hand, it could also be u

[2016-03-17 02:54] jjhampton opened #133 "Add a calendar/schedule to the website"
This is a follow-on to our discussion yesterday @davidmolina :

To encourage more direct collaboration & involvement between people on Operation Code, we could set up some type of calendar on the website that would list any events that we'd like to regularly schedule.  Display & track a "battle rhythm" of stuff going on every week or so.

Examples:
* Small-group pair-programming sessions, tailored

[2016-03-17 03:06] davidmolina commented on #133
Awesome-- just added you to our battle rhythm on trello as well. take a
look at that as well.

On Wed, Mar 16, 2016 at 7:54 PM, John Hampton <notifications@github.com>
wrote:

--
David Molina
https://about.me/molina

[2016-03-17 03:25] rickr commented on #130
I think a happy medium would be areas of expertise. Maybe something like
(pick one)

* Web Dev
* Mobile
* Platform (or whatever C, C++, ML etc would be called)

On 3/16/2016 10:36 PM, John Hampton wrote:

[2016-03-20 02:58] davidmolina opened #134 "[Mobile] Operation Code not positioned correctly in top left"

[2016-03-20 21:52] jjhampton commented on #65
Might be able to get some ideas from this project: https://github.com/ellekasai/resumecards
Also may want to check out Pandoc: http://pandoc.org/

[2016-03-20 22:12] davidmolina commented on #65
Those aren't bad at all.

[2016-03-21 00:48] jdspringr07 opened #135 "Slack Invite taking a while"
Slack took a little over 15 minutes to generate an invite after new registration.

[2016-03-21 00:52] jdspringr07 commented on #130
It would be a cool idea to offer the option, but I wouldn't make it mandatory. :+1:

[2016-03-21 01:06] davidmolina commented on #130
Software developers often ask they'd like to help and mentor. Maybe we just have a page for them to help and a seperate sign up.

[2016-03-21 15:58] davidmolina commented on #135
@jdspringr07 Not sure. It's failed before where veterans don't get the Slack invite. Both @nanoxd and @nellshamrell looked at it. Looks normal, but we'll have to take a look at the logs.

[2016-03-21 16:00] davidmolina commented on #133
@jjhampton Could this [open source calendar work](https://github.com/calagator/calagator), or something similar?

[2016-03-21 16:02] davidmolina commented on #129
@rickr This ties in with another [issue/PR](https://github.com/OperationCode/operationcode/pull/58).

[2016-03-21 18:07] rickr commented on #125
Closing due to dup (#59)

[2016-03-21 18:07] #125 closed

[2016-03-21 19:24] #124 closed

[2016-03-21 20:20] rickr opened #136 "Have Travis CI deploy changes to production"
These may help:

https://docs.travis-ci.com/user/deployment/heroku/
https://www.chrissearle.org/2014/01/20/deploy-from-github-to-heroku-via-travis-ci/

[2016-03-22 04:29] jjhampton commented on #133
Calagator looks decent at first glance - Rails gem so it could integrate w/ OperationCode.org.  I like the list look of http://calagator.org/ too.

Not sure how complex it is to set up - I'm wondering if there might be something more lightweight for starters.

[2016-03-22 04:54] davidmolina commented on #133
Not sure. We could just build it from scratch.

[2016-03-22 15:00] rickr commented on #133
I would say for a first cut we just embed a google calendar. Once that's out we can then build our own calendar. If that sounds good I can cut tickets for each of those features.

A few more gems for consideration:
https://github.com/excid3/simple_calendar
https://github.com/bokmann/fullcalendar-rails

[2016-03-22 15:29] rickr opened #137 "Add username and password authentication"
This should use the [Devise](https://github.com/plataformatec/devise) gem.

The `Veteran` model will be our users model.

[2016-03-22 15:30] davidmolina commented on #133
Google cal sounds good for first cut.

[2016-03-22 15:34] rickr opened #138 "Add a photo to the veteran profile page"
Each `Veteran` should have the ability to upload a photo on their profile page.

Some gems that might be of interest:
https://github.com/carrierwaveuploader/carrierwave
https://github.com/thoughtbot/paperclip

[2016-03-22 15:35] rickr opened #139 "Add a bio to the user profile"
Each `Veteran` should have the ability to add a short bio to their profile page.

[2016-03-22 15:37] rickr opened #140 "Add github to user profile"
Each `Veteran` should be able to link their github page to their profile.

Can we display their contributions on the page as well?

[2016-03-22 15:43] rickr opened #141 "Add #show for user profile"
There should be a way to view each `Veteran` profile at a link like:

http://operationcode.org/veteran/david_molina

If we use a name we have to worry about how we could handle duplicate names (eg having two John Smiths). It may be easier to use the veteran id for now for a link that looks like:

http://operationcode.org/veteran/5

And then allow each user to set their own vanity domain.

[2016-03-22 15:45] rickr opened #142 "Add #edit and #update for user profile"
Each `Veteran` should be able to update their profile.

Changing your password should be here as well.

Other `Veteran`s should not be able to update anyone else's profile.

[2016-03-22 15:46] rickr opened #143 "Add current position for a user profile"
Each `Veteran` should be able to list their current position/job.

[2016-03-22 17:08] rickr opened #144 "Add blog url to user profile"
Each `Veteran` should have a link to their blog displayed on their profile.

How easy would it be to read from their RSS and display their posts? That could be a different attribute. Something like `blog_url` and `blog_rss`

[2016-03-22 19:12] rickr opened #145 "Add skills/interested in to user profile"
Each `Veteran` should have a list of skills and a list of interests in their profile.

* The skills to choose from should be in their own model (`Skill`?) with at least one attribute `name`.
* A user should be able to add how ever many skills to their skill section.
* A user should be able to add how ever many skills to their skill section.
* These two areas should be separate.
* Skills should be

[2016-03-22 19:13] rickr opened #146 "Add side projects to user profile"
Each `Veteran` should be able to have many side projects.

Each side project should have a name

[2016-03-22 19:18] rickr opened #147 "Add talks/presentations to user profile"
Each `Veteran` should be able to add one or more talks/presentations to their user profile.

* These should be displayed on their user profile page.
* Each talk/presentation should have at least
  * name
  * description
  * link to video
  * link to slides
And possibly
  * Location
  * Date
  * Conference name

[2016-03-22 19:28] rickr opened #148 "Create a shared google calendar"
This calendar will be embedded on the website's calendar page.

* Trusted people should be able to add to the calendar
* Everyone should be able to view the calendar
* It should probably be public?

When complete please add the iframe code from the 'Embed This Calendar' section to the ticket.

[2016-03-22 19:29] rickr opened #149 "Add shared calendar to site"
This is blocked by #148

Create a new page and menu link to display our shared calendar.
There should be a link or form to request an item be added to the calendar.
This can just get shoved into an email addressed to the correct people for now.

[2016-03-22 19:31] rickr opened #150 "Create custom calendar"
Create a custom events system that can replace the shared google calendar.

* People with the correct permissions should be able to add an event
* People with the correct permissions should be able to edit an event
* Everyone should be able to view an event.
* There should be a form or link to request and event be added.

We will need Veteran Profiles complete before this work can be used.

Should

[2016-03-22 19:34] rickr commented on #133
Added a Calendar milestone with all this info in it.

#148 #149 and #150 created to track these steps.

Anyone mind if I close this issue?

[2016-03-22 19:40] rickr commented on #101
Created a milestone with this info in it: https://github.com/OperationCode/operationcode/milestones/Veteran%20Profiles

I created 1 issue for each of these items as well. Are you OK with me closing this issue out and tracking progress via the milestone?

[2016-03-22 21:08] davidmolina commented on #101
Sure. Thx. That works.

On Tue, Mar 22, 2016 at 12:40 PM, Rick <notifications@github.com> wrote:

--
David Molina
https://about.me/molina

[2016-03-22 21:09] davidmolina commented on #133
Sure thing. Thanks Rick.

On Tue, Mar 22, 2016 at 12:34 PM, Rick <notifications@github.com> wrote:

--
David Molina
https://about.me/molina

[2016-03-22 21:10] davidmolina commented on #150
So we need a few tests veteran profiles? We can start w/ the Deploy
apprentices and go from there.

On Tue, Mar 22, 2016 at 12:31 PM, Rick <notifications@github.com> wrote:

--
David Molina
https://about.me/molina

[2016-03-22 21:14] davidmolina commented on #141
Good call.

What if it was connected to individual Twitter accounts? Example:
http://operationcode.org/veteran/@davidcmolina. But then what if some
veterans don't have Twitter.

On Tue, Mar 22, 2016 at 8:43 AM, Rick <notifications@github.com> wrote:

--
David Molina
https://about.me/molina

[2016-03-22 21:14] davidmolina commented on #140
Yep.

Add their GitHub contributions (white box/green boxes).

On Tue, Mar 22, 2016 at 8:37 AM, Rick <notifications@github.com> wrote:

--
David Molina
https://about.me/molina

[2016-03-22 21:43] jjhampton commented on #133
@rickr That sounds good, I'll close this now that we have a milestone with steps to develop a solution.  Thanks!

[2016-03-22 21:43] #133 closed

[2016-03-22 22:53] rickr commented on #145
I think it might make sense to give`Veteran`s skills and `Veteran`s that are mentors skills AND interests.

[2016-03-22 22:53] #101 closed

[2016-03-22 23:01] davidmolina commented on #145
Should volunteers be a separate location? Example, fundraising, et.

On Tue, Mar 22, 2016 at 3:53 PM, Rick <notifications@github.com> wrote:

--
David Molina
https://about.me/molina

[2016-03-22 23:17] rickr commented on #145
What about people that are veterans and volunteers?

What about a badge on volunteer pages that says what they do?

[2016-03-22 23:21] davidmolina commented on #145
That would work too. We already have the small "medal" logo that's used in
the avatar.

On Tue, Mar 22, 2016 at 4:17 PM, Rick <notifications@github.com> wrote:

--
David Molina
https://about.me/molina

[2016-03-22 23:34] rickr opened #151 "Update CONTRIBUTING.md"
* Add instructions for finding beginner friendly tasks
https://github.com/OperationCode/operationcode/issues?q=is%3Aopen+is%3Aissue+label%3A%22beginner+friendly%22
* Add Travis CI to bot area
* Add some verbiage for ruby
* Update labels

[2016-03-23 00:25] jdspringr07 commented on #146
Is this just a simple list of projects they're working on?

Vet's Profile:
- Side Projects
 - Project Name 1
   - Project Information
 - Project Name 2
   - Project Information

[2016-03-23 01:22] rickr commented on #146
Exactly! I'm going to try and work on a mockup of the UI tonight or tomorrow.

[2016-03-23 03:52] rickr commented on #141
Here's an awful mockup of how I see this looking.

The thing on the left is our user picture.
To the right of that is a bootstrap nav (http://getbootstrap.com/components/#nav) tab or pil. That contains the different sections of the profile.
If a user doesn't have a section (eg talks/presentations) it shouldn't be displayed.

![12 columns](https://cloud.githubusercontent.com/assets/334550/13975136/

[2016-03-23 03:58] davidmolina commented on #141
👌
Exactly!

[2016-03-23 15:05] rickr commented on #119
First step: find a volunteer in our android channel to give us some good tutorials, first steps, blogs etc.

[2016-03-23 15:05] rickr commented on #118
First step: find a volunteer in our IOS channel to give us some good tutorials, first steps, blogs etc.

[2016-03-23 15:06] rickr commented on #117
First step: find a volunteer in our python channel to give us some good tutorials, first steps, blogs etc.

[2016-03-23 15:06] rickr commented on #116
First step: find a volunteer in our ruby channel to give us some good tutorials, first steps, blogs etc.

[2016-03-25 01:23] #88 closed

[2016-03-25 01:23] #151 closed

[2016-03-25 01:25] #87 closed

[2016-03-25 01:25] #22 closed

[2016-03-25 01:45] Tactika commented on #134
The break-point is at 325px, once it drops below the Logo doesn't scale further down.
![opcbug](https://cloud.githubusercontent.com/assets/16322338/14035864/75572058-f1f0-11e5-9c77-8cd2f23fc1b3.PNG)

[2016-03-25 04:20] rickr opened #153 "Veteran form submission fails if no mailchimp API key"
If there is no mailchimp API key or mailing list id set the `#create` method in `veterans_controller` will fail.

Steps to rep:
- Make sure MAILCHIMP_API_KEY is not set (`unset MAILCHIMP_API_KEY`)
- Visit /action
- Submit the form
- You should see a 500 error

This is probably pretty low priority.

[code]

This should probably just chuck an error or warning into the log and keep going.

[2016-03-25 04:25] rickr opened #154 "Create end to end test for slack invite"

[2016-03-25 04:25] rickr opened #155 "Create end to end test for invitation email"

[2016-03-25 18:18] davidmolina commented on #134
Can it be moved to the left of the menu button, and atop the top photo?

On Thu, Mar 24, 2016 at 6:45 PM, Damien Richcreek <notifications@github.com>
wrote:

--
David Molina
https://about.me/molina

[2016-03-25 21:56] davidmolina opened #156 "Add additional donation options (pre-selected options, recurring, etc.)"
So for example, weekly, monthly.

Pre-selected: $2,500, $2,000, $1,500, $1,000, $750, $500, $250, $100, $75, $50, $25, $17.75, $10, $5...

[2016-03-25 21:58] davidmolina commented on #156
Add checkbox: [] Given in memory or honor of...
Add recurring checkbox []: Make this a monthly donation

[2016-03-26 00:22] rickr commented on #156
Is this a dup of #128?

[2016-03-26 01:21] davidmolina commented on #156
Whoa, yes. Dup of #128.

[2016-03-26 01:41] jjhampton commented on #148
@rickr @davidmolina  Do we have a preference on what the originating Google account is for the calendar? I can create a new calendar on my personal Google account to use for now - or, if we have an official Operation Code Google account set up, we can use that.

[2016-03-26 01:52] jjhampton commented on #148
Here's the iframe code from a shared calendar on my personal Google account - I'll send out some sharing invites to the participants on this thread.

<iframe src="https://calendar.google.com/calendar/embed?src=fmnkpvclferu6r3v63al1g2em0%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

[2016-03-26 02:06] jdspringr07 opened #157 "Move the comodo secure button on donations"
The comodo secure button looks out of place. It's in an awkward spot at the top of the page and should be near payment information

[2016-03-26 02:25] #157 closed

[2016-03-26 02:47] rickr opened #159 "Install docs should include redis"
Redis is required to run through creating a `Veteran` but isn't listed in the getting started/install docs.

[2016-03-26 02:50] jdspringr07 opened #160 "Clean up deprecated code from Pages"
There's a bunch of pages listed that are no longer in use. Reference app/config/routes.rb to find the pages being routed to.

 If any pages listed under app/pages are not located in this file, they're not being used. Pages should have their own views and controllers associated instead of housing all under one location unless they're static pages. Anything interactive needs to be split off.

[2016-03-26 03:00] jjhampton commented on #148
Setting the calendar to 'Public' to allow anyone to save a calendar event to their own Google Calendars.

[2016-03-26 03:06] rickr opened #161 "[Mailchimp] Allow users to opt out of mailing list"
We should have a check box that users can check so they're not subscribed to the mailing list if they don't want to be.

[2016-03-26 03:22] rickr commented on #128
Some good ideas from #156:

Add checkbox: [] Given in memory or honor of...
Add recurring checkbox []: Make this a monthly donation

[2016-03-26 03:23] rickr commented on #156
Ok - added some more details from here to #128 and closing due to dup.

[2016-03-26 03:23] #156 closed

[2016-03-26 04:06] jdspringr07 commented on #160
SI'm working on this right now. For some reason, I cannot assign the task to myself :(.

[2016-03-26 04:06] jjhampton commented on #160
@jdspringr07 Weird, lemme try

[2016-03-26 04:25] jjhampton commented on #148
Closing, moving work on to #149.

[2016-03-26 04:25] #148 closed

[2016-03-26 04:49] jdspringr07 commented on #119
Created the page and reference. If pulled down located: localhost:3000/android for developing. There are no links on the page currently using it, but can use this site for design.

[2016-03-26 21:27] hollomancer commented on #120
Looking at Google Analytics on this

[2016-03-26 23:41] hollomancer commented on #149
PR #168

[2016-03-27 01:53] hollomancer opened #170 "[Calendar] Add a link for a new calendar date"
Per #168

[2016-03-27 03:43] jjhampton opened #171 "[Press Releases] Add press releases page"
We need a separate page/view that will display all official Operation Code press releases.  One option would be to use Jekyll in a similar way that it's currently used to power our blog.  Once set up, new press releases could be added in markdown format similar to how a new blog post is added.  The layout for a press release would need to be different than is currently used for a blog post (in an

[2016-03-27 03:51] jjhampton opened #172 "Explore using Medium as a blog platform"
The current blog platform using the default Jekyll theme is working, but it can be improved upon.  Advantages of using Medium:

* Possible improved SEO or increased traffic driven to OperationCode.org from Medium blog
* Improved out-of-the-box user interface / design
* Exposure to new user base (Medium users)
* Native comment system

One idea would be to keep the current Jekyll blog, but somehow i

[2016-03-27 16:32] hollomancer opened #174 "[Hackathons] Update hackathon page"
_As a volunteer, I want a page where military themed/sponsored hackathons can be centrally tracked, so that I can see at-a-glance when/where such events are taking place._

Minimum viable functional requirements:
- Briefly indicate the purpose of the page, at least a header and two describing sentences of copy.
- Have one section for previous hackathons, and one section for future hackathons.
- Ha

[2016-03-27 18:33] davidmolina commented on #174
Good start.

Perhaps leveraging Jekyll, Middleman or Hugo for site and GH Pages?

[2016-03-27 18:39] davidmolina commented on #171
Correction:
- [ ] Create Jekyll layout & styling for the view of a single Jekyll press release (similar to a single blog post, example URL: www.operationcode.org/press-release/2016/05/01/first-press-release.html)

[2016-03-27 18:43] hollomancer commented on #174
Not sure what solution is best for this; maybe having it driven by calendar content, filtering events by whether they're a hackathon or not, and populating each section accordingly, minimizing upkeep.

[2016-03-27 18:50] davidmolina commented on #171
Update:
- [ ] Researched [PRWeb](http://www.prweb.com) as an option to distribute Operation Code press release
- [ ] Researched [PR News Wire](http://www.prnewswire.com) as an option to distribute Operation Code press release

[2016-03-27 19:29] davidmolina commented on #174
Minimizing upkeep is key. What if leveraging the [Operation Code Meetup](http://www.meetup.com/operationcode/) page as an option?

[2016-03-27 19:38] davidmolina commented on #172
Agree w/ Medium advantages. Another:
- Baked in subscription service native to Medium

The current [Operation Code blog](https://operationcode.org/blog) can be improved by:
- [ ] Adding a 1-2 sentences underneath each blog post title
- [ ] Adding a `Read more` button that links back to the Operation Code Medium page
- [ ] Increase the number of writers/bloggers to the Operation Code Medium page fr

[2016-03-27 19:41] jjhampton commented on #160
@jdspringr07 Added you as a collaborator and assigned you to this task.

[2016-03-27 21:35] jjhampton commented on #170
Some ideas taken from #149 for this:

* Add a form (maybe directly between the header and the calendar?) with text similar to what @hollomancer had in d888efe - something like "Get involved - suggest an event to add:" followed by inputs allowing the user to suggest Event Name, Date/Time, & Description.

* Those form values could be emailed via ActionMailer to someone who has write permissions on t

[2016-03-27 21:36] #149 closed

[2016-03-27 21:50] jjhampton opened #177 "[Landing] Navbar link font temporarily displays as default font on each page load"
Steps to reproduce:

1. Go to www.operationcode.org
2. Either observe on first page load, or hit refresh
3. The browser will initially display the Navbar text while it's fetching the Google Font 'Open Sans'
4. After 1-2 seconds, when the CSS Google Font is recieved, the browser displays it in the right font

Initial load:
![screenclip](https://cloud.githubusercontent.com/assets/8835055/14068003/e9

[2016-03-28 03:25] hollomancer commented on #174
Depends where we want to centralize our events - Meetup.com or Google Calendar. It looks like they both have an API.

Did a quick look at https://developers.google.com/google-apps/calendar/v3/reference/events - I don't think there's a way to tag Google Calendar events individually. Maybe check event descriptions for the word 'hackathon', grab the last three and the next three, and go from there?

[2016-03-28 03:35] davidmolina commented on #174
That could work. We should try that. No date set for first Meetup.

[2016-03-29 06:51] davidmolina commented on #172
Medium page created: https://medium.com/@operation_code

[2016-03-30 12:29] rickr opened #179 "Update CI to deploy to production"
It's currently deploying to the test server. Update it to push to production.

[2016-03-31 01:02] Swinney101 opened #182 "[Store] Operation Code Swag"
Covering both issues of a store page and figuring out how to source products with the Operation Code logo for marketing/advertisement.

I am a GIT noob so there are going to be some learning mistakes I am sure.

[2016-03-31 02:05] Swinney101 commented on #182
@jjhampton assign me please

[2016-03-31 15:39] davidmolina commented on #172
Working on getting Jasper going...

[2016-03-31 16:02] #136 closed

[2016-03-31 16:06] rickr opened #183 "Thin is in the gemfile twice"
It should be in only one place.

[2016-03-31 16:39] davidmolina commented on #172
Need to pair with someone. Errors, couldn't get it to fire up internally to the app.

[2016-03-31 23:57] #179 closed

[2016-03-31 23:59] rickr commented on #59
#184 has us deploying each merge to master into production.

@davidmolina are there any more steps for this ticket or can it be closed?

[2016-04-01 05:44] davidmolina commented on #59
Could be closed.

[2016-04-02 00:43] #59 closed

[2016-04-02 01:08] #160 closed

[2016-04-02 01:13] rickr commented on #182
Hey @Swinney101 - this seems like a great idea!

How do you plan on implementing the store? This seems like it may be better suited as a milestone with a bunch of tasks associated with it?

[2016-04-02 01:42] jjhampton commented on #182
@Swinney101 We discussed using www.moltin.com for one of the projects Operation Code's Deploy team was helping out on.  It might be worth thinking about for our own store.  Cloud-based API service that hosts your store backend.  Storefront is language-agnostic.  Looks really cool.

[2016-04-02 01:46] rickr opened #185 "Update CONTRIBUTING.md"
It should be as clear and easy to follow as possible.

[2016-04-02 01:47] jjhampton commented on #151
Additional suggestions:

- remove bootlint ? anyone really using that? suggest other client-side linters (JSHINT, Rubocop)
-isolate the problem - add CodePen as alternative to JSBIN

- Move environment setup to top

- Change wording of ‘topic’ branches to ‘feature’ branches?

[2016-04-02 01:49] jjhampton commented on #151
Also:
Move entire 'Pull requests' section closer to top as well - that's the real meat and potatoes that some people are looking for.

[2016-04-02 20:22] davidmolina commented on #182
@Swinney101 @jjhampton Anything [here](https://github.com/OperationCode/shop) we could use? Previously, @Wimsy113 did a first hack w/ rails. cc @rickr

[2016-04-02 20:24] davidmolina opened #187 "[TAP-deck] Add TAP-deck for quick access."
Quick [link](https://github.com/OperationCode/tap-deck).

[2016-04-02 22:36] jjhampton commented on #182
@davidmolina That shop scaffolding from last year would still be a starting point - if we want to use the Shoppe gem.  Still needs a lot of work.  Question is - do we want to build our own e-commerce shop and maintain it , or leverage something else that's already been built?

I haven't looked through the Shoppe documentation,  but I think whatever's the most lightweight and quickest option is the

[2016-04-02 23:17] davidmolina commented on #182
@jjhampton Agree. Love to have Reid's input. Much like SRVD, love to leverage Moltin API.

[2016-04-03 01:37] #185 closed

[2016-04-03 02:02] davidmolina opened #188 "Add SED podcast"
Add [SED podcast](http://softwareengineeringdaily.com/2016/03/20/helping-veterans-learn-code-david-molina/) to [landing](https://operationcode.org/) and [press page](https://operationcode.org/press).

[2016-04-03 02:26] davidmolina commented on #188
[Closing](https://github.com/OperationCode/operationcode/commit/daccdeef2efe73be021efff11fc5efbb1f274f10).

[2016-04-03 02:26] #188 closed

[2016-04-03 02:28] davidmolina opened #189 "[Guides] Add a .net page"
First step: find a volunteer in our .net channel to give us some good tutorials, first steps, blogs etc.

[2016-04-03 02:32] CryptoJones commented on #189
I got it.

[2016-04-03 06:46] jjhampton commented on #189
I noticed that #119 is about adding an Android page, and similarlyl, this issue is about adding a .NET page.

In addition to those two, there are other platforms that people would like to develop sub-pages for (front-end web, back-end web, mobile, data science, game development, VR software, who knows what else).

I propose that we develop a list of ALL the main software development areas that sho

[2016-04-03 14:51] davidmolina commented on #189
Good suggestion. Let's do that.

[2016-04-03 16:16] rickr commented on #189
FWIW I am tracking these efforts in a milestone:
https://github.com/OperationCode/operationcode/milestones/Getting%20Started

It has a bit more info on what each of these pages should have.

[2016-04-03 16:35] davidmolina commented on #189
Perfect. Thanks Rick.

[2016-04-03 19:00] Swinney101 commented on #182
I am wading through some rails tutorials to get spun up. My web background thus far only extends through HTML/CSS. Looking forward to work with the API's. I more jumped on this project/discussion from the marketing/retail side, how do we get op code swag and grow the brand. Been absent the past two days enjoying a short break before class starts back up tomorrow.

[2016-04-03 19:53] davidmolina commented on #182
Hey Ryan! Happy Sunday. Working the swag this week w/ a few co's and drop-shipment. In the interim, we should explore the Moltin API and getting it working properly.

[2016-04-09 00:31] rickr opened #190 "Remove .bash_profile.save"
`.bash_profile.save` was committed and is not needed. It can be removed.

[2016-04-09 01:21] davidmolina commented on #172
@jjhampton Should we close this? It's done already... maybe separate out the Jasper stuff.

[2016-04-09 01:22] davidmolina commented on #134
@Tactika I saw it on newer iPhone and a Samsung and it was positioned just right.

[2016-04-09 03:54] davidmolina commented on #190
Somehow I added this 10-days ago.

[2016-04-09 19:35] jjhampton commented on #172
@davidmolina The main goal is finished (creating a Medium blog) - but the existing blog is still using Jekyll.

I'm almost thinking that it's overkill keeping two blogs - why would we want to keep using Jekyll AND Medium?  If Medium is the blog platform we want to use, might be worth just killing off the Jekyll blog and having the link at the top navbar on the main page - "https://operationcode.or

[2016-04-09 19:46] davidmolina commented on #172
Let's do that instead.

[2016-04-09 23:13] rickr opened #192 "Change blog links to point to medium"
As per #172 our medium blog link is: https://medium.com/@operation_code

All current references to our current blog should be replaced with that.

[2016-04-10 01:40] davidmolina commented on #192
Gotcha. That's just a header change.

[2016-04-10 03:25] rickr opened #193 "Transfer old blog posts to medium"
We need to move all of our current posts stored in jekyll to medium.
We should try and maintain the date posted, author, etc.

[2016-04-10 03:26] rickr opened #194 "Remove jekyll blog"
Once we are fully moved over to medium (#192, #193) we can remove the jekyll blog from the codebase.

Look for gems, config items, content, and rake tasks.

[2016-04-10 03:26] #172 closed

[2016-04-10 03:59] davidmolina commented on #172
Already over there.

On Apr 9, 2016, at 8:26 PM, John Hampton <notifications@github.com> wrote:

[2016-04-10 20:35] davidmolina commented on #193
@rickr I did this already. Medium has an excellent system for importing posts, dates, and everything. I had to hardcode the authors, but no big deal.

[2016-04-10 20:35] davidmolina commented on #193
Closing this.

[2016-04-10 20:35] #193 closed

[2016-04-10 20:55] davidmolina commented on #194
@rickr Just assigned this to myself. Wrapping up an agreement (employer services). Will attack this just after.

[2016-04-10 22:53] #183 closed

[2016-04-11 00:07] davidmolina commented on #192
This [commit](https://github.com/OperationCode/operationcode/commit/067407a73a034035583431ef6bcde6fcfe996762) fixes this issue.

[2016-04-11 00:07] #192 closed

[2016-04-11 00:21] davidmolina commented on #194
Working this.

[2016-04-11 00:35] davidmolina commented on #190
This [commit](https://github.com/OperationCode/operationcode/commit/b4e0c0b01982d25e6c8e5c8fc93ce832d9a33329) fixed this.

[2016-04-11 00:35] #190 closed

[2016-04-11 15:05] nellshamrell opened #196 "[Scholarships] Add a scholarship page"
To main navigation, should feature currently available scholarships, how to apply, etc.

[2016-04-11 23:23] davidmolina opened #197 "[Apprenticeship] Update Deploy landing"
Add sections describing our work, tools, case studies and process:

Sections
- Team
- How Deploy works
- Questions? We have answers.
- Ready to get started (call to action button)

[2016-04-12 06:13] davidmolina opened #198 "Updating landing"

[2016-04-12 06:22] davidmolina commented on #198
This [commit fixes this](https://github.com/OperationCode/operationcode/commit/ff4f137b05ac1d7e499c11007006a94956ddc288).

[2016-04-12 06:22] #198 closed

[2016-04-13 01:26] davidmolina opened #199 "[Guides] Add a JavaScript page"
Javascript Page Outline (Work in Progress):

#### Brief history of language
- [ ] 1-2 sentences

#### Where is Javascript used? What can I program with it?
 - [ ] Browser / client-side (websites UI, single-page-application frameworks)
 - [ ] Server-side / non-browser runtimes (NodeJS)
 - [ ] Additional cross-platform applications (Electron, IoT, anything else)

### Key concepts & best practices w/

[2016-04-15 05:02] davidmolina opened #200 "Update donation letter"
Similar to footer.

[2016-04-15 05:04] davidmolina opened #201 "[Stripe] Add a success message to the 'Donate' page"
To repro:

Visit [https://operationcode.org/donate](https://operationcode.org/donate)
Fill in the form
Submit the form
Currently, there is no success flash or other visual indication that your donation has been submitted.

There should be a success flash and maybe a message that explains what to expect next.

[2016-04-15 05:05] davidmolina opened #202 "[Mailer] Update welcome mailer"
Add note about Slack channels, protocol, etc.

[2016-04-15 05:07] davidmolina opened #203 "[Stripe] Add FB/Twitter share after successful donation"

[2016-04-15 05:38] davidmolina commented on #200
This [commit](https://github.com/OperationCode/operationcode/commit/0357d5835fd63d8cf8139fe19e75d255ef9c5f11) fixes this.

[2016-04-15 05:38] #200 closed

[2016-04-15 05:38] davidmolina commented on #203
I just donated to @operation_code to help injured service members, veterans and their families #learntocode.

[2016-04-15 05:40] davidmolina opened #204 "[Stripe] Donation analytics"
A way to push a donation message out and then track how many donations that message generates, ex. see how much donor's group of Twitter or Facebook friends actually donated

[2016-04-15 05:45] davidmolina opened #205 "[Landing] Buttons on landing"
Buttons are gray. Should be light blue w/ white letters, and change slight color when hovering.

[2016-04-15 05:47] davidmolina commented on #53
Add to homepage/landing w/ a map and pins.

[2016-04-15 06:02] davidmolina opened #206 "[Landing] Relocate the `join` form to the home landing page"
Currently, veterans have to [1] browse around, [1] click on the "Join" link, [3] scroll and read the info and then [4] complete their info, and [5] click on the submit button. Instead,

[1] enter their name, email, branch and [2] submit button all on the homepage landing.

Simpler and quicker.

[2016-04-15 06:03] davidmolina opened #207 "[Landing] Add Programs & Services to header"
Reformat header to drop-down menu.

[2016-04-15 06:04] davidmolina opened #208 "[Landing] About Us to header"
Add drop-down menu...

[2016-04-15 06:17] davidmolina commented on #196
Redoing this.

[2016-04-15 13:06] rickr commented on #201
Looks like this is a dup of #115 . I'll close that one.

[2016-04-15 15:47] davidmolina commented on #201
Oh, my bad.

[2016-04-15 19:00] jjhampton commented on #199
@karla001 Just assigned you to this one, we can team up on it.

[2016-04-15 20:20] karla001 commented on #199
@jjhampton  Awesome! I honestly don't know what to do on it on my own. @davidmolina  said to pick a project and figure it out, so I'm  trying.

[2016-04-15 20:50] davidmolina commented on #199
@karla001 Similar to the `ruby` milestone, ex. good tutorials, first steps, blogs etc.

[2016-04-15 20:50] davidmolina commented on #199
@karla001 Do this first: https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md

[2016-04-16 02:18] hollomancer commented on #120
Anything further on this, or can it be closed?

[2016-04-16 05:29] davidmolina commented on #120
Think we're good.

[2016-04-17 00:33] jrhamilton commented on #155
I have been working on this. Will begin testing.

[2016-04-17 18:31] jrhamilton commented on #155
This is ready.

[2016-04-19 16:10] karla001 commented on #199
@davidmolina  I read through it. I am having an issue installing the ruby bundle, but hopefully I will figure it out when I get a change.
**Here is a list I have compiled for learning JavaScript: **

http://javascriptissexy.com/how-to-learn-javascript-properly/
[http://www.learn-js.org/
https://www.codeschool.com/courses/javascript-road-trip-part-1
http://www.sololearn.com/Course/JavaScript/
http:

[2016-04-19 23:28] jjhampton commented on #199
@karla001 I agree, don't want to overwhelm with too many links.    Distilling our list down to the best stuff for beginners should be a goal. That is a solid start, though!

 Maybe have a separate resources/links into different sections by type? Free E-Books / Tutorials / Self-paced  Courses ala Codecademy / Good JS Blogs to follow / Code Schools<<<<< something along these lines.

I'm going to add

[2016-04-19 23:32] karla001 commented on #199
@jjhampton  Great! I hope I can get everything set up by then.

[2016-04-20 00:31] jjhampton commented on #199
I added a checklist to the description that David posted at the top.  We can revise that as we go, check & uncheck things, etc.  Ideally we will remove/strikethrough some of those things to only include the absolute essentials that beginners need.  Goal is for this to be our go-to resource for Veterans who need an intro to Javascript.

@david A similar outline to this could be used for the other '

[2016-04-20 01:15] davidmolina commented on #199
@jjhampton Agree. Thanks. Could you possibly start us off on that template, and then we can reassign/adjust fire from there with new assignments and hit the ground running faster? Example that template you mentioned? cc @karla001

[2016-04-21 18:26] juanmayoral opened #210 "[Learn.co] Add link to site for easy enrollment"
I just enrolled in Learn.co  wondering if they is an easier and faster way to enroll.

[2016-04-21 18:28] davidmolina commented on #210
@juanmayoral good point. we really need to add that link for faster enrollment. cc @Wimsy113

[2016-04-21 18:58] davidmolina opened #211 "[Code Schools] Add Sabio.la GI Bill Antioch Link"
http://www.antiochla.edu/academics/bachelors-degree/coding-options/

[2016-04-21 19:44] #194 closed

[2016-04-21 19:47] davidmolina opened #212 "[Guides] Create a newbie guide"
Guide should include:
- Slack protocol, ex. intro, channels, what channels are for, "@" sign, "@here", et
- GitHub protocol, ex. account setup, contributing their first issue here on `/operationcode` and understanding labels and assignments,
- Enrollment in Learn.co
- Enrollment in [insert free programs to start building websites/web apps/native apps]

[2016-04-22 20:31] davidmolina opened #213 "[Board] Add committees"
For instance,
Programs - guide the creation and maintenance of programs to support Operation Code members
Branding/Marketing - guide the creation and maintance of programs to spread the word about Operation Code to various target markets, while maintaining a brand that represents our mission.

[2016-04-22 20:33] davidmolina opened #214 "[Staff & Volunteers] Add headshot, bios"
- George Everts, School Outreach Specialist
- David Lim, Development Officer

Scholarship Committee
- Nell Shamrell-Harrington

[2016-04-27 01:10] #155 closed

[2016-05-02 02:13] tadake commented on #207
When the screen is at a smaller size the nav bar aoutomatically converts to a dropdown menu. Are you wanting to make it a dropdown menu only?

[2016-05-02 02:20] KevinRoss- opened #216 "[Landing] Remove blank slide"
There is a blank slide on the landing page, this is causing 5 seconds of nothing to be displayed.

[2016-05-02 20:40] davidmolina commented on #150
Re-looking at Calagator as a possible gem to enable more of us to quickly setup meetup, add conference dates, etc. https://github.com/calagator/calagator

[2016-05-02 23:19] KevinRoss- commented on #216
Issue resolved

[2016-05-02 23:19] #216 closed

[2016-05-02 23:22] KevinRoss- commented on #72
Can we close this issue?

[2016-05-02 23:24] KevinRoss- commented on #53
Making it easier to navigate will be great. This is a good issue and I'll take a look at it.

[2016-05-03 20:48] #120 closed

[2016-05-03 20:50] davidmolina commented on #207
@tadake Or on mobile, maybe it opens to the right?

[2016-05-03 21:04] rickr commented on #207
Is this the issue where we were going to convert to dropdown style menus? eg http://getbootstrap.com/javascript/#dropdowns

[2016-05-03 21:10] davidmolina commented on #207
@rickr Exactly. Something where desktop, hover and links fall directly beneath but horizontal; mobile it could open to the right. Not sure what our analytics say about where people click, but I'm finding 9/10 emails are asking where to join, more about what we do, funders on how to commit, so definitely the header needs to be more broad reaching. @tadake

[2016-05-05 04:23] davidmolina opened #219 "[Footer] Update 501c3 status."
On it.

[2016-05-05 08:03] davidmolina commented on #219
This [commit](https://github.com/OperationCode/operationcode/commit/f71d2fe79946d14d9c8663184b2fa1c9d60484ba) solves this.

[2016-05-05 08:03] #219 closed

[2016-05-05 16:34] davidmolina opened #220 "[About] Add values"
Agile – We are expeditious in everything we do and innovative in all our approaches. We will bring new technology and new ideas to provide the best results for veterans.

Service – We exist to meet the needs of veterans. We will humbly remember that their service was of the highest order and that Operation Code works for them.

Accountability – We hold ourselves responsible for obtaining results t

[2016-05-10 21:20] davidmolina commented on #220
[Fixed](https://github.com/OperationCode/operationcode/commit/4fda198a85b16018b9ca6f4a33d3bd046e5aa838).

[2016-05-10 21:20] #220 closed

[2016-05-11 01:03] davidmolina commented on #208
This [commit](https://github.com/OperationCode/operationcode/commit/6179f6b7f89ce96e5cea1d159a38716dcb84776b) fixes this issue.

[2016-05-11 01:03] #208 closed

[2016-05-11 01:04] davidmolina commented on #207
This [commit](https://github.com/OperationCode/operationcode/commit/6179f6b7f89ce96e5cea1d159a38716dcb84776b) fixes this issue.

[2016-05-11 01:04] #207 closed

[2016-05-13 17:34] davidmolina commented on #206
[Fixed](https://github.com/OperationCode/operationcode/commit/395f382581ee1ae6120a1d4ef3c06b70be4d89e8) for now. Will add to landing after some UI/UX redesign.

[2016-05-13 17:34] #206 closed

[2016-05-13 22:08] davidmolina commented on #189
This [commit](https://github.com/OperationCode/operationcode/commit/754fd004e99a99f908d5b89df6463174f50e0f02) fixes this.

[2016-05-13 22:08] #189 closed

[2016-05-13 22:09] davidmolina commented on #205
This [commit](https://github.com/OperationCode/operationcode/commit/b5bc09b5310bd8de1d24b7ec5a5f170d1ea0bf44) fixes this.

[2016-05-13 22:09] #205 closed

[2016-05-14 15:20] davidmolina commented on #196
This [commit](https://github.com/OperationCode/operationcode/commit/7b1a3fdedb8692c853ef70a15162cca8d373c4bc) fixes this.

[2016-05-14 15:20] #196 closed

[2016-05-14 15:55] davidmolina commented on #211
This [commit](https://github.com/OperationCode/operationcode/commit/b86eb81a5005c94a3350ebb7f2dd6c7001bd4889) fixes this.

[2016-05-14 15:55] #211 closed

[2016-05-14 16:02] davidmolina commented on #187
This [commit](https://github.com/OperationCode/operationcode/commit/433911ac546cee2055135e9930e436a106b00d28) fixes this.

[2016-05-14 16:02] #187 closed

[2016-05-14 16:07] davidmolina commented on #210
This [commit](https://github.com/OperationCode/operationcode/commit/7b1a3fdedb8692c853ef70a15162cca8d373c4bc) fixes this.

[2016-05-14 16:07] #210 closed

[2016-05-14 16:08] #134 closed

[2016-05-14 16:33] davidmolina commented on #171
So copy/paste the entire blog and rename `/press`? @nellshamrell, care to pair w/ me on this?

[2016-05-15 05:07] karla001 commented on #199
Not sure what else to do now for this feature. Let me know if there is something I can do? Sorry, again never really used Github.

[2016-05-18 02:55] rickr commented on #135
Going to close this out as we've heard no more complaints.

[2016-05-18 02:55] #135 closed

[2016-05-18 02:56] #121 closed

[2016-05-19 05:57] davidmolina commented on #171
Closing this for now-- for now we'll just use `tags.`

[2016-05-19 05:57] #171 closed

[2016-05-24 18:25] davidmolina opened #224 "[Config] .sass-cache showing even after in .gitignore"
https://github.com/OperationCode/operationcode/blob/master/.gitignore

cc @rickr

[2016-05-24 18:59] rickr commented on #224
You should just be able to remove them (`git rm --cached <dir>`), commit the rm, and then further updates won't be tracked.

[2016-05-24 19:44] davidmolina commented on #224
So `git rm --cached .sass-cache`?

[2016-05-27 02:16] rickr opened #227 "If a user signs up with an existing email the default rails error page is displayed"
Steps to rep:

* Visit https://operationcode.org/action
* Sign up with an email address
* Visit https://operationcode.org/action again
* Sign up with the same email address

You should see the default rails error: `We're sorry, but something went wrong.`

You should get a page that says something along the lines of 'this email has already been registered'.

Log entry:

[code]

[2016-05-31 14:50] AishaBlake commented on #199
I'd love to help with this! I'm a JavaScript instructor at a coding bootcamp, so this is my bread and butter. Has anyone actually started building out the HTML? Should I be watching #212 for guidelines on how to structure this?

[2016-05-31 15:22] rickr commented on #199
Hi Aisha,

I don't believe there is any HTML cut yet. All these guides are tracked in a milestone which has a bit of detail to how things could be structured:
https://github.com/OperationCode/operationcode/milestones/Getting%20Started

[2016-05-31 15:53] AishaBlake commented on #199
@rickr I did see that milestone, but this issue (relating to JavaScript) appears to be the most fleshed out by far. I also saw that someone made an Android page, but it doesn't look like it's actually been integrated yet.

[2016-05-31 19:27] davidmolina commented on #199
Hi Aisha,
Nothing has been cut up--would love your help on this so others can touch and go, replicate for other languages. Be happy to jump on a quick conference call as well if that be more helpful, fast.

[2016-05-31 20:34] AishaBlake commented on #199
Hey David,
Sure thing! Does today work for you? I'm off work at 5pm EST.

[2016-05-31 20:39] davidmolina commented on #199
Sure... knocking a part of an MOU for a new foundation partner. Email me a
good direct line, and I'll call you shortly. david[at]operationcode[dot]org

On Tue, May 31, 2016 at 1:34 PM, Aisha Blake <notifications@github.com>
wrote:

--
---
David Molina
http://davidmolina.github.io

[2016-05-31 21:11] davidmolina commented on #199
Hi @AishaBlake, per our conversation love to get your help on this. Maybe pair w/ @karla001? Re-assigning this to you.

[2016-05-31 21:42] AishaBlake commented on #199
So I had a quick talk with David on the phone and I'd like to be assigned to this issue.

@karla001 : You mentioned that you're not really familiar with GitHub. I teach people to use Git and GitHub as well as to program in JavaScript as part of my job. Please let me know if you'd like to collaborate and/or if I can help demystify GitHub!

[2016-06-01 04:01] terakilobyte commented on #199
I found http://chimera.labs.oreilly.com/books/1234000000262/index.html this book to be exceptional as well while learning. Come to think of it I have an entire list of free JS books that were all really good. I can share them all if you'd like, though a broad deluge of information may make newcomers feel swamped and despairing "I'll never learn all this!".

[2016-06-01 04:10] davidmolina commented on #199
Nice.

Do share it.

[2016-06-01 04:14] terakilobyte commented on #199
Books and Videos:
JavaScript resources, all free online:

http://jsforcats.com/
https://www.youtube.com/playlist?list=PLeL6uTxQ-uX_5BpOb2FDNgG6SxjCs59Kv
https://www.youtube.com/watch?v=hQVTIJBZook
https://www.khanacademy.org/computing/computer-science/algorithms
http://watchandcode.com/courses/eloquent-javascript-the-annotated-version/ | http://eloquentjavascript.net/index.html
https://www.youtube

[2016-06-01 12:47] jjhampton commented on #199
@AishaBlake I sent you an invite to the Operation Code GitHub Org - once it's active we can assign you to this issue.  Thanks for the offer to help - it would be great to get this Javascript page off the ground and serve something up to the community!

[2016-06-05 00:16] jjhampton commented on #224
What @rickr is saying should work - can probably do the same for the `bower_components` directory.  Usually need to make at least one commit with the removal, and then you're good from then on.

[2016-06-05 00:22] jjhampton commented on #199
@AishaBlake Have you started any work on this yet?  If not, I'd like to start drafting up a rough scaffolding for the page tomorrow, based on the outline at the top of the comments for this issue.

[2016-06-05 02:20] AishaBlake commented on #199
@jjhampton I actually did exactly that. I just committed/pushed to my fork. I did realize I wasn't sure where to put it. It's just floating in the root directory at the moment!

[2016-06-07 14:15] hollomancer opened #229 "Add map of Operation Code members to site"
Put map of code schools on home page.

[2016-06-08 19:42] hollomancer opened #230 "Integ intercom-slack on main site"
http://slack-chat.improvi.in/

[2016-06-08 20:24] davidmolina commented on #230
👊🏻

[2016-06-09 17:00] rickr opened #232 "Add slack invite to user sign up process"
* Add a checkbox to our sign up form (opt out?) with some text like: `Join our chat room`
* If the box is checked invite the user to slack via the undocumented `users.admin.invite` API.
* This invite should be done via ActiveJob

See the following repo for example usage:
https://github.com/outsideris/slack-invite-automation/blob/master/routes/index.js#L14-L20

[2016-06-10 05:44] AishaBlake commented on #199
So I do think this guide could use a little more copy. It's mostly a very long list at this point. It could also probably be stripped down a bit. I like the big buckets we've got here, but it could probably use fewer list items and some more explanation of the different resources. Thoughts?

[2016-06-11 21:09] jjhampton commented on #199
@AishaBlake I agree - I think a key here is to have this be as useful to absolute beginners as possible, and only include the best resources.  Don't want to over-indundate people with too many links.  It's already easy enough to get distracted when trying to teach yourself.

Maybe you can submit a PR for the fork that you started with the HTML template?  I scrolled through (didn't demo it on my ma

[2016-06-12 16:07] jjhampton commented on #170
Closing this - calendar link is no longer on the OperationCode.org page.

Perhaps we can revisit this if it's added back in the future, maybe using the Operations Google Calendar instead that was recently set up.

[2016-06-12 16:07] #170 closed

[2016-06-13 17:22] hollomancer opened #234 "Add HTML-CSS and UI-UX to mentor_types"
line 72; operationcode/app/controllers/veterans_controller.rb

[2016-06-14 00:10] davidmolina opened #235 "[Footer] Add GuideStar logo"
<a href="http://www.guidestar.org/profile/47-4247572" target="_blank"><img src="http://widgets.guidestar.org/gximage2?o=9522101&l=v1" /></a>

[2016-06-14 00:10] davidmolina commented on #235
<a href="http://www.guidestar.org/profile/47-4247572" target="_blank"><img src="http://widgets.guidestar.org/gximage2?o=9522101&l=v2" /></a>

[2016-06-14 00:10] davidmolina commented on #235
<a href="http://www.guidestar.org/profile/47-4247572" target="_blank"><img src="http://widgets.guidestar.org/gximage2?o=9522101&l=v3" /></a>

[2016-06-14 00:11] davidmolina commented on #235
<a href="http://www.guidestar.org/profile/47-4247572" target="_blank"><img src="http://widgets.guidestar.org/gximage2?o=9522101&l=v4" /></a>

[2016-06-14 00:11] davidmolina commented on #235
^^ Either or works.

[2016-06-14 13:52] davidmolina commented on #170
Yep.

[2016-06-17 21:37] rickr opened #237 "Add ability for approved people to send mail through mailchimp"
From slack:

`Ideally, down the road, we would be able to send this out in an email to all our members. We do/did have a MailChimp account right?`

[2016-06-18 02:29] davidmolina opened #238 "[Mailer] Update welcome mailer from contact@ to david@"

[2016-06-18 06:44] davidmolina commented on #238
This [commit](https://github.com/OperationCode/operationcode/commit/59d5ed7197acdb12a2d27ffec18a1b3de3608580) fixes this.

[2016-06-18 06:44] #238 closed

[2016-06-18 06:46] davidmolina commented on #202
@rickr @hollomancer @jjhampton anything in the mailer we should update? I just added free-code-camp.

[2016-06-23 14:56] rickr opened #240 "Add Announcement System"
It should post to a slack channel
It should be seen by users on the website
Announcements should only be able to be made by people with the correct permissions

[2016-06-25 03:35] rickr opened #241 "Add omniauth support"
It would be awesome to have people be able to sign up with various social media accounts.

Omniauth or similar will help with that.

[2016-06-25 04:23] rickr opened #243 "Add Login to header page"

[2016-06-25 04:32] davidmolina commented on #241
👊🏻

[2016-06-25 16:43] rickr opened #244 "Add ability for approved people to invite members to slack"

[2016-06-28 01:16] david-le commented on #118
I can provide some tutorials and guidance on learning iOS. Only problem is that I don't know Ruby or any web languages to actually code into a webpage. Is there a template of some sort, maybe I could just drop the links and modify items? Any other suggestions?

[2016-06-28 01:53] davidmolina commented on #118
Can you duplicate `/jsguide`?

[2016-06-28 04:22] rickr commented on #118
If you'd l like to take a look at https://github.com/OperationCode/operationcode/issues/199 and use that as an outline you could just create a text doc and submit that. One of us can convert it to HTML.

[2016-06-29 03:07] rickr opened #245 "Investigate if we can remove empty devise controllers"
In app/controllers/veterans there are a bunch of empty classes that were generated by devise.

I think these can be deleted but some testing is needed.

[2016-06-29 03:11] rickr commented on #245
I stopped being lazy and tested...

[2016-06-29 03:11] #245 closed

[2016-06-29 04:08] rickr opened #246 "In the footer the 'Mentor' and 'Volunteer' links are mailtos"
These should either be a form (the join form?) or explain the roles.

[2016-06-29 04:10] rickr opened #247 "Main page CTA button is blank"
The one with the 'Join now and get coding'.  It should be a different color than the background

[2016-06-29 04:40] rickr opened #248 "Fix navbar so flash messages are shown"
Steps to rep:
* Create a flash message
* It won't be displayed on the page
* It will be in the DOM (AKA view source)

[2016-06-29 13:59] rickr opened #250 "Save requested mentor to db"
Lets also just make this 'yes' and 'no'.

[2016-06-29 19:32] davidmolina opened #251 "News and blog automatically parse Markdown from /news and /blog"
Automate process to update the 3 press articles and 3 blog posts on the landing from /press and /blog.

[2016-06-30 03:42] rickr commented on #227
This might have been fixed by moving the inviter to ActiveJob.

[2016-06-30 15:03] hollomancer opened #253 "Bad links do not present a 404 message."
REPRO
1) Go to https://operationcode.org/thisneedsto404
2) Observe.

RESULT
A page appears that does not inform the user that they attempted to access a location that does not exist.

EXPECT
A 404 error appears, or the user is redirected to the home page. Ideally, we have a custom 404 page that is a little friendlier.

[2016-06-30 15:07] rickr commented on #253
A 404 *is* returned. Just looks like the page displayed is incorrect.

[2016-06-30 17:25] erangeljr commented on #246
Do you have a more formal description of these roles? Do you want the form to just submit it's content to the same email they're currently pointing to?

[2016-06-30 20:31] rickr commented on #246
Lets remove `mentor` and create a new `volunteer` page. We can enumerate the various things people can do on that page (eg mentoring).

If @davidmolina has no objections to that plan I'll work on getting some copy for that page.

[2016-06-30 22:00] davidmolina commented on #246
No objection. Thx Rick.

[2016-06-30 22:13] hollomancer opened #254 "Ability to query via mobile/web to retrieve OpCode members by skill/location"
@davidmolina - As a veteran advocate, I want to be able to pull up Operation Code members matching a given skillset and location range on my mobile device, so that I can provide information to employers as to who we have available.

need SSO(Google) to protect our member info.

[2016-07-01 01:09] davidmolina opened #255 "[Code Schools] Update VA-accepting code schools to the top, everyone else below"
Quick and fast way for military veterans to see which code school is accredited, first.

[2016-07-01 01:38] rickr commented on #57
Consolidating into #56 .

[2016-07-01 01:38] #57 closed

[2016-07-01 01:40] #72 closed

[2016-07-01 01:56] rickr opened #257 "Investigate blogging platforms"
Goals:
* Make it easy for people to create content
* Drive brand recognition/website traffic
* Easy to operate/manage

Currently looking at:
* Ghost
* Medium

Open questions:
Does medium support back dating?

[2016-07-01 01:59] rickr commented on #92
@davidmolina is this still needed?

[2016-07-01 02:05] #97 closed

[2016-07-01 02:09] rickr commented on #114
Going to track this in #255

[2016-07-01 02:09] #114 closed

[2016-07-01 02:10] rickr commented on #115
Closing this since the login process has changed.

[2016-07-01 02:10] #115 closed

[2016-07-01 02:12] hollomancer opened #258 "Move video of Victor to Donation page"
@davidmolina - do you want to replace that video with the Mission video?

[2016-07-01 02:18] rickr commented on #130
This was done in #250

[2016-07-01 02:18] #130 closed

[2016-07-01 02:22] #137 closed

[2016-07-01 02:26] rickr commented on #142
This was completed in #242

[2016-07-01 02:26] #142 closed

[2016-07-01 02:34] rickr commented on #199
Closing this since #233 was merged.

Thanks all for helping!

[2016-07-01 02:34] #199 closed

[2016-07-01 02:41] rickr commented on #229
The map is available at https://operationcode.org/veterans/map , it just needs to be linked to somewhere.

[2016-07-01 02:46] rickr commented on #250
This was fixed in #252

[2016-07-01 02:46] #250 closed

[2016-07-01 03:07] davidmolina commented on #92
Rick, negative. Close issue.

Seperately issue, add additional donation options, ex. $5, $10, $20... $2000

[2016-07-01 03:08] #92 closed

[2016-07-01 03:10] davidmolina commented on #258
Per our call, only mission video on the landing and /about and the Marine video to a page to help donors make a donation.

[2016-07-01 03:10] davidmolina commented on #229
Landing?

[2016-07-01 13:25] rickr opened #259 "Add SnapChat to social media section"
When a user visits the home page
At the bottom of the footer near the other social media icons (`.social-links`).
There should be a snapchat icon that links to http://www.snapchat.com/add/operationcode

You should be able to use http://fontawesome.io/icon/snapchat/.
You can look at the icon above 'Scholarship Program' for an example of how to use font awesome with our CSS framework.

[2016-07-01 14:53] rickr opened #260 "Update all blog links to point to the medium URL"
Update all references to our blog to point to the medium URL.

This is currently blocked on getting the medium account setup.

The URL is https://medium.com/operation-code

[2016-07-01 14:56] rickr opened #261 "Figure out how to update our blog section"
Now that we're moving to medium the `Recent highlights from our blog` section on the home page is going to be out of date. We need a way to populate this data.

Some questions to answer:
* Does medium have an API we can call to do this automatically?
* If not can this be scripted as a rake task?

[2016-07-01 19:15] rickr opened #262 "What data/features can we provide to increase content for social media"
The goal is to create more content for messages = expand social reach = increased followers.

Some ideas:
* Searchable/sortable list of users by/since date
* Twitter buttons on sign up?

[2016-07-01 20:13] rickr commented on #253
This is probably the culprit:
https://github.com/OperationCode/operationcode/blob/master/public/404.html

[2016-07-02 11:52] davidmolina opened #263 "[Scholarships] Add The Guild of Software Architects"
/scholarships
The Guild of Software Architects offers 50% off tuition ($3000 scholarships) for veterans AND their spouses for their 12 week immersive code bootcamps.

[2016-07-02 11:52] davidmolina opened #264 "[Code Schools] Add The Guild of Software Architects"
/codeschools
The Guild of Software Architects
6170 Research Rd, Suite 107
Frisco,TX 75033

[2016-07-02 18:49] rickr commented on #257
We're going with medium. No further actions.

[2016-07-02 18:49] #257 closed

[2016-07-02 19:00] hollomancer opened #266 "Add Google Analytics hooks to track conversions"
As Ops, I want to have Google Analytics hooks on our user acquisition flow, so that we have the infrastructure to track number of people visiting the site, going to the different pages.

[2016-07-02 19:08] hollomancer opened #267 "Page for selling merch, store.operationcode.org"
Need to identify provider for this, then build frontend, ex. shop.operationcode.org or operationcode.org/shop

[2016-07-02 21:42] davidmolina commented on #267
Someone in Slack mentioned Teespring.

[2016-07-02 21:43] davidmolina commented on #266
Golden.

[2016-07-03 02:16] rickr opened #268 "DRY up code_schools page"
The code_schools page can be refactored a ton to clean up the code.
Ideas:
- Use collections
- Create a new class CodeSchool that can print itself in HTML
- Convert HTML links, divs etc to ERB

[2016-07-03 02:36] davidmolina commented on #268
Remove videos?

[2016-07-03 05:15] rickr opened #270 "Review new code school format."
By default - everyone DOES NOT accept GI bill, IS full time and DOES NOT provide hardware.
Do we have any additional info on the schools?

Please let me know when this page is accurate enough to cut over to.

[2016-07-03 05:16] rickr opened #271 "Change all links from /codeschools to /code_schools"
Also clean up pages/codeschools

Blocked on #270

[2016-07-03 05:24] #255 closed

[2016-07-03 05:43] #264 closed

[2016-07-03 06:31] hollomancer commented on #54
We need to understand how we will use SMS messaging to support our mission, in a manner that Slack does not already do for us.

[2016-07-03 13:00] rickr commented on #227
Devise has fixed this.

[2016-07-03 13:00] #227 closed

[2016-07-03 13:05] rickr opened #272 "Add map of all code schools"
_As a visitor, I want to see a geographical map of where all the code schools in the country are, so that it's easy for me to tell which ones are near my location._

**Product Requirements**
The code schools page has a map above the fold, showing where code schools are in the continental US.

**Technical Requirements**
We can leverage the veterans/map code to do this easily.
- [ ] Add an `all` met

[2016-07-03 13:09] rickr commented on #52
Tracking these efforts in the Getting Started milestone. https://github.com/OperationCode/operationcode/milestones/Getting%20Started

[2016-07-03 13:09] #52 closed

[2016-07-03 13:11] rickr commented on #53
This was fixed in #269

[2016-07-03 13:11] #53 closed

[2016-07-03 13:19] rickr opened #273 "Hidden content under navbar"
If you create a new page you'll notice that the content is hidden behind the navbar.

For example if you look at the HTML for /code_schools you'll see there's a 70px margin. That shouldn't be there.

Lets comb over the HTML/CSS for the main layout and make sure everything is A OK.

You'll also want to make sure that all pages display correctly after making your fixes.

See also #248

[2016-07-03 13:20] rickr opened #274 "Style signup form errors"
They're currently pretty ugly.

Stretch goal: Get them to be inline with the form.

[2016-07-03 13:23] rickr opened #275 "Move static content from pages controller"
They can all probably just live under public.

Make sure this works in rails' production mode!

[2016-07-03 13:32] rickr opened #276 "Move scholarships to DB"
We can use STI to break out school vs conference.

Each scholarship has:
- A Name
- A URL

Schools have:
- A description

Conferences have
- A location
- A date (dates?)
- A status (past or present)

Status can be calculated from the dates.

Lets also update the copy to use an email vs slack to lower barrier to entry.
#263 could be a good excuse to do this.

[2016-07-03 13:34] rickr opened #277 "Add pundit"
https://github.com/elabs/pundit

Initial roles:
- mentor
- staff

[2016-07-03 13:47] rickr opened #278 "Implement timeline for history page"
https://codyhouse.co/demo/vertical-timeline/index.html
https://timeline.knightlab.com/

(I like the vertical one more)

Maybe we can store each history item in a model?

[2016-07-03 13:49] rickr opened #279 "Fix menu links"
If you hover over a menu item there's like...a 10px gap between our navbar and the menu itself.

[2016-07-03 13:55] rickr opened #280 "Implement wall of commits"
When a new user signs up, in order to get them hooked on programming, we should have a guide that allows them to add their name and a message to a page that we serve.

The page:
- can be served out of /public
- may or may not be HTML
- should be editable on github without having to get the rails env setup
- have a better name than 'wall of commits'

The guide:
- should explain at a very high level

[2016-07-03 13:56] rickr opened #281 "Move rspec tests to minitest"

[2016-07-03 14:01] rickr opened #282 "Conditionally display certification"
Since we accept civilians as mentors/volunteers the 'I certify' submit button on the sign up page should be changed to a checkbox that is conditionally displayed if you select a branch of service.

Additionally, to be a bit more explicit we should add a 'none' or 'civilian' to the drop down.

[2016-07-03 14:14] rickr opened #283 "Auto-add new members as repo contributors"
_As an organization admin, I want new members of Operation Code to be automatically added as repo contributors to OperationCode/operationcode and /operationcode_bot, so that they don't have to be added manually._

**Challenges**
- [] We'll need to associate Slack users with Github users if we want to do this.

[2016-07-03 17:48] davidmolina commented on #283
That. Also, should be a bot somewhere, `/github Add @david to contributors`

[2016-07-03 17:52] davidmolina commented on #282
Roger.

That `first blank` was that part. But there was no welcome_mailer for new mentors to match it.

Ideally, there is, and they get that welcome note that Conrad and Rob drafted.

[2016-07-03 17:55] davidmolina commented on #280
Idea: OAuth with GitHub which forces everyone to get/sign in to their GitHub account.

New users are expected to do the Hello World tutorial.

[2016-07-03 17:56] davidmolina commented on #278
Both are really nice.

[2016-07-03 23:59] hollomancer opened #284 "Design: Volunteer Landing"
_As a potential mentor volunteer, I would like a way to sign up for Operation Code that does not emphasize military background._

Functional requirements:
- Would like a separate form for mentors to sign up, invite to Slack.
- This can just be an alternate landing for #282.
- Field for specialty
- Field for years of experience
- Field for blurb about why you want to be involved

Technical requirem

[2016-07-03 23:59] hollomancer opened #285 "Mentor Landing: Link to Mentor SOP"
_As a potential mentor volunteer, I would like to see the guidelines behind being a software mentor before I sign up, so that I know what I'm getting into._

This can be a link to our Github mentor page in a new tab, as an MVP.

[2016-07-04 00:33] hollomancer commented on #284
Would like a separate form for mentors to sign up, invite to Slack

[2016-07-04 00:34] hollomancer commented on #284
This can just be an alternate landing for #282

[2016-07-04 00:36] cherstewart commented on #284
Yes, please!

[2016-07-04 03:14] rickr commented on #284
How would we vet new mentors? Would adding a `i would like to be a mentor` check box to the form suffice?

[2016-07-04 03:24] cherstewart commented on #284
I would probably add a bit more than that, maybe specialty, years of experience and a blurb about why you want to be involved, just to put in an extra bar for people who truly want to be involved. Just my two cents. :)

[2016-07-04 04:15] davidmolina commented on #284
Should be sufficient.

[2016-07-04 05:24] rickr commented on #284
Ok - I think we can do all that relatively cleanly!

[2016-07-04 20:17] rickr opened #287 "Add 'Jobs' to veteran profile"
A `Veteran` should have the ability to mark themselves as looking for a job.
If they are looking for a job a menu should appear allowing them to:
- Upload their resume
- Request a resume review
- Request mock interviews

Additionally staff should be able to pull a report of all veterans looking for work.

[2016-07-05 15:00] RobKriner opened #289 "Add O'Reilly Media Partner Image"
Need to add an O'Reilly partner image and link to our website as part of our participation in their partner program:

`<a href="http://www.oreilly.com/pub/cpc/21456"><img src="http://www.oreilly.com/partner_file/orm_partner_meerkats_100x100.png" /></a>`

Placement can be anywhere it makes sense. Maybe down in the footer?

[2016-07-05 16:54] RobKriner commented on #267
I was just looking into this - [http://artistshopshelp.threadless.com/article/16-how-does-pricing-work-for-items-in-my-artist-shop]. Threadless will handle all of the logistics for getting our shirts made and mailed, and will give us our own storefront that we can customize. They have options for t-shirts, hoodies, and are working on other SWAG we can add. Krystyna tweeted last night that she was

[2016-07-05 18:09] davidmolina commented on #267
Sounds like a win-win. Can you get us setup, Rob?

[2016-07-05 18:13] RobKriner commented on #267
Yep. Already pinged Krystyna on the t-shirts and she should have some designs to share by the end of the week. I can then get everything set up and launched by the time the booster campaign is done.

[2016-07-05 18:16] davidmolina commented on #267
Outstanding.

[2016-07-05 21:24] rickr commented on #90
This should be a system that tracks donation campaigns.
There should be a bar with the total and it should link up with the current donations.

[2016-07-05 21:28] rickr commented on #94
These pages should be separate for each one of these sections.

[2016-07-05 21:52] rickr commented on #182
This is being covered by #267

[2016-07-05 21:52] #182 closed

[2016-07-05 21:55] rickr commented on #202
@hollomancer + rob Can you verify code of conduct, conciseness.

[2016-07-05 21:56] rickr commented on #212
Closing due to updates to welcome mailer updates and getting started.

[2016-07-05 21:56] #212 closed

[2016-07-05 21:59] rickr commented on #229
Put it in the footer

[2016-07-06 01:44] #289 closed

[2016-07-06 21:55] rickr opened #293 "Add 'Code Schools Nearby' to veteran profile"
We can probably easily compare the users zip code with our list of code schools to see how many schools are in the area.

[2016-07-07 03:33] #260 closed

[2016-07-07 14:54] rickr commented on #279
Fixed by #295

[2016-07-07 14:54] #279 closed

[2016-07-07 14:55] rickr commented on #273
Fixed in #295

[2016-07-07 14:55] #273 closed

[2016-07-07 14:55] rickr commented on #271
Fixed in #295

[2016-07-07 14:55] #271 closed

[2016-07-07 14:56] rickr commented on #270
Rolled this out with the UI update. If we find any errors we can file another bug.

[2016-07-07 14:56] #270 closed

[2016-07-07 14:56] rickr commented on #247
Fixed in #295

[2016-07-07 14:56] #247 closed

[2016-07-07 14:57] rickr commented on #248
Fixed in #295

[2016-07-07 14:57] #248 closed

[2016-07-07 15:02] rickr opened #296 "Style Flash Messages"
Log in or log out of a profile to see an unstyleized flash message. They should be styled.

Keep in mind that flash messages are set in the application layout. On the main page this disrupts the images. We can either redirect to the sign in page when someone logs out or figure out a way to do flashes in a non invasive way. Maybe a toast? http://materializecss.com/dialogs.html

[2016-07-07 19:15] rickr opened #298 "Fix button CSS classes"
There are still some buttons that are using btn-lg and not button-large.
All buttons should use materialize's btn-large.

[2016-07-07 20:15] rickr commented on #298
Fixed in #299

[2016-07-07 20:15] #298 closed

[2016-07-07 20:17] rickr opened #300 "Add exception_notification"
https://github.com/smartinez87/exception_notification

Wire up to slack and/or exceptions@opcode.org

[2016-07-07 20:19] rickr opened #301 "Add code climate"
https://codeclimate.com/

[2016-07-07 21:42] davidmolina opened #302 "Change No to Yes on Sabio"
Under `/code_schools`, California, Sabio, link `Yes` to:
http://www.antiochla.edu/academics/non-degree-certificate-programs/certificate-programs/certificate-in-web-development/

[2016-07-08 01:17] davidmolina commented on #302
This [commit](https://github.com/OperationCode/operationcode/commit/f4b6922158f6b6101e2479468b2dcacd5193e27f) fixes this.

[2016-07-08 01:17] #302 closed

[2016-07-08 23:11] david-le commented on #118
I'd be curious to check out '/jsguide'. I can give it a whirl, if not, I can do the text doc. Which directory is '/jsguide' located?

[2016-07-09 00:07] davidmolina commented on #118
It's in pages now:
https://github.com/OperationCode/operationcode/blob/master/app/views/pages/jsguide.html.erb

[2016-07-09 01:10] #263 closed

[2016-07-09 01:55] #224 closed

[2016-07-09 01:55] #301 closed

[2016-07-09 16:39] #300 closed

[2016-07-09 19:33] rickr commented on #128
Here is what it should look like:
![donate_example](https://cloud.githubusercontent.com/assets/334550/16709845/6728d7b2-45ea-11e6-9641-01fee8476244.png)

[2016-07-09 22:32] rickr opened #312 "Main logo overflows on mobile"
To repro
Visit the home page on mobile.
The logo should be overflowing over the nav bar

It should not be overflowing

[2016-07-09 22:33] rickr opened #313 "Text on carousel looks bad on mobile"
To repro
Visit the page on mobile
The header text on the carousel looks bad

It shouldn't look bad

[2016-07-09 22:34] rickr opened #314 "There is no menu on mobile"
To repro
Visit the page on mobile
There is no navigation menu

There should be a navigation menu.

[2016-07-11 02:48] hollomancer opened #315 "'Blog' appears twice in the footer."

[2016-07-11 02:59] hollomancer opened #316 ""Empoyer Services" misspelled in header."
This can be fixed pretty quickly in operationcode/app/views/layouts/_header.html.erb

[2016-07-11 03:35] #315 closed

[2016-07-11 03:35] #316 closed

[2016-07-11 07:22] davidmolina opened #318 "Donation by text"
When `opcode` is texted to `x number` (provisioned by Twilio or similar) user makes a donation to scholarship fund.

[2016-07-12 02:04] davidmolina commented on #314
Can't see `code_schools` or other links. See photo.

![img_3436](https://cloud.githubusercontent.com/assets/1848616/16752920/419342a6-479a-11e6-97c3-f820762eb899.jpg)

[2016-07-12 03:24] rickr opened #319 "Create system to generate menu"
Materialize requires 2 separate ul's for the mobile and non mobile menu. Currently this is managed manually.

We should have a way to define menu items in either a class or a hash and have it output the HTML needed for the desktop and mobile views.

[2016-07-12 03:46] #314 closed

[2016-07-14 17:42] rickr opened #321 "Add mentory view for mentors"

[2016-07-15 00:27] hollomancer opened #322 "Add page for Fellowship under employers/fellowship."
Includes a contact form reaching out to fellowship@operationcode.org, cc maggi.

[2016-07-16 00:15] #322 closed

[2016-07-16 00:20] rickr opened #324 "Remove vendor/bundle"
From travis:

[2016-07-17 13:24] rickr commented on #321
Fixed in #325

[2016-07-17 13:24] #321 closed

[2016-07-17 14:13] rickr opened #328 "Fix styling on password reset page"
URL is veterans/password/edit

[2016-07-17 16:00] #328 closed

[2016-07-17 16:16] rickr opened #331 "Add admin screen"
There should be an admin boolean added to the veteran model.

In the profile there should be an admin view.

Right now this view should only have the ability to make someone a mentor.

[2016-07-17 16:23] hollomancer opened #332 "Add mentee messaging system"
Would like to see, at a glance, how long it has been since a mentee was contacted.

[2016-07-17 16:27] rickr opened #333 "Add 'request a mentor' to mentor details"
When a user is on their profile home page
If a user has not requested a mentor
They should be able to click a link to request a mentor.

The link should be a form that updates the `wants_mentor` field for that veteran.
You will probably have to create a new method in the `Veteran` controller.

[2016-07-17 23:43] rickr opened #334 "Automate welcome email for mentees"
Requested by @hollomancer

[2016-07-17 23:52] rickr commented on #334
Requested by @hollomancer

[2016-07-19 03:02] rickr opened #337 "Test ticket from Code Climate"

[2016-07-19 03:03] #337 closed

[2016-07-20 22:23] davidmolina commented on #235
@rickr can we move this to high? Thx.

[2016-07-21 00:34] rickr commented on #235
Done. It'll be done by the weekend.

[2016-07-23 00:23] rickr opened #341 "Fix Snapchat Icon"
I think this is due to an old version of font-awesome.

Lets move to a CDN based font-awesome. You can remove the line `gem 'font-awesome-rails'` from `Gemfile` and add the following tag in the `<head>`.

`<script src="https://use.fontawesome.com/3c0f7e9be1.js"></script>`

Make sure our existing font-awesome icons still show up.

[2016-07-23 05:21] rickr opened #342 "Move guidestar logo into asset pipeline"
Current image is linked to github:
` +        <img src="https://camo.githubusercontent.com/ad78997b7ab7b62d4f93b59860b1e19821676b58/687474703a2f2f776964676574732e6775696465737461722e6f72672f6778696d616765323f6f3d39353232313031266c3d7633" data-canonical-src="http://widgets.guidestar.org/gximage2?o=9522101&amp;l=v3" style="max-width:100%;"></a></p> `

It should be in the asset pipeline.

[2016-07-23 18:52] dmarchante commented on #342
@rickr @davidmolina Is there a way to acquire the logo with a transparent background and better resolution? Viewing the image on a mobile device revealed the low resolution. Also, now looking at it, I would use the logo with out the text and add it in manually.

[2016-07-23 19:38] davidmolina commented on #342
We have the vector file.

[2016-07-26 15:00] rickr commented on #342
OBE - Guidestar's instructions have us hotlinking. Fixed in #349

[2016-07-26 15:00] #342 closed

[2016-07-26 15:00] rickr commented on #341
Fixed in #343

[2016-07-26 15:01] #341 closed

[2016-07-26 15:07] rickr commented on #253
Fixed in #348

[2016-07-26 15:07] #253 closed

[2016-07-29 19:44] hollomancer opened #352 "Marketing: ID high-profile sponsors"
Having high-profile sponsor logos on our main page will help strengthen Operation Code, and allow us to recognize sponsors who have contributed so much to our success.

[2016-07-30 21:05] rickr commented on #235
This was fixed in #349

[2016-07-30 21:05] #235 closed

[2016-07-30 21:10] rickr commented on #177
This no longer applies due to the shift to materialize.

[2016-07-30 21:10] #177 closed

[2016-08-02 21:48] rickr opened #354 "Refactor Gemfile.lock from a D on Code Climate"
https://codeclimate.com/github/OperationCode/operationcode/Gemfile.lock

[2016-08-02 21:57] rickr opened #355 "Design: Home Page"
We should:
- prioritize Code Schools, Joining, and the Fellowship Program
- list high profile sponsors (#352).

Issues for design consideration: #408 #466 #548

[2016-08-02 21:57] rickr commented on #352
This is a great idea! You're thinking of something like those startup type 'Our Customers' with all their logos and everything right?

I'm going to put this on hold for now. It seems like we may want to do a bit of a redesign on the main page so lets sort that out first. Opened up #355 for that discussion.

[2016-08-02 23:23] #334 closed

[2016-08-02 23:35] rickr opened #356 "Small fixes for mentee welcome"
* Add bio to profile edit page
* Add link to mentee view for unclaimed mentors
* Add mailers queue

[2016-08-03 01:11] #356 closed

[2016-08-03 01:26] rickr opened #358 "Fix "Rubocop/Metrics/MethodLength" issue in app/controllers/donations_controller.rb"
Method has too many lines. [32/10]

https://codeclimate.com/github/OperationCode/operationcode/app/controllers/donations_controller.rb#issue_57a14669e3d8a20001000167

[2016-08-04 00:11] hollomancer commented on #352
Yep, exactly. We should probably identify one row of these (two rows always looks cluttered), validate our permission to use their branding, and add below the main image on the front.

[2016-08-04 00:20] hollomancer opened #361 "Add landing for corporate sponsorship"
We have two forms in PDF format on Google Drive under Development > Corporations that we should webpagify.

Probably a small link for any corporate sponsors who are interested, not super prominent, and we'd direct link in emails or something.

[2016-08-04 00:25] davidmolina commented on #361
Should this be hosted on our AWS?

[2016-08-04 02:34] hollomancer opened #362 "Layout bug on the About page"
![image](https://cloud.githubusercontent.com/assets/9288648/17388465/5f600854-59ca-11e6-8640-7133947b995f.png)

[2016-08-04 03:13] hollomancer opened #363 "Have welcome emails cc mentorship@operationcode.org"

[2016-08-04 13:13] hollomancer opened #364 "Mentee tracker records the user that sent the initial welcome email"
This is so, if someone who sent the welcome email is different than the actual mentor, we have a POC with the initial contact.

[2016-08-04 15:58] #363 closed

[2016-08-05 03:04] #354 closed

[2016-08-08 20:54] hollomancer opened #368 "Aimee Knight is listed twice under website board of directors page"

[2016-08-08 20:55] churusaa opened #369 "Typographical error on https://operationcode.org/code_schools"
1st paragraph, last sentence reads: "Often dsirable from the employer standpoint"

Should read: "Often desirable from the employer's standpoint"

Line 134 in page source.

[2016-08-08 21:19] rickr commented on #368
Fixed in #370

[2016-08-08 21:19] #368 closed

[2016-08-09 01:36] rickr opened #371 "Add press from http://davidmolina.github.io/press/"

[2016-08-09 01:37] rickr opened #372 "Facebook shows the /veteran/sign_up icon as guidestart not the OpCode logo"

[2016-08-09 05:05] rickr opened #373 "Add /amazon-smile copy"
Amazon Smile

How Does it Work?

1. Visit smile.amazon.com.
The entire shopping experience is the same and most products available on amazon.com are available at AmazonSmile.

2. Sign in and Choose Your Charity
The screen will look slightly different depending on whether or not you’re already signed into Amazon. If you’re already signed in, simply search for “Operation Code” and proceed to step 3.

[2016-08-09 14:00] rickr commented on #372
I think we should just need to follow the directions here: https://developers.facebook.com/docs/sharing/webmasters#markup

To add the og:image tags to application.html.erb to point to our logo.

You could also think about adding https://github.com/kpumuk/meta-tags

[2016-08-09 17:03] #371 closed

[2016-08-09 17:40] davidmolina opened #375 "Add /internships copy"
How does this work?

***
Operation Code is Seeking Legislative Interns

Are you interested in being part of Operation Code's mission?
Interns will assist the legislative lead in implementing strategies to increase coding education opportunities for our serving and returning service members.

Job Responsibilities Include:
Aid in the development of Operation Code's legislative strategies
Building an

[2016-08-10 22:57] davidmolina opened #376 "Add Codeup to /code_schools"
According to this article, Codeup is VA approved: http://www.bizjournals.com/sanantonio/news/2016/07/12/veterans-enlistedat-sa-tech-school-get-full.html.

[2016-08-12 23:02] hollomancer opened #377 "About Us Page: Portraits of Board"
What resolution and file type is needed?

[2016-08-12 23:02] hollomancer opened #378 "About Us Page: Portraits of Staff"
What resolution and file type is needed?

[2016-08-12 23:05] hollomancer opened #379 "Make site ADA compliant"
http://www.techrepublic.com/blog/web-designer/creating-an-ada-compliant-website/

[2016-08-12 23:07] hollomancer opened #380 "Join button is below the screen on landing page"
May need to rearrange the text or shrink the landing page graphic.

[2016-08-12 23:09] hollomancer opened #381 "Include email and zipcode for user signup on home page"

[2016-08-12 23:09] hollomancer opened #382 "Include our video on main page"

[2016-08-13 15:23] hollomancer opened #383 "Add an indicator on the mentee list to indicate whether someone has been welcomed"

[2016-08-13 16:55] hollomancer commented on #285
Add copy from Google Drive doc re: Mentor SOP

[2016-08-13 19:03] hollomancer commented on #94
@rickr - break this up into multiple issues?

[2016-08-13 19:04] hollomancer commented on #25
Scholarship Criteria
Veteran-founded and led, Operation Code is on a mission to help transitioning military, guard & reserve troops, veterans and their families learn to code and build software to change the world. Our community partners provide conference scholarships to make these events more accessible and inclusive to individuals from all walks of life.

Criteria for conference scholarships ar

[2016-08-15 15:42] rickr commented on #369
@rhall91 has this

[2016-08-16 13:42] rickr commented on #369
Fixed in #385

[2016-08-16 13:42] #369 closed

[2016-08-20 10:45] hollomancer opened #386 "Add Github Universe to upcoming conferences"

[2016-08-20 10:48] hollomancer opened #387 "Add code school logos to code school scholarships page"
Let's add graphics to the code school scholarships page, and draw some extra attention to our partners!

[2016-08-20 16:02] davidmolina commented on #387
Going ahead and taking this... cc @nellshamrell

[2016-08-20 16:02] davidmolina commented on #386
Going ahead and taking this... @nellshamrell

[2016-08-20 16:03] davidmolina commented on #382
Going ahead and taking this... @nellshamrell

[2016-08-20 16:06] davidmolina commented on #381
Going ahead and taking this... @rickr

[2016-08-20 16:07] davidmolina commented on #380
Going ahead and taking this... @rickr

[2016-08-20 16:07] davidmolina commented on #378
Going ahead and taking this... @rickr

[2016-08-20 16:08] davidmolina commented on #377
Going ahead and taking this...

[2016-08-20 16:08] davidmolina commented on #376
Going ahead and taking this... @rickr @hollomancer

[2016-08-20 16:10] davidmolina commented on #362
@hollomancer: using safari and not seeing a problem.

[2016-08-20 16:10] davidmolina commented on #352
Going ahead and taking this... @rickr @hollomancer

[2016-08-20 16:11] davidmolina commented on #373
Going ahead and taking this... @rickr

[2016-08-20 16:12] davidmolina commented on #361
Going ahead and taking this... @hollomancer

[2016-08-20 18:01] davidmolina opened #388 "Setup a Dwolla account"

[2016-08-20 18:39] davidmolina commented on #388
Pending Dwolla approval. It's the weekend. So...

[2016-08-20 18:49] davidmolina opened #389 "Setup a Square Cash account"

[2016-08-20 18:50] davidmolina commented on #389
https://cash.me/$operationcode

[2016-08-20 18:50] #389 closed

[2016-08-20 18:50] davidmolina commented on #388
Closing for now. Adding this to the `header`.

[2016-08-20 18:50] #388 closed

[2016-08-20 19:38] davidmolina opened #390 "Setup a /venmo account"

[2016-08-20 21:38] davidmolina commented on #390
In progress.

[2016-08-20 21:38] davidmolina opened #391 "Update `header` w/ new donate methods"

[2016-08-20 21:43] davidmolina commented on #391
This [commit](https://github.com/OperationCode/operationcode/commit/f6dd8d43ff8397453317e2ffb07b29a37888a33d) fixes this.

[2016-08-20 21:43] #391 closed

[2016-08-20 21:43] jeremyshorelinepark opened #392 "Feature: "Join" Buttons"
The existing "Join Now And Get Coding" button on the homepage should be brought up to be placed 'above the fold' and be immediately visible once visitors reach the homepage. The idea is to increase speed to signup and not make them scroll down for the button.

Users can also signup on the Nav bar in the right-hand corner, but "Join" doesn't stand out in relation to the other information they are g

[2016-08-20 21:51] davidmolina commented on #373
^^ Add the FAQ.

[2016-08-20 22:22] davidmolina commented on #373
This [commit](https://github.com/OperationCode/operationcode/commit/7286c92d0de5b5e16b951f4e50dc46dbd421dcaa) fixes this.

[2016-08-20 22:22] #373 closed

[2016-08-20 22:23] davidmolina commented on #382
It's already on homepage. Closing this.

[2016-08-20 22:23] #382 closed

[2016-08-20 22:24] davidmolina commented on #382
![screen shot 2016-08-20 at 3 23 56 pm](https://cloud.githubusercontent.com/assets/1848616/17834208/220f01e4-66ea-11e6-9fe0-33375f0ea1e1.png)

[2016-08-20 23:18] davidmolina opened #393 "Add staff page and bios"

[2016-08-20 23:19] davidmolina commented on #393
This [commit](https://github.com/OperationCode/operationcode/commit/8f60e3367031ddeb2cec1d85883c635884ac0985) fixes this.

[2016-08-20 23:19] #393 closed

[2016-08-21 17:00] davidmolina opened #394 "Add /staff to header"
Missed this part in yesterday's livecoding...

[2016-08-21 17:34] davidmolina commented on #394
This [commit](https://github.com/OperationCode/operationcode/commit/2d5b2e1eae61ff0c9fb23d983763153958718862) fixes this.

[2016-08-21 17:34] #394 closed

[2016-08-21 17:35] davidmolina commented on #392
@jeremyshorelinepark: would you like to take this one, or just a recommendation?

[2016-08-21 17:36] jpphaneuf opened #395 "Create Environment Set-up Wiki"
From Zero to Hero....I'm a complete noob and find I'm stumbling around just trying to get GitHub and Atom working....and learning all the acronyms, etc...

[2016-08-21 17:40] davidmolina commented on #395
@jpphaneuf: Perfect recommendation! I found it challenging learning this stuff when I first got started. If it wasn't for Baltimore Ruby on Rails group, and Jared and a few others, might have taken longer.

[2016-08-21 17:45] jpphaneuf commented on #395
Cool! In our Basic, we would always break down teaching points into Squads....Like coming to attention is:
Squad 1: Right knee is brought perpendicular to.....blah
Squad 2: Both clenched hands positioning beside the seam....blah
Squad 3: Blah, Blah...

Final product is achieved on completion of the last squad....and you chant out the Squads as you perform them to increase muscle memory.....

Basic

[2016-08-22 13:02] rickr commented on #392
Hi @jeremyshorelinepark - thanks for the feedback! This is actually a dup of #380 so I'm going to close this ticket and ask all discussion be moved there.

[2016-08-22 13:02] #392 closed

[2016-08-22 13:16] rickr commented on #395
Where would you like this info to be? We have [CONTRIBUTING.md](https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md) - would it be a different doc? An addition to this one?

[2016-08-22 15:27] jpphaneuf commented on #395
I don't think making a new document would be required now that I've dug in and found the CONTRIBUTING.md section....I was just having a hard time getting my environment "set-up" but have realized that there are so many variables that I don't know that a step by step install process can be maintained up to date. Between Codecademy, Lynda and the documentation in Operation-Code I think I might of fi

[2016-08-23 01:03] ty-shaikh opened #396 "K2 Data Science Scholarship"
Edit...scholarship no longer offered.

[2016-08-23 02:04] rickr commented on #396
Hi @ty-shaikh - are you guys a code school? Are you looking to be listed on https://operationcode.org/code_schools ?

[2016-08-23 02:46] hollomancer commented on #395
Maybe a GETTING_STARTED.md?

[2016-08-23 03:21] rickr commented on #395
In addition? My concern would be to have too many choices for a new user. What would be the deliminator for content in CONTRIBUTING and GETTING_STARTED?

[2016-08-23 03:33] jpphaneuf commented on #395
Have to agree with Ryan regarding document control and having too many options....so I recommend adding in a newbie section, the ones like me coming in and the last language they used was BASIC on a Commodore 64. How do I even set up the "environment" to just be able to follow along kind of stuff...but I will say there's a sense of accomplishment for figuring it out...overcoming the struggle...res

[2016-08-23 03:33] davidmolina opened #397 "Add /dwolla to header"
Working..

[2016-08-23 03:39] davidmolina opened #398 "Add landing for fundraiser"

[2016-08-23 03:40] davidmolina commented on #395
@jpphaneuf: Right. Ideally just the CONTRIBUTING doc. Maybe we just make that more explicit somewhere on the website for newbies not knowing to look into the codebase.

[2016-08-23 03:42] jpphaneuf commented on #395
A "REPORT FOR DUTY HERE" type link maybe...something catchier but you get
the gist ;)

On Mon, Aug 22, 2016 at 20:40 David Molina <notifications@github.com> wrote:

[2016-08-23 03:43] davidmolina opened #399 "Add `Upcoming Conferences` on landing"
List in order of:
- GitHub Universe

[2016-08-23 10:26] ty-shaikh commented on #396
We are a special type of code school. We teach Python and machine learning. We are creating data scientists rather than computer programmers.

Getting listed in that directory would be great. We wanted to get listed here as well (https://operationcode.org/scholarships). In the code school scholarship sections. We also would like to showcase your logo and link to your site.

[2016-08-23 19:52] davidmolina commented on #399
This [commit](https://github.com/OperationCode/operationcode/commit/bf88698ef88e6c639b95bed48e2758dab15ea24b) fixes this.

[2016-08-23 19:52] #399 closed

[2016-08-23 19:53] davidmolina commented on #386
This [commit](https://github.com/OperationCode/operationcode/commit/bf88698ef88e6c639b95bed48e2758dab15ea24b) fixes this.

[2016-08-23 19:53] #386 closed

[2016-08-23 19:53] davidmolina commented on #362
Disregard. I see the problem.

[2016-08-23 20:07] davidmolina commented on #397
Working. Currently in the bank deposit verification stage, "In 1-3 business days, we’ll make two <20¢ deposits into the account you provided. Please note the amounts, return to this page, and click “Verify” to enter the two amounts." 💯 cc @nanoxd @hollomancer

[2016-08-24 00:41] hollomancer commented on #396
Thanks, @ty-shaikh! Will look at this. Let's talk more - staff@operationcode.org

[2016-08-24 13:35] davidmolina opened #400 "Add /success-stories"
h/t to Michael Thorne! cc @hollomancer

[2016-08-24 14:11] davidmolina commented on #397
Done... Adding now. cc @nanoxd @hollomancer

[2016-08-24 14:18] davidmolina commented on #397
This [commit](https://github.com/OperationCode/operationcode/commit/f6be1900bae3a16b8e016d4b896114d36d5778f3) fixes this.

[2016-08-24 14:18] #397 closed

[2016-08-24 15:43] davidmolina opened #401 "Fix donation mailer typo"
[contribution] to [donation].

[2016-08-24 15:52] davidmolina commented on #401
This [commit](https://github.com/OperationCode/operationcode/commit/8ad843b05bea75bd359fa9d24c0197fda7cfb7df) fixes this.

[2016-08-24 15:52] #401 closed

[2016-08-25 12:57] davidmolina opened #402 "Fix /staff typo"

[2016-08-25 12:59] davidmolina commented on #402
This [commit](https://github.com/OperationCode/operationcode/commit/35b3a33c2ef45dc8a90b7eb0600274343826b8c2) fixes this.

[2016-08-25 12:59] #402 closed

[2016-08-25 13:11] davidmolina commented on #229
This [commit](https://github.com/OperationCode/operationcode/commit/3d1994a1b70f2dd3230dd0246d5c04765975e1ce) fixes this.

[2016-08-25 13:11] #229 closed

[2016-08-25 14:51] rickr commented on #396
We're good to add this. @ty-shaikh can you add yourself to [code_schools.yml](https://github.com/OperationCode/operationcode/blob/master/config/code_schools.yml) and submit a PR?

Can you also open a new ticket to add yourself to /scholarships? If you want to open a PR to add yourself there too that would be great. If not please include the copy you'd like to see on that page.

Thanks!

[2016-08-25 14:56] rickr commented on #395
Where do we stand on this issue? I'd like to add some specific tasks or close it out. I think maybe some rewording, encouragement or better intro in CONTRIBUTING.md?

[2016-08-25 20:07] davidmolina commented on #395
Better rewording--no need to reinvent the wheel.

-Dave
@davidcmolina
http://davidmolina.github.io

Sent from my iPhone

[2016-08-25 23:47] jpphaneuf commented on #395
Agreed

On Thursday, 25 August 2016, David Molina <notifications@github.com> wrote:

[2016-08-26 02:38] davidmolina commented on #261
Closing.. as we're now over on Medium. :)

[2016-08-26 02:38] #261 closed

[2016-08-26 13:07] rickr commented on #261
@davidmolina I think we still need this so we can update the blog section on opcode.org with the content from medium...unless we want to remove the recent highlights section?

[2016-08-26 13:42] rickr commented on #261
2

[2016-08-26 15:18] davidmolina commented on #261
Auto update from Medium?

[2016-08-26 17:26] rickr commented on #261
Basically yea. I haven't looked into if that's possible or not. We could just remove the blog section for now. I suspect it's not seen often (if at all). Let me see if I can pull some stats to confirm.

[2016-08-26 17:41] davidmolina commented on #261
Remove from landing? Sure. Priority there is conference & code school scholarships, sponsors and in the news.

[2016-08-26 17:57] rickr commented on #261
...it's not on there now. Ok then - this should be fine to close!

[2016-08-26 20:35] rickr commented on #381
Stealing back!

[2016-08-26 21:19] davidmolina commented on #261
Will do..

[2016-08-26 21:21] davidmolina commented on #381
Rick = 1, David = 0

[2016-08-27 04:48] jpphaneuf commented on #395
Shall I close the issue?

[2016-08-27 13:14] hollomancer opened #403 "Move off Heroku"
Heroku and AWS are costing us an arm and a leg. Let's evaluate what cloud platforms are most sustainable for us as a nonprofit.

[2016-08-27 14:13] davidmolina commented on #403
Yes.

[2016-08-27 15:42] #381 closed

[2016-08-27 15:57] #395 closed

[2016-08-27 17:44] rickr opened #405 "Center registration form partial"

[2016-08-27 17:47] rickr opened #406 "Don't log a user in after registration"
They should have to reset their password first.

[2016-08-27 17:48] rickr opened #407 "Send notification on user sign up to #chatops"

[2016-08-28 12:08] dengjonathan opened #408 "The home landing page seems a little too verbose"
While looking at the homepage- I think it might have too much information on it, potentially confusing new users/ possible partners.

I think an ideal home page would do three things:
1. Explain what operation code is tersely
2. Show how to get started in 5 minutes
3. Provide links to docs that will allow a user to dive deep if they're interested

I am using the yeoman project's landing page http:

[2016-08-28 13:13] dengjonathan opened #410 "Extend slackbot functionality to greet new users"
Our slack bot prototype could be extended to automate a lot of our onboarding process.  I think right now it involves a lot of change, i.e. people see that somebody new has logged in and they all say hello!  However, if a veteran is in a weird time zone or everyone just misses it, they could get no welcome at all, get confused and leave.  Our on-boarding experience should be more consistent, and t

[2016-08-28 13:23] rickr opened #411 "Add split gem"
https://github.com/splitrb/split

This gem will allow us to do self hosted A/B testing.

Please check to make sure the management console is protected by at least basic auth

[2016-08-28 14:03] hollomancer commented on #410
Will review and break this up into sub-issues later in the week.

[2016-08-28 14:04] hollomancer opened #412 "Getting more done in GitHub with ZenHub"
Hola! @hollomancer has created a [ZenHub](http://www.zenhub.com) account for the **OperationCode** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source

[2016-08-28 14:05] hollomancer commented on #412
@davidmolina @rickr, check it out...

[2016-08-28 14:22] hollomancer commented on #411
This is necessary technical work that will allow us to start doing A/B testing of copy, images, and layout on our site.

[2016-08-28 19:30] jeremysb1 opened #413 "Navigation Menu Cleanup"
The current navigation menu is cluttered imo. Below is a way to reduce the clutter with two of the current menu options.

Users and site visitors could opt to "Contribute" to Operation Code by clicking on a "Contribute" option on the navigation menu where "Donate" and "Shop" currently exist. Donate and Shop would then become categories under Contribute with the existing subcategories of each remai

[2016-08-29 14:56] rickr commented on #413
Great idea and excellent ticket!

[2016-08-29 15:08] jeremysb1 commented on #413
Thanks @rickr ! Less is more in design.

[2016-08-29 15:27] hollomancer commented on #408
Hmm, should we break this up into smaller issues including #409?

[2016-08-29 15:45] rickr commented on #408
I agree the home page feels a bit heavy on text. Lets use this issue to discuss and then break out actionable items into tickets in this new (milestone)[https://github.com/OperationCode/operationcode/milestone/11]. We'll probably need a ticket to generate the copy and then push those updates out per section we want to change.

@jeremysb1 do you have any input here?

[2016-08-29 16:05] jeremysb1 commented on #408
@rickr I do. I'll make a Jing video. Right now it's overkill imo and we could get the point across more concisely. My thoughts are also consistent with my thoughts on the navigation menu, which I have a new video and will be creating a new ticket for. We should definitely create a larger ticket that gets broken up into smaller issues @hollomancer.

[2016-08-29 16:54] jeremysb1 opened #414 "Contribution options from the Nav Menu"
Question:  how would users/site visitors learn how they can become sponsors, mentors, volunteers, or open source contributors once they arrive at the homepage?

Currently, they need to scroll down to the bottom of the homepage and find the options under "Contribute".

Upgrade Fix:  All of the categories under "Contribute" at the bottom of the page - "Sponsors", "open Source Contributions", "Mentor

[2016-08-29 18:44] rickr commented on #259
Merged in #343

[2016-08-29 18:44] #259 closed

[2016-08-29 18:45] rickr commented on #243
NLA

[2016-08-29 18:45] #243 closed

[2016-08-29 18:58] rickr opened #415 "Create a programming term glossary"
It should be in alphabetical order.
It should be searchable.

Can we use the github wiki?

[2016-08-29 20:14] hollomancer commented on #415
I've been wanting to do this, and a recommended reading list, for a little while. Do we want to host and update ourselves, or link out to other sites?

[2016-08-29 23:33] hollomancer opened #416 "Link Slack handle to Operation Code account"
@rickr - we're exploring Salesforce integration, to link between Slack, our website DB, and when we last contacted mentees. Looking at exporting our current user list into a CSV, for import into Salesforce.

[2016-08-30 12:59] davidmolina opened #417 "Add This Developing Story podcast to press"
https://developingstory.netlify.com/tds-66-david-molina-from-operation-code

[2016-08-30 13:00] davidmolina opened #418 "Add Seattle Times article"
http://www.seattletimes.com/news/seattles-code-fellows-wins-approval-under-gi-bill/

[2016-08-30 13:06] davidmolina commented on #417
This [commit](https://github.com/OperationCode/operationcode/commit/ed5da2bd515edcae84e1ae8864f3bd1255f43a18) fixes this.

[2016-08-30 13:06] #417 closed

[2016-08-30 13:11] davidmolina commented on #418
This [commit](https://github.com/OperationCode/operationcode/commit/0bbc38f90402a60052779711c0857492d88dffb5) fixes this.

[2016-08-30 13:11] #418 closed

[2016-08-31 00:55] jeremysb1 commented on #408
I've done major homepage redesigns and complete rebrands with product and marketing teams. During Thursday's meeting, I'll bring some questions around this which will guide us to make this happen.

[2016-08-31 13:10] davidmolina opened #419 "Change Code Fellows New GI Bill to true/yes"

[2016-08-31 13:13] davidmolina commented on #419
This [commit](https://github.com/OperationCode/operationcode/commit/c9ae10e78b31dc2b426be0b9e0087ac093d8ee03) fixes this.

[2016-08-31 13:13] #419 closed

[2016-08-31 13:18] davidmolina opened #420 "Add Code Fellows links"

[2016-08-31 13:18] davidmolina commented on #420
This [commit](https://github.com/OperationCode/operationcode/commit/c6adf6e5e7be4536fced9cf7d0a7cc0d9e190538) fixes this.

[2016-08-31 13:18] #420 closed

[2016-09-01 21:50] rickr commented on #416
@hollomancer Is this a one time process or does there need to be an API?

[2016-09-02 04:16] davidmolina opened #421 "Update Farrah Morrisey's job title in /staff"
... to Director of Development

[2016-09-02 04:17] davidmolina opened #422 "Add Jeremy Hall to staff, Technical Product Manager"

[2016-09-02 04:22] davidmolina commented on #421
This [commit](https://github.com/OperationCode/operationcode/commit/cebccedf04cbdb12cd23bf9d3a061396dad43837) fixes this.

[2016-09-02 04:22] #421 closed

[2016-09-02 04:59] davidmolina commented on #422
This [commit](https://github.com/OperationCode/operationcode/commit/1635119208e03cd5795b0f7954980232a454f542) fixes this.

[2016-09-02 04:59] #422 closed

[2016-09-02 13:03] davidmolina commented on #380
@hollomancer looks like we've resolve this with the email/zip code on landing. We can re-open if need be.

[2016-09-02 13:07] davidmolina commented on #56
@rickr, looks like this has been resolved. Closing.

[2016-09-02 13:07] #56 closed

[2016-09-02 13:08] davidmolina commented on #202
What's still left on this, @rickr?

[2016-09-02 13:10] davidmolina commented on #274
@rickr, can we close? Looks ok on desktop and mobile.

[2016-09-02 13:11] davidmolina commented on #372
@rickr, most definitely. Reviewing the docs.

[2016-09-02 14:51] rickr commented on #274
I don't think so. If you just submit the form with no email or zip you'll see the attached pic.
<img width="947" alt="screen shot 2016-09-02 at 10 50 39 am" src="https://cloud.githubusercontent.com/assets/334550/18207894/2713dbfe-70fb-11e6-8e26-d1e9431f78ac.png">

[2016-09-02 14:53] rickr commented on #202
I just did another pass over it but it might be worth it to have @jeremysb1 take a look.

[2016-09-02 15:32] jeremysb1 commented on #202
we're talking about the welcome email? what's the latest and greatest @rickr @davidmolina?

[2016-09-02 15:34] rickr commented on #202
Template is here: https://github.com/OperationCode/operationcode/blob/master/app/views/user_mailer/welcome.html.erb

[2016-09-02 15:46] jeremysb1 commented on #202
Pretty good but needed a few slight copy changes. Most notably, a brief explanation of what we use Slack for. I submitted a pull request #423

[2016-09-02 19:00] hollomancer opened #424 "Add Startup Institute to code school list"
Startup Institute

[Startup Institute](https://www.startupinstitute.com/) offers all veterans an [automatic $1,000 off](https://www.startupinstitute.com/admissions/scholarships/) the cost of their full-time program. Train to work in the innovation economy in the areas of web development, web design, digital marketing, or sales and account management. Additional scholarships are also available for:

[2016-09-02 19:00] hollomancer commented on #424
Will need to get an image for this too.

[2016-09-02 21:53] hollomancer opened #425 "SEO: Top 5 in Google Search"
I want to ensure that Operation Code appears in the top five search items when google searching "Operation Code", so that people looking for our organization can find us.

[2016-09-02 22:09] rickr commented on #425
IIRC there's a rails gem for SEO. Not sure if it's any good or not.

[2016-09-02 23:30] rickr commented on #413
Fixed in #426

[2016-09-02 23:30] #413 closed

[2016-09-02 23:42] rickr opened #427 "Add Cloud9 setup instructions to CONTRIBUTING"

[2016-09-03 05:29] AshTemp opened #430 "Mobile Menu has overlapping text"
As a user, when I view the mobile version of the page with a Chrome browser the menu squishes together. Menus should not squish.
![image](https://cloud.githubusercontent.com/assets/19790104/18222966/7cb3b6ac-716d-11e6-8438-8421cc567d63.png)

[2016-09-03 13:00] hollomancer commented on #411
http://recipes.sinatrarb.com/p/middleware/rack_auth_basic_and_digest should do the job.

[2016-09-03 13:11] rickr opened #431 "Style the "Join" link in the menu like the sign up form button."
The goal is to have our CTAs (call to actions) actually look like CTAs.

Lets try styling the join link up top the same way as a button form.

See the materialize section on buttons for help:
http://materializecss.com/buttons.html

[2016-09-03 16:46] davidmolina commented on #400
Whoa, it turns out successes already existed. Totally forgot about it: https://operationcode.org/successes.

[2016-09-03 16:50] davidmolina commented on #400
Poses a problem and breaks slightly.
![screen shot 2016-09-03 at 9 46 55 am](https://cloud.githubusercontent.com/assets/1848616/18226308/cef3a974-71bb-11e6-8fe7-51c5d921481e.png)

[2016-09-03 17:18] hollomancer commented on #427
Resolved by @AshTemp in #428

[2016-09-03 17:18] #427 closed

[2016-09-03 17:19] hollomancer commented on #403
@rickr, what do we need in terms of infrastructure for an MVP against Digital Ocean? @nellshamrell - any thoughts?

https://www.digitalocean.com/community/tutorials/how-to-manage-your-multi-node-deployments-with-rancher-and-docker-machine-on-ubuntu-14-04

[2016-09-03 17:20] AshTemp commented on #431
I'm taking this one!

[2016-09-03 17:27] AshTemp commented on #415
I think we need a space for all the awesome links we've been passing around lately. Like a place that says START HERE for the uber beginner!

IE:
Definitions
How to Git.
Examples, pictures, videos, etc.

[2016-09-03 17:49] davidmolina commented on #400
This [commit](https://github.com/OperationCode/operationcode/commit/d6b8a7d35f22e4ed9334b0d9a0f8a6f6de98d684) fixes this.

[2016-09-03 17:49] #400 closed

[2016-09-04 12:58] hollomancer opened #435 "Build more end to end tests"
This is a placeholder for a larger epic. @rickr, I think that having new coders build some simple end-to-end tests is a good way of making the site more robust, instilling good habits, and getting them familiar with working in the code.

Even if they do break because we're iterating so fast :grinning:

Thoughts?

[2016-09-04 14:35] rickr commented on #435
We should already have a milestone for end to end tests. We really don't need to many and they shouldn't break. For now we probably just want to test sign up flow and donations.

[2016-09-04 14:41] rickr commented on #403
We'll need to dockerize the rails app, postgres, redis, and whatever else I may be missing.

Created a new milestone here: https://github.com/OperationCode/operationcode/milestone/12

[2016-09-04 14:42] rickr opened #436 "Dockerize rails"

[2016-09-04 14:42] rickr opened #437 "Dockerize postgres"

[2016-09-04 14:43] rickr opened #438 "Dockerize redis"

[2016-09-04 14:45] rickr opened #439 "Connect docker containers"
Connect rails, postgres, and redis containers

[2016-09-04 14:47] rickr opened #440 "Update docs on how to setup a dev env"
This should be just something like docker compose now.

[2016-09-04 14:57] rickr opened #441 "Stand up rancher on DO"
Might be useful: https://www.digitalocean.com/community/tutorials/how-to-manage-your-multi-node-deployments-with-rancher-and-docker-machine-on-ubuntu-14-04

[2016-09-04 14:57] rickr commented on #403
First batch of tickets have been created. Going to close this out.

[2016-09-04 14:57] #403 closed

[2016-09-04 15:21] davidmolina opened #442 "Fix _footer links, clarify"

[2016-09-04 15:25] davidmolina commented on #442
This [commit](https://github.com/OperationCode/operationcode/commit/0dcbab36ebda39365a59ceec4c63a46d6958c4c8) fixes this.

[2016-09-04 15:25] #442 closed

[2016-09-04 17:31] hollomancer opened #443 "Text when a user doesn't fill out signup completely is oddly formatted."
![image](https://cloud.githubusercontent.com/assets/9288648/18232706/baf5001a-72a3-11e6-9be0-4cd5d57f4639.png)

[2016-09-04 17:31] hollomancer opened #444 "Not providing a valid email address on signup reads "Email Please provide a valid e-mail address""
![image](https://cloud.githubusercontent.com/assets/9288648/18232712/da67114a-72a3-11e6-8027-df009ef9cafc.png)

Shouldn't display "Email" at the beginning.

[2016-09-04 17:50] davidmolina opened #445 "Add /success_stories to header"
+ add to header
+ bold, emphasize stories/links
+ add submit your story CTA
+ add donate CTA

[2016-09-04 17:53] davidmolina commented on #445
This [commit](https://github.com/OperationCode/operationcode/commit/d94e5725dde6e2a7468ea5e74f4b89b217dc910b) fixes this.

[2016-09-04 17:53] #445 closed

[2016-09-04 19:04] hollomancer commented on #431
@AshTemp resolved with #429

[2016-09-04 19:04] #431 closed

[2016-09-05 03:41] #411 closed

[2016-09-05 18:12] jeremysb1 commented on #408
The first thing we should do is make the best use of our current real estate on the homepage.

As a user, I want to join and/or sign up for a newsletter when I first arrive at the homepage and don't want to have to read a lot of text to figure out what the organization is about. The ideal solution is for new joiners to sign up at the welcome gate when they first arrive to the website.

Please see

[2016-09-05 21:59] hollomancer commented on #441
Tested this out. @rickr - any opinions on docker-machine vs kubernetes?

Still waiting for DO's accounts credits to come in before moving too much further.

[2016-09-06 01:39] hollomancer opened #448 "Donate button should go directly to Square"
Intent here is that the donate dropdown in the header is no longer a dropdown - it goes directly to Square and we don't clutter the experience - @jeremysb1, think this'd be better UX?

[2016-09-06 04:35] rickr commented on #448
Do we have any plans/tickets to simplify donations? Could we just have one donation page (the one we host) and ditch the rest in the name of simplicity?

[2016-09-06 13:13] davidmolina commented on #448
@rickr, that's the plan. Move those others to the FAQs under `Donate`.

[2016-09-06 13:13] davidmolina commented on #448
Through Square, we receive the funds instantly whereas the others take a few days. Simplification here is key.

[2016-09-06 14:55] #405 closed

[2016-09-06 14:56] rickr commented on #448
Ok - and what donate button is this talking about? The menu?

[2016-09-06 14:59] hollomancer commented on #448
@rickr @davidmolina - Updated the comment to be a bit clearer on the intent.

[2016-09-06 15:01] rickr commented on #443
Dup of #274. Closing.

[2016-09-06 15:01] #443 closed

[2016-09-06 15:17] jeremysb1 commented on #448
Can you walk me through what happens after they donate? Are they taken back to operation code's homepage? We want a complete journey. Meaning, they arrive at the homepage, they select anything from the menu - in this case "Donate" which takes them to Squarecash- and they can still get back to the homepage with one click. I agree that being taken to squarecash is better UI than having 4 options in

[2016-09-06 20:07] Wimsy113 opened #450 "Hamburger menu on top of logo in mobile-Success stories page"
![slack for ios upload](https://cloud.githubusercontent.com/assets/7386887/18289103/0e66daa8-744c-11e6-85ef-db7cb99f10e6.jpg)

[2016-09-06 22:34] hollomancer opened #451 "Add Digital Ocean to sponsors list"

[2016-09-06 22:34] hollomancer opened #452 "Add Fullstack Academy to code schools list"

[2016-09-07 00:32] AshTemp opened #453 "Partner with us button doesn't work."
When viewing the Code School page as a user the Partner with us button does not work. It should open an additional window or other mail program to allow the user to e-mail staff@operationcode.org

[2016-09-07 20:38] rickr commented on #452
Website here: http://www.fullstackacademy.com/

Schools can be added in this file: https://github.com/OperationCode/operationcode/blob/master/config/code_schools.yml

[2016-09-08 15:55] hollomancer commented on #441
This is up. Need to determine whether we want a separate rancher-server-dev and rancher-server-test or not.

[2016-09-08 19:36] hollomancer commented on #441
Single server for now, MVP.

[2016-09-08 19:36] #441 closed

[2016-09-09 01:43] hollomancer commented on #410
@dengjonathan @jeremysb1 - can we generate some copy for this? I can get this going now.

[2016-09-09 01:56] hollomancer opened #454 "Acquire additional user data post-signup"
We need to know x number of Operation Code veterans are x gender, x income bracket and x level of education. The goal is to capture this data early on and post-funding compare it to actual numbers and whether there is progress.

We need a fast-follow way of getting that information after someone logs in. My take? We time it three days after signup. At that point, they're more likely to be engaged

[2016-09-09 02:55] hollomancer opened #455 "Signup Flow: Associate zip codes with region invites in Slack"
When a new user joins, we'd like to have them automatically enter a Slack chat with people in their region.

[2016-09-09 03:36] davidmolina opened #456 "Add newsletters and newsletter sign up"

[2016-09-09 15:45] kjaymiller opened #457 "Tell us your story (Getting information for Upcoming Podcast)"
I will be hosting the Operation Code Podcast. It will be an interview podcast talking to the many friends and members of Operation Code. This interview show will be primarily telling the story of its users and how they made (or are making) the transition from service member to developer.

I would like to have a page somewhere on the website that showcases the previous stories and podcast episodes.

[2016-09-09 20:37] jeremysb1 commented on #410
[https://docs.google.com/document/d/1y8hwuH75rZXaOr9cfAnRmD05KDI5RUV_vQIGdvzfj3k/edit?usp=sharing](url)

This is just initial Slackbot copy to introduce new users on the general channel. More is forthcoming to address onboarding.

[2016-09-10 15:27] hollomancer commented on #457
Working on this. Thinking of having a subdomain pointing to podcast.operationcode.org

[2016-09-10 15:28] kjaymiller commented on #457
That sounds good to me!

Jay Miller

kjaymiller@gmail.com

On Sat, Sep 10, 2016 at 8:27 AM Conrad Hollomon

<
mailto:Conrad Hollomon <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Working on this. Thinking of having a subdomain pointing to podcast.operationcode.org

—

You are receiving this because you authored the thread.

Reply to this email direct

[2016-09-10 16:03] davidmolina commented on #457
Awesome!

[2016-09-10 19:55] hollomancer commented on #410
Copy is up and bot is online in Heroku. Closing this, additional work will be in separate tasks.

[2016-09-10 19:55] #410 closed

[2016-09-10 19:56] hollomancer opened #460 "Vetbot DM's welcome sheet to new user"
Vetbot should PM the user an HTML welcome sheet with links to FAQs, docs, and a testimonial from a new user to motivate them.

[2016-09-10 19:56] hollomancer commented on #460
Needs detail/content.

[2016-09-10 19:57] hollomancer opened #461 "Vetbot does periodic surveys"
Vetbot could do a random survey and ask users why they joined, what their goal is, and save this info to a file/ db. This could be used by the development team to present to possible sponsors.

[2016-09-10 19:57] hollomancer commented on #461
What questions do we want here, and when do we want to execute the survey?

[2016-09-11 12:01] hollomancer opened #462 "Add copy for Fullstack Academy"

[2016-09-11 14:50] hollomancer opened #463 "blog.operationcode.org design and subdomain"
Wanted to get some opinions on having our blog point to blog.operationcode.org on Medium, and doing a bit of custom design here. Example.

https://backchannel.com/how-to-teach-computational-thinking-29e45c8a2664#.7o7d22l4e

[2016-09-11 18:32] hollomancer commented on #448
@rickr @davidmolina - does what @jeremysb1 propose sound good?

[2016-09-11 18:33] hollomancer commented on #416
I think this is going to need to be an API, unless Salesforce can point to the DB directly. I imagine it can, need to investigate.

Assigning to myself for research

[2016-09-12 14:48] rickr commented on #463
Is this what we do now?

[2016-09-12 14:50] rickr commented on #457
Huh...my email response didn't make it here so sorry if this gets posted twice.

This site is going to be static content right? Can we create a new repo and use github pages to serve the content?

[2016-09-12 15:32] hollomancer commented on #463
I think we just don't point the subdomain. The rest is goldplating.

[2016-09-12 18:55] rickr commented on #424
This was added in #459

[2016-09-12 18:58] rickr commented on #275
Lets leave this for now so it uses our layouts/menus etc.

[2016-09-12 18:58] #275 closed

[2016-09-12 19:00] rickr commented on #202
#423 was merged. Calling this good.

[2016-09-12 19:00] #202 closed

[2016-09-12 20:52] jeremysb1 opened #466 "homepage design above the fold"
The current homepage when users first arrive to the site needs work. We're not even using some of the current page because we have users skip the area with the pictures and white text. Also, the button is too big, as is the operation code logo. they need to be smaller.

I propose the following:

(1) we cut all pictures and the white text that's layered on top.
(2) make the space a clear white back

[2016-09-12 21:02] rickr commented on #466
I'm on board. I think this an excellent candidate for an A/B testing.

Could you file separate tickets (1 each) for resizing the logo and nav button?

[2016-09-12 21:15] jeremysb1 opened #467 "Move scholarships from code schools to "Scholarships" page."
On our scholarship page, which needs to be renamed to simply "Scholarships", there are no actual scholarships. They are on the code schools page. That doesn't follow. If I'm searching for scholarships and there is a scholarship page, my first instinct is to go there.

~~Also, the drop down menu in "What We Do" needs to be reordered by popularity. People come to us for code schools, scholarships, a

[2016-09-12 21:35] jeremysb1 opened #468 "Move "success stories" to homepage"
to start, we move all the content from the success stories page to the homepage right below the "What We Do" Section replacing the Why Operation Code and Latest News Section.

we need the homepage to cut to the chase as soon as possible to persuade people to either donate or join. the whole point of sharing success stories is to get them to either donate or join. thus, moving the success stories p

[2016-09-13 21:43] samullman commented on #453
can't find the button but this should work
`<a href="mailto:staff@operationcode.org"></a>`

[2016-09-14 05:22] jeremysb1 opened #470 "Reduce Size of the Operation Code Icon"
The Operation Code Icon and Operation Code" text in the upper left on the homepage is too big. It needs to be reduced to be just slight bigger than the size as the navigation menu text.

[2016-09-14 05:23] jeremysb1 opened #471 "Reduce Size of the Join Button"
The join button in the upper right hand side of the homepage is too big. It needs to made smaller vertically and horizontally.

[2016-09-15 07:20] hollomancer opened #479 "Latest News calls out podcasts specifically"
@jeremysb1 - Under Latest News, a couple of the quotes say,

Joe Crane, Veteran on the Move podcast
Arsalan Ahmed, Mentoring Developers podcast

What do you think of removing the word 'podcast' and italicizing the text after the comma?

[2016-09-15 18:27] #424 closed

[2016-09-16 19:56] hollomancer commented on #462
Resolved with #483

[2016-09-16 19:56] #462 closed

[2016-09-16 21:26] karla001 commented on #452
@hollomancer  Should this issue be closed? Is there any way I can do that?

[2016-09-16 21:32] hollomancer commented on #452
If you add the issue number to the pull request, it'll link them. Like so! #483

[2016-09-16 21:32] #452 closed

[2016-09-17 13:07] hollomancer opened #485 "Signup should not reference veterans specifically"
I've gotten a number of comments over the past couple of months from potential members who are a bit unclear as to whether they can actually sign up, since they are not specifically veterans.

The URL for signing up specifically references veterans, so I'm wondering if there's a way we can make it clearer in our copy that everyone is welcome.

[2016-09-17 18:22] hollomancer opened #486 "Create swag button that links directly to CottonBureau"
Add a new entry to the 'Donate' menu.
It should be labeled "Swag" and point to https://cottonbureau.com/products/operation-code-medal

Original ticket:

[2016-09-17 19:22] davidmolina commented on #486
This is perfect. Quick and fast. We'll leave to Jeremy on best placement

[2016-09-18 15:43] thinkingserious commented on #377
https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/082/35f/3df5319.jpg

[2016-09-19 15:25] rickr commented on #485
https://operationcode.org/sign_up works. I believe #246 would help solve this as well. With no objections I'll close this as a dup.

[2016-09-19 15:46] rickr opened #489 "Reorder "What We Do" Menu section"
The drop down menu in "What We Do" needs to be reordered by popularity.

Order should be
* Code Schools
* Scholarships
* All other items

[2016-09-19 15:46] rickr commented on #467
#489 created to reorder the menu.

[2016-09-19 18:06] codigopluspluscom commented on #430
hey man! I can help!

[2016-09-19 19:43] hollomancer opened #490 "Add mailing address to website"
farrah [3:36 PM]
Also, i´m wondering if we want to put an office address that people can mail a check to? Old school, I know, and do we want people to know our address. But some organizations have a PO Box here people can mail.

Need to determine the best place for this @rickr @jeremysb1

[2016-09-19 19:47] jeremysb1 commented on #490
the ideal solution would be a contact us page like black girls code

[2016-09-19 20:35] hollomancer opened #491 "Move Donations FAQ under Donations tab"
farrah [2:58 PM]
I´m seeing that we have a FAQ about Donations, and i´m thinking it would be better to have it under the Donations tab. What do you say?

@davidmolina @jeremysb1 - thoughts?

[2016-09-19 20:41] hollomancer opened #492 "Add copy for donations page"
Companies & Foundations
Your generous, tax deductible donation to Operation Code will help active military, citizen-soldiers,
veterans and their families coding and building software to change the world, and change their lives
dramatically for the better. (Include letter)
Since it was founded in August, 2014, Operation Code has helped over 600 veterans learn how to
code, more than 129 leverage sch

[2016-09-19 20:43] hollomancer commented on #430
@codigopluspluscom Let us know if you have a fix and submit a PR!

[2016-09-19 21:25] Farrah2020 commented on #492
We need to add a signed letter from David Molina where it says (Include letter).

[2016-09-20 00:58] rickr commented on #430
It looks like this has been fixed so I'm going to close the ticket. Please do feel free to jump into any of our other issues!

[2016-09-20 00:58] #430 closed

[2016-09-20 14:12] codedoll commented on #489
@rickr just making sure I got this right.

**You wanted to rearrange from this:**
<img width="1303" alt="screen shot 2016-09-20 at 10 11 38 am" src="https://cloud.githubusercontent.com/assets/17578236/18673681/b661c550-7f1a-11e6-8ee1-6f926a50c4ff.png">

**To this:**
<img width="1325" alt="screen shot 2016-09-20 at 10 11 25 am" src="https://cloud.githubusercontent.com/assets/17578236/18673698/c1f7e

[2016-09-20 17:15] rickr commented on #489
That's correct!

[2016-09-20 19:16] rickr commented on #489
Fixed in #493

[2016-09-20 19:16] #489 closed

[2016-09-20 23:58] codedoll commented on #453
This seems to be working on my end. When I click "Partner With Us" it opens my mail client with the recipient filled as "staff@operationcode.org" @AshTemp were you using a specific device?

[2016-09-21 00:30] AshTemp commented on #453
I was using my desktop with Chrome.

[2016-09-21 00:40] codedoll commented on #453
@AshTemp is it possible you don't have a default email client set up?

[2016-09-21 00:54] codedoll commented on #470
Is this a good enough size?
# **ORIGINAL:**
<img width="502" alt="screen shot 2016-09-20 at 8 53 56 pm" src="https://cloud.githubusercontent.com/assets/17578236/18694009/6730dd68-7f74-11e6-890a-165003d60d6c.png">
<img width="1264" alt="screen shot 2016-09-20 at 8 54 05 pm" src="https://cloud.githubusercontent.com/assets/17578236/18694010/6732bec6-7f74-11e6-886c-e79da52488bc.png">

# **EDITED**
<im

[2016-09-21 00:57] codedoll commented on #470
I changed the logo from:
[code]

to
[code]

[2016-09-21 02:12] jeremysb1 commented on #470
looks good!

[2016-09-21 14:47] rickr commented on #453
Tried in Firefox, Chrome, and Safari and had no issues there. @AshTemp I think this is local to your machine. Closing this out.

[2016-09-21 14:47] #453 closed

[2016-09-21 14:48] #485 closed

[2016-09-21 14:50] rickr commented on #486
Lets put this under donate.

[2016-09-21 14:53] rickr commented on #490
What other items are on the contact page?  This seems like a good candidate to throw in the footer.

[2016-09-21 14:58] rickr commented on #492
@Farrah2020 Who has that letter?

[2016-09-21 14:59] rickr commented on #491
I think if we need to have FAQ in close proximity to our donations page we're doing something wrong.

[2016-09-21 17:40] Farrah2020 commented on #492
Ok. I just need to have Dave Molina sign it and will get it back to you
soon.

On Wed, Sep 21, 2016 at 7:58 AM, Rick <notifications@github.com> wrote:

--

Farrah Morrisey
Director of Development
<https://operationcode.org/>
Email: farrah@operationcode.org

<https://www.facebook.com/operationcode.org>
<https://twitter.com/operation_code>

Donate. Scholarships <https://operationcode.org/donations/n

[2016-09-21 17:40] rickr opened #494 "Fix cd directory in the Getting Started guide"
In CONTRIBUTING.md in the [Operation Code section](https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md#operation-code) the directory a user `cd`s into is incorrect.

It should be changed from `cd operationcode` to `cd operationcode-upstream`

[2016-09-22 02:10] davidmolina commented on #491
Exactly.

Most definitely we're doing something wrong when donations simply don't come in, when we struggle just to maintain financially.

[2016-09-23 04:34] jeremysb1 commented on #490
Below is an example of a contact us page. It can have a form where people ask questions and see our mailing address.

http://www.blackgirlscode.com/contact-us.html

[2016-09-23 04:37] jeremysb1 commented on #463
solid idea. it would allow people to get back to the homepage by having a home option on the navigation menu.

[2016-09-23 04:41] jeremysb1 commented on #454
auto mailer would be my vote. it would allow us to explain why we need the info and how answering the questions helps the mission.

[2016-09-23 19:06] jeremysb1 opened #496 "Link homepage from blog"
Site visitors are unable to return to the homepage from the blog. If they can't return to the homepage, they are unable to complete any call to action if they aren't already members or if they want to donate.

My .02 is to simply hyperlink the "Operation Code" text illustrated in the screen share picture below to the Operation Code homepage.

http://screencast.com/t/3AdDMz5snYh (screen share pictu

[2016-09-23 20:25] Farrah2020 commented on #492
Hi Rick,
David will get you the final letter.
Farrah

Farrah Morrisey
Director of Development
<https://operationcode.org/>
Email: farrah@operationcode.org

<https://www.facebook.com/operationcode.org>
<https://twitter.com/operation_code>

Donate. Scholarships <https://operationcode.org/square>.
Hire our veterans. Fellowship Program <https://operationcode.org/employers>.
Let us build your web app.

[2016-09-25 18:06] karla001 commented on #494
I fixed this but i am not sure how to create the pull request to merge it to this  repository from my fork.

[2016-09-27 21:38] hollomancer commented on #461
This is done in the Slack bot repo.

[2016-09-27 21:38] #461 closed

[2016-09-27 21:38] hollomancer commented on #460
This is done in the Slack bot as an env variable.

[2016-09-27 21:38] #460 closed

[2016-09-27 21:40] #412 closed

[2016-09-27 23:22] mkoppmann commented on #451
Commit a0b8541 already fixed this.

[2016-09-27 23:29] rickr commented on #284
Simplifying a bit. This PR will now:
* Add a route called /mentors/sign_up
* Render the same signup form
* Automatically mark the new member as a mentor

[2016-09-28 00:24] davidmolina commented on #284
Woohoo!

[2016-09-28 14:24] abbylarner commented on #486
I'd like to try this one out!

[2016-09-28 14:36] rickr commented on #486
Hi abbylarner - looks like this was already completed yesterday in #507

[2016-09-28 14:36] #486 closed

[2016-09-28 14:38] abbylarner commented on #486
Ah! I missed that :) Thanks!

[2016-09-28 14:42] codedoll commented on #450
@rickr my fix to #470 fixes this also.

[2016-09-28 15:00] #471 closed

[2016-09-28 15:01] #451 closed

[2016-09-28 21:32] jeremysb1 opened #511 "Website Redesign"
This epic will encompass the redesign of our website with an improved user experience and website performance so folks are able to "get involved" (Join, Donate, Mentor, Partner) and more concisely learn the benefits of getting involved from our homepage. Also, improved will be our code schools page, scholarship pages, and blog.

[2016-09-28 21:46] thehhugg commented on #379
I'd love to do some work on this.

[2016-09-29 02:49] aaron-suarez opened #512 "Prevent code from showing"
![opcodeerror](https://cloud.githubusercontent.com/assets/2008701/18939340/3be7d5a6-85c5-11e6-961a-4690d66311c0.jpg)

On Windows 7/Internet Explorer 11, the navigation bar displays as "arrow_drop_down" across the top.

[2016-09-29 03:35] aaron-suarez opened #513 "Create Learning Resources page"
Operation Code could use a page where people can go to find free websites and other resources to learn coding basics, cyber security, and other relevant topics. It should be broken down by topic. Would also be cool if there is a way for people to contribute new resources as they come across them.

[2016-09-29 15:43] aaron-suarez opened #514 "Fix typo in FAQ"
Under question "Why doesn't Operation Code offer services to non-military/veterans?" it says "..we believes it is our moral obligation.."

This should be changed to "...we **believe** it is our moral obligation..." (bold added for emphasis).

[2016-09-29 15:57] aaron-suarez commented on #514
Also, under this question it says "the numbers speak for themselves" but I don't see any numbers. Not sure if this is a fully separate issue or something to do with my setup...

[2016-09-30 14:16] arijitad commented on #444
i will try this one.

[2016-09-30 14:26] rickr commented on #444
Hi @arijitad - FYI there is a PR open awaiting response from @jcserracampos

[2016-09-30 18:54] jeremysb1 commented on #496
another option is to simply have the blog open in a whole new window.

[2016-10-01 00:11] rickr commented on #25
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:11] #25 closed

[2016-10-01 00:11] rickr commented on #54
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:11] #54 closed

[2016-10-01 00:12] rickr commented on #62
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:12] #62 closed

[2016-10-01 00:12] rickr commented on #65
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:12] #65 closed

[2016-10-01 00:12] rickr commented on #76
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:12] #76 closed

[2016-10-01 00:13] rickr commented on #89
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:13] #89 closed

[2016-10-01 00:13] rickr commented on #90
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:13] #90 closed

[2016-10-01 00:13] rickr commented on #94
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:13] #94 closed

[2016-10-01 00:13] rickr commented on #99
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:13] #99 closed

[2016-10-01 00:14] rickr commented on #116
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:14] #116 closed

[2016-10-01 00:14] rickr commented on #117
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:14] #117 closed

[2016-10-01 00:14] rickr commented on #118
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:14] #118 closed

[2016-10-01 00:14] rickr commented on #119
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:14] #119 closed

[2016-10-01 00:14] rickr commented on #128
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:14] #128 closed

[2016-10-01 00:14] rickr commented on #138
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:14] #138 closed

[2016-10-01 00:15] rickr commented on #139
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:15] #139 closed

[2016-10-01 00:15] rickr commented on #140
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:15] #140 closed

[2016-10-01 00:15] rickr commented on #141
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:15] #141 closed

[2016-10-01 00:15] rickr commented on #143
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:15] #143 closed

[2016-10-01 00:15] rickr commented on #144
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:15] #144 closed

[2016-10-01 00:15] rickr commented on #145
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:15] #145 closed

[2016-10-01 00:16] rickr commented on #146
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:16] #146 closed

[2016-10-01 00:16] rickr commented on #147
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:16] #147 closed

[2016-10-01 00:16] rickr commented on #150
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:16] #150 closed

[2016-10-01 00:16] rickr commented on #174
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:16] #174 closed

[2016-10-01 00:16] rickr commented on #197
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:16] #197 closed

[2016-10-01 00:17] rickr commented on #204
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:17] #204 closed

[2016-10-01 00:17] rickr commented on #213
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:17] #213 closed

[2016-10-01 00:17] rickr commented on #214
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:17] #214 closed

[2016-10-01 00:18] rickr commented on #232
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:18] #232 closed

[2016-10-01 00:18] rickr commented on #234
Closing this out due to lack of activity. Please feel free to open a new issue if this is still needed.

[2016-10-01 00:18] #234 closed

[2016-10-01 00:19] #240 closed

[2016-10-01 00:19] #241 closed

[2016-10-01 00:19] #244 closed

[2016-10-01 00:19] #254 closed

[2016-10-01 00:19] #258 closed

[2016-10-01 00:19] #262 closed

[2016-10-01 00:20] rickr commented on #266
This exists.

[2016-10-01 00:20] #266 closed

[2016-10-01 15:12] jotasprout commented on #376
If this is still open, I'll take it and crank it out.

[2016-10-01 15:33] jotasprout commented on #376
Working on it now.

[2016-10-01 16:39] jotasprout commented on #376
If this is still needed, I can take it on.

[2016-10-01 16:43] rickr commented on #376
Go for it @jotasprout !

[2016-10-01 18:02] jotasprout commented on #376
Rock on. I'm going through the Contributor instructions setting up my environment now.

[2016-10-01 20:06] kopijunkie commented on #514
@aaron-suarez technically a separate issue as it isn't a typo, but I believe 3 of the 4 lines of text that follows just under "These numbers speak for themselves:" is meant to be a bulleted list. I'm assuming you're looking to fix this issue too so to point you in the right direction, have a look at how the HTML is being used in the YAML file.

[2016-10-01 21:37] jotasprout commented on #376
Nevermind. I've spent hours trying to get this Ruby environment installed and configured on both my Ubuntu laptop and iMac. Each is having it's own problems. I give up.

[2016-10-02 03:11] jeremysb1 commented on #513
yeah this is a good one. we'll address with developing the new onboarding program. if you have any design recommendations or mockups, they are welcome.

[2016-10-02 15:35] hollomancer commented on #513
@aaron-suarez - We've created a repo where people can add these resources under https://github.com/OperationCode/mentorship - when the new onboarding/design becomes available, we'll port the content over to the site!

[2016-10-02 20:18] jotasprout commented on #376
When I try to install redis using brew, I get two errors that it couldn't link a couple directories and that I should delete those paths and run 'brew update.' That doesn't mean to delete the directories, does it? Is there a file in which I should delete references to them?

[2016-10-02 20:29] jotasprout commented on #376
I can find the page in question on the live site but not in the files cloned to my local repo.

[2016-10-02 22:38] jeremysb1 opened #517 ""Get Involved" Page"
We should have one page, a "Get Involved" Page accessible from the homepage, where people can determine their level of involvement, whether they're new joiners, mentors, partners, or donate. The video below will illustrate its design.

http://screencast.com/t/m6Yin6ckVhNz

[2016-10-02 22:45] jeremysb1 opened #518 "Join Page"
From the "Get Involved" page, folks can select the option to join to get a mentor, learn about code schools, scholarships, careers, etc. We already have a [page](https://operationcode.org/veterans/sign_up), but it needs some design love.

Please see the video below for further illustration.

http://screencast.com/t/mEdex6SkFl

[2016-10-02 22:53] jeremysb1 opened #519 "Mentor Page"
From the Get Involved Page, folks ought to be able to learn about the mentorship program and be able to sign up. Please see the video below for further illustration.

http://screencast.com/t/8V278JZDxVuA

[2016-10-02 22:58] jeremysb1 opened #520 "Partner Page"
From what I gather, our current partners are code schools offering scholarships to veterans. So we ought to solicit new partners from a partnership page allowing them to learn a about what we offer, how partnering with us is to their benefit, and allow them to sign up for more information from the "Get Involved" page. Please see the video below for further illustration.

http://screencast.com/t/3j

[2016-10-02 23:06] jeremysb1 commented on #448
Let's just stick with the square page, accessible from the "Get Involved" Page, illustrated in the video below. The square page will open in a new window just like paypal does for resilient coders.

http://screencast.com/t/ASstv0lcC2tY

[2016-10-02 23:07] jeremysb1 opened #521 "From "Join" to "Get Involved""
We change "Join" to "Get Involved" on the homepage just like [Resilient Coders](http://www.resilientcoders.org/). From there, they are able to access the "Get Involved" page and contribute to Operation Code as a partner, new joiner, mentor, or donate. Please see the video below for illustration.

http://screencast.com/t/Wh3Pf7ysy

[2016-10-02 23:14] codedoll commented on #521
<img width="1204" alt="screen shot 2016-10-02 at 7 12 56 pm" src="https://cloud.githubusercontent.com/assets/17578236/19024589/65e865c0-88d4-11e6-9729-5e87d157016d.png">
@jeremysb1 does this look good?

[2016-10-02 23:19] jeremysb1 commented on #490
Let's just throw this in the footer like Resilient Coders.

http://screencast.com/t/3otYqaDduCU

[2016-10-02 23:30] jeremysb1 commented on #521
yes. we also need another CTA for people to "Get Involved" directly on the page. Meaning, we remove the "Teach Me to Code" button altogether and change it to a "Get Involved" Button taking users to the 'Get Involved" Page just like in the screenshare below and the video in my first comment above.

http://screencast.com/t/GMIbsvWr4PTB